.rating-block {
	margin-top: -10px;
}

.p-rating__title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 17px;
}

.p-rating__desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}

.rating-top-nav {
	margin-bottom: 24px;
}

.rating-top-nav__title {
	font-size: 16px;
	@include font(bold);
	float: left;
	margin-right: 15px;
}

.owl-rating-top-nav__wrap,
.rating-bot-nav {
	position: relative;

	&:before {
		content: "";
		display: block;
		width: 100%;
		bottom: 0;
		height: 1px;
		background: #ebeced;
		position: absolute;
	}
}

.owl-rating-top-nav__item {
	margin-right: 19px;
}

.owl-rating-top-nav__link {
	display: block;
	font-size: 16px;
	@include font(bold);
	@include linksHover();
	border-bottom: 3px solid transparent;
	padding-bottom: 17px;

	&.active {
		border-bottom: 3px solid #FF9F00;
	}
}

.owl-rating-top-nav,
.owl-rating-bot-nav {
	.owl-stage {
		white-space: nowrap;
		display: flex;
	}

	.owl-item:last-child {
		.owl-rating-top-nav__item,
		.owl-rating-bot-nav__item {
			margin-right: 0;
		}
	}
}

.owl-rating-bot-nav__item {
	margin-right: 86px;
	margin-bottom: 12px;
}

.owl-rating-bot-nav__link {
	display: block;
	font-size: 14px;
	@include font(semi);
	@include linksHover();
	border-bottom: 3px solid transparent;
	padding-bottom: 11px;
	position: relative;

	&.active {
		border-bottom: 3px solid #35bd9f;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 0; 
			height: 0; 
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 12px solid #35bd9f;
			left: 50%;
			transform: translateX(-50%);
			top: 100%;
		}
	}
}

.rating-bot-nav {
	margin-bottom: 13px;

	&:before {
		bottom: 12px;
	}
}

.rating-table {
	width: 100%;
	margin-bottom: 40px;

	thead {
		th {
			background: #272727;
			height: 40px;
			vertical-align: middle;
			font-size: 12px;
			color: #fff;
			padding: 0 10px;
			white-space: nowrap;
		}
	}
	
	tbody {
		font-size: 16px;
		@include font(bold);

		tr {
			border: 1px solid transparent;
			border-bottom-color: #35bd9f;

			&.rating-table_tr-hover {
				border: 1px solid #FF9F00;
			}

			&.rating-table_tr-border-bottom {
				border-bottom: 1px solid #FF9F00;
			}
		}
		
		td {
			padding: 5px 10px;
			height: 67px;
		}
	}

	td, th {
		&:first-child {
			padding-left: 20px;
		}

		&:last-child {
			padding-right: 50px;
		}
	}

	.doc-aside__info-metro-list {
		margin-bottom: -10px;
	}

	&.rating-table_kid {
		thead {
			th {
				background: #35bd9f;
			}
		}
	}
}

.rating-block {
	margin-bottom: 65px;
}

.rating-table__title {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 18px;
	color: #131313;
	display: inline-block;
	@include font(ext);
	@include linksHover();

	span {
		border-bottom: 1px solid #131313;
	}
}

.rating-table__quant {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	line-height: 40px;
	text-align: center;
	font-size: 17px;
	@include font(bold);
	margin: 0 auto;
}

.rating-table__points {
	font-size: 19px;
	@include font(bold);
	text-align: center;
}

.rating-head-kid-icon {
	width: 17px;
	height: 20px;
	display: block;
	background: image-url('svg-icons/bear-white.svg') no-repeat;
	background-size: contain;
	margin-left: -5px;
}