/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.p-rating__title {
		font-size: 31px;
	}

	.rating-table {
		thead {
			th:nth-child(3) {
				white-space: initial;
				text-align: center;
			}
		}
	}

	.owl-rating-bot-nav__item {
		margin-right: 42px;
	}

	.rating-bot-nav {
		margin-left: -30px;
		margin-right: -30px;
	}

	.owl-rating-bot-nav {
		.owl-stage-outer {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.rating-top-nav {
		margin-right: -30px;
	}

	.owl-rating-top-nav {
		.owl-stage-outer {
			padding-right: 30px;
		}
	}

	.owl-rating-top-nav__wrap {
		margin-left: -30px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.owl-rating-top-nav__wrap {
		margin-left: 0;
	}

	.rating-top-nav {
		margin-left: -30px;
	}

	.owl-rating-top-nav {
		.owl-stage-outer {
			padding-left: 30px;
		}
	}

	.rating-top-nav__title {
		display: none;
	}

	.owl-rating-top-nav__item {
		margin-right: 35px;
	}

	.table-rating-wrap {
		margin-right: -30px;
		margin-left: -30px;
	}

	.rating-table tbody {
		font-size: 12px;
	}

	.rating-table td:first-child, .rating-table th:first-child {
		padding-left: 10px;
	}

	.rating-table thead th {
		font-size: 10px;
		padding: 5px;
	}

	.rating-table thead th:nth-child(3) {
		width: 83px;
	}

	.rating-table td:last-child, .rating-table th:last-child {
		padding-right: 25px;
	}

	.rating-table tbody td {
		padding: 5px;
	}

	.rating-table__title {
		font-size: 14px;
		margin-bottom: 6px;
	}

	.rating-table .doc-aside__info-metro-item {
		font-size: 11px;
	}

	.rating-table__quant {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
	}

	.rating-table__points {
		font-size: 15px;
	}

	.rating-block {
		.doc-main__prices-btn {
			max-width: 320px;
			padding: 15px 24px;
		}
	}

	.rating-table tbody td {
		height: 100px;
	}

	.rating-head-kid-icon.visible-sm {
		margin-left: 0;
		margin-right: 7px;
		display: inline-block !important;
		vertical-align: middle;
	}

	.rating-head-kid-icon + span {
		vertical-align: middle;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.rating-head-kid-icon {
		margin-left: 0;
		margin-right: -10px;
	}

	.rating-head-kid-icon.hidden-xs {
		display: none !important;
	}

	.p-rating__title {
		font-size: 28px;
	}

	.table-rating-wrap {
		margin-right: -15px;
		margin-left: -15px;
	}

	.rating-table__quant {
		margin-bottom: 5px;
	}

	.rating-table thead th:nth-child(3) {
		width: 105px;
		padding: 5px;
	}

	.rating-table tbody td:nth-child(3) {
		padding: 5px;
	}

	.rating-table tbody td {
		padding: 10px;
	}

	.rating-table thead th {
		padding: 10px;
	}

	.rating-table td:first-child, .rating-table th:first-child {
		padding-left: 15px;
	}
}