.p-help {
	padding-top: 35px;
	padding-bottom: 70px;
}

.p-help-t {
	margin-bottom: 70px;
}

.p-help-t-c {
	background: #062f39;
	padding-top: 50px;
	padding-bottom: 60px;
}

.p-help-t__title {
	font-size: 38px;
	text-align: center;
	@include font(ext);
	color: #fff;
	margin-bottom: 40px;
}

.p-help-t__abil-list {
	display: flex;
	margin-right: -10px;
	justify-content: center;
	padding-left: 50px;
	margin-bottom: 45px;
}

.p-help-t__abil-item {
	display: flex;
	width: 195px;
	margin-right: 10px;
	align-items: center;
}

.p-help-t__abil-item-img {
	max-width: 100%;
	height: auto;
}

.p-help-t__abil-item-l {
	flex: 0 0 auto;
	width: 70px;
	margin-right: 10px;
}

.p-help-t__abil-item-text {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.p-help-t__mid-wrap {
	max-width: 600px;
	margin: 0 auto;
}

.p-help-t__info {
	font-size: 16px;
	@include font(light);
	color: #9b9b9b;
	margin-bottom: 17px;

	b {
		@include font(bold);
	}

	.p-help-t__info_orange {
		color: #ff9f00;
	}
}

.p-help-t__input {
	background: #fff;
	width: 100%;
	border-radius: 3px;
	outline: none;
	border: none;
	height: 42px;
	padding: 0 15px;
	font-size: 16px;

	&::placeholder {
		color: rgba(#000, 0.3);
	}
}

.p-help-t__input-wrap {
	margin-bottom: 20px;
}

.p-help-t__input-error-msg {
	display: none;
	font-size: 12px;
	color: #e14f69;
	margin-top: 5px;
}

.p-help-t__form {
	.error {
		.p-help-t__input-error-msg {
			display: block;
		}
	}
}

.p-help-t__input-wrap-cols {
	display: flex;
}

.p-help-t__input-wrap-col-36 {
	flex: 0 0 auto;
	width: 36%;
	margin-right: 42px;
}

.p-help-t__input-wrap-col-auto {
	flex: 1;
}

.p-help-t__textarea {
	background: #fff;
	width: 100%;
	border-radius: 3px;
	outline: none;
	border: none;
	height: 42px;
	padding: 15px;
	font-size: 16px;
	resize: none;
	height: 120px;

	&::placeholder {
		color: rgba(#000, 0.3);
	}
}





.p-help-t__bot-info-checkbox {
	display: none;
}

.p-help-t__bot-info-label {
	cursor: pointer;
}

.p-help-t__bot-info-checkbox-text {
	font-size: 14px;
	padding-left: 26px;
	position: relative;
	color: #ff9f00;
	display: inline-block;

	.p-help-t__bot-info-checkbox-text_border {
		border-bottom: 1px dashed #ff9f00;
		@include linksHover();
	}
}

.p-help-t__bot-info-checkbox-text:before {
	@extend %icons;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background: #fff;
}

.p-help-t__bot-info-checkbox-text:after {
	@extend %icons;
	left: 3px;
	display: none;
	background: image-url("svg-icons/check_orange.svg") no-repeat center;
	width: 11px;
	height: 12px;
	background-size: contain;
}

.p-help-t__bot-info-checkbox:checked + .p-help-t__bot-info-checkbox-text:after {
	display: block;
}

.p-help-t__bot-info-subtext {
	font-size: 14px;
	color: #b8b8b8;
	margin-left: auto;
}

.p-help-t__bot-info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.p-help-t__sbm-btn {
	outline: none;
	border: none;
	border-radius: 3px;
	width: 280px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #ff9f00;
	@include font(bold);
	letter-spacing: 0.3px;
	text-transform: uppercase;
	margin: 0 auto;
	@include linksHover();
	display: block;
}

.p-help-m {
	margin-bottom: 60px;

	.main-top__separ {
		color: #000;
		@include font(bold);
	}

	.main-top__btn-search {
		@include states {
			background: #ff9f00;
		}
		@include linksHover();
	}
}

.p-help-m-c {
	background: image-url('help-banner-bg.png') no-repeat;
	background-size: cover;
	background-position: right center;
	padding: 45px 40px 55px 40px;
}

.p-help-m__subtitle {
	font-size: 32px;
	line-height: 42px;
	@include font(ext);
	margin-bottom: 15px;
}

.p-help-m__title {
	font-size: 45.5px;
	@include font(ext);
	line-height: 42px;
	margin-bottom: 40px;
}

.p-help-doctors {
	.best__head-link {
		color: #ff9f00;
		border-color: #ff9f00;
	}
}

.p-help-doctors__list {
	padding-top: 35px;
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none;
	}
}

.p-help-doctors__item-c {
	position: relative;
	background: #fff;
	padding: 32px 35px 20px 35px;
}

.p-help-doctors__item-img-container {
	width: 100%;
	padding-top: 100%;
	position: relative;
	border-radius: 50%;
	margin-bottom: 25px;
	overflow: hidden;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 55%;
		top: 0;
		width: 100%;
		opacity: 0.45;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
		z-index: 1;
	}
}

.p-help-doctors__item-img {
	position: absolute;
	top: 0;
	left: 0;
}

.p-help-doctors__item-badge {
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	width: 163px;
	height: 24px;
	font-size: 0;
	color: transparent;
	text-indent: -99999px;
	background: image-url('svg-icons/help-expert-badge.svg') no-repeat;
	background-size: contain;
}

.p-help-doctors__item-title {
	font-size: 15px;
	@include font(bold);
	text-align: center;
	margin-bottom: 6px;
}

.p-help-doctors__item-prof {
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.p-help-doctors__item-stars {
	display: flex;
	justify-content: center;

	.best__c-b-r-stars {
		padding-bottom: 0;
	}

	.best__c-b-r-count {
		font-size: 15px;
		color: #ff9f00;
	}

	.best__c-b-r-comments {
		color: #000;
		font-size: 12px;
		white-space: nowrap;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.8);
		transform-origin: 0 50%;
		margin-right: 0;
	}

	.best__c-b-r-stars__orange .best__c-b-r-star {
		background: image-url("search-page-v2/star_oranger.svg") no-repeat center;
	}
}

.p-help-t__time-wrap {
	display: flex;
	align-items: center;
	margin-bottom: 27px;
	margin-top: 27px;
}

.p-help-t__time-text {
	font-size: 16px;
	@include font(ext);
	color: #fff;
}

.p-help-t__time-selects {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.p-help-t__time-select {
	outline: none;
	border: 1px solid #ebeced;
	border-radius: 5px;
	background: #fff;
	height: 25px;
	font-size: 14px;
	margin-right: 20px;
	padding: 0 5px;

	&:last-child {
		margin-right: 0;
	}
}

.p-help-t__slider-title {
	font-size: 16px;
	@include font(ext);
	color: #fff;
	margin-bottom: 15px;
	width: 100%;
	flex: 0 0 auto;
}

.p-help-t__slider-wrap {
	margin: 27px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.p-help-t__bot-info-radio-label {
	cursor: pointer;
}

.p-help-t__bot-info-radio {
	display: none;

	&:checked + .p-help-t__bot-info-radio-text:after {
		display: block;
	} 
}

.p-help-t__bot-info-radio-text {
	font-size: 16px;
	@include font(ext);
	color: #fff;
	position: relative;
	padding-left: 26px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #fff;
		top: 1px;
		left: 0;
	}

	&:after {
		display: none;
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #ff9f00;
		margin: 4px;
		top: 1px;
		left: 0;
	}
}

.p-help-t__time-input {
	background: #fff;
	width: 100%;
	border-radius: 3px;
	outline: none;
	border: none;
	height: 35px;
	padding: 0 15px;
	font-size: 14px;

	&::placeholder {
		color: rgba(#000, 0.3);
	}
}

.p-help-t__time-item {
	margin-right: 10px;
	width: 180px;
	flex: 0 0 auto;

	&:last-child {
		margin-right: 0;
	}
}