/* xs+sm */
@media screen and (max-width: 991px) {
	.p-help-t-c {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.p-help-t__title {
		font-size: 32px;
	}

	.p-help-t__abil-list {
		padding-left: 25px;
	}

	.p-help-t__abil-item {
		width: 155px;
	}

	.p-help-t__abil-item-l {
		width: 55px;
	}

	.p-help-t__abil-item-text {
		font-size: 12px;
		line-height: 14px;
	}

	.p-help-m-c {
		padding: 35px 30px 45px 30px;
	}

	.p-help-m__subtitle {
		font-size: 27px;
		line-height: 35px;
	}

	.p-help-m__title {
		font-size: 39px;
		line-height: normal;
		margin-bottom: 30px;
	}

	.p-help-doctors__item-stars  {
		.best__c-b-r-stars-wrap {
			margin-right: -10px;
		}
	}

	.p-help-doctors__item-badge {
		width: 140px;
		height: 21px;
	}

	.p-help-doctors__item-c {
		padding: 20px 20px 15px 20px;
	}

	.p-help-doctors {
		.best__title {
			font-size: 25px;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-help {
		padding-top: 0;
		padding-bottom: 35px;
	}

	.p-help-t-c {
		margin-left: -15px;
		margin-right: -15px;
		padding: 25px 15px 30px 15px;
	}

	.p-help-t__title {
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 25px;
	}

	.p-help-t__abil-list {
		padding-left: 0;
		flex-wrap: wrap;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.p-help-t__abil-item {
		flex: 0 0 auto;
		width: 50%;
		padding: 0 5px;
		margin-right: 0;
		margin-bottom: 14px;
		flex-direction: column;

		&:nth-child(1){
			order: 3;
		}

		&:nth-child(2){
			order: 2;
		}

		&:nth-child(3){
			order: 1;
		}

		&:nth-child(4){
			order: 4;
		}
	}

	.p-help-t__abil-item-l {
		margin-right: 0;
		margin-bottom: 5px;
		width: 70px;
	}

	.p-help-t__abil-item-text {
		font-size: 14px;
		line-height: 16px;
		text-align: center;
	}

	.p-help-t__info {
		text-align: center;
		margin-bottom: 30px;
	}

	.p-help-t__input-wrap {
		margin-bottom: 10px;
	}

	.p-help-t__input-wrap-cols {
		flex-direction: column;
	}

	.p-help-t__input-wrap-col-36 {
		width: 100%;
		margin-right: 0;
	}

	.p-help-t__time-wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.p-help-t__time-text {
		margin-bottom: 12px;
	}

	.p-help-t__time-selects {
		margin-left: 0;
		flex-wrap: wrap;
		width: 100%;
	}

	.p-help-t__time-select {
		&:last-child {
			width: 100%;
			margin-top: 14px;
		}

		&:nth-child(1){
			width: calc(65% - 10px);
			margin-right: 10px;
		}

		&:nth-child(2){
			width: 35%;
			margin-right: 0;
		}
	}

	.p-help-t__bot-info-checkbox-text {
		font-size: 12px;
	}

	.p-help-t__bot-info {
		flex-direction: column;
	}

	.p-help-t__bot-info-subtext {
		order: 1;
		margin-left: 0;
		margin-bottom: 8px;
	}

	.p-help-t__bot-info-label {
		order: 2;
	}

	.p-help-t__sbm-btn {
		border-radius: 26px;
	}

	.p-help-m-c {
		margin-left: -15px;
		margin-right: -15px;
		padding: 45px 15px 280px 15px;
		background-image: image-url('help-banner-bg-xs.png');
	}

	.p-help-t {
		margin-bottom: 0;
	}

	.p-help-m__subtitle {
		font-size: 25px;
		line-height: 29px;
		padding-right: 10%;
		margin-bottom: 10px;
	}

	.p-help-m__title {
		font-size: 32px;
		line-height: 36px;
	}

	.p-help-m__buttons {
		display: flex;
		flex-direction: column;
		text-align: center;
		
		.main-top__btn-search {
			margin-right: 0;
		}

		.main-top__separ {
			margin-right: 0;
		}
	}

	.p-help-doctors  {
		.best__title {
			font-size: 25px;
			line-height: 29px;
			text-align: center;
		}

		.best__head {
			text-align: center;
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.p-help-m {
		margin-bottom: 50px;
	}

	.p-help-doctors__item-badge {
		width: 163px;
		height: 24px;
	}

	.p-help-doctors__item-c {
		padding: 30px 15px 20px 15px;
		margin-right: -15px;
		margin-left: -15px;
	}

	.p-help-doctors__list {
		margin-bottom: 35px;
	}

	.p-help-doctors__item {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.p-help-t__time-item {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
}