.clinic-p_paid {
	.breadcrumbs-item {
		&:last-child {
			color: #fff;
		}
	}

	.breadcrumbs-item:before {
		background: image-url('svg-icons/arrow-down_white.svg') no-repeat center;
	}

	.doctor-p__title,
	.clinic-p__mid-cup {
		color: #fff;
	}

	.clinic-p__mid-cup:before {
		border-color: #fff;
	}

	.doctor-p__mid.clinic-p__mid {
		padding-top: 90px;
	}

	.clinic-p_paid__bg {
		position: relative;
		background-size: cover;
		background-position: center;

		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: '';
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		}
	}

	.clinic-p__mid .best__c-b-r-comments {
		@include states {
			color: #fff;
		}
	}
}

.doc-main__opinions {
	padding: 35px 30px 5px 30px;
	background: #fff;
	margin-bottom: 20px;
}

.doc-main__opinions-title {
	position: relative;
	margin-bottom: 19px;
	font-size: 24px;
	color: #FF9F00;
	@include font(ext);

	&:before {
		position: relative;
		content: "";
		left: 0;
		display: inline-block;
		width: 17px;
		height: 16px;
		background: image-url('svg-icons/star_orange.svg') no-repeat;
		background-size: cover;
		margin-right: 8px
	}
}

.doc-main__opinions-item {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebeced;

	&:last-child {
		border-bottom: none;
	}
}

.doc-main__opinions-item {
	display: flex;
}

.doc-main__opinions-left {
	flex: 0 0 130px;
	margin-right: 30px;
}

.doc-main__opinions-img-container {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
}

.doc-main__opinions-right {
	@include clearfix();
	flex: 1;
	padding-top: 4px;
}

.doc-main__opinions-item-date {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.25);
	margin-bottom: 10px;
}

.doc-main__opinions-item-name {
	font-size: 14px;
	@include font(bold);
}

.doc-main__opinions-item-prof {
	font-size: 14px;
	color: #9b9b9b;
	margin-bottom: 20px;
}

.doc-main__opinions-item-main-title {
	font-size: 16px;
	margin-bottom: 5px;
	@include font(bold);
}

.doc-main__opinions-item-main-text {
	font-size: 16px;
	color: $black40;
}

.doc-main__opinions-item-btn {
	@include states {
		font-size: 14px;
		color: #35bd9f;
		position: relative;
		float: right;
		display: inline-block;
		padding-right: 20px;
		@include font(semi);
		margin-top: 10px;

		&:before {
			@extend %icons;
			right: 0;
			background: image-url('svg-icons/arrow-down_green.svg') no-repeat;
			background-size: cover;
			width: 11px;
			height: 7px;
		}

		&:after {
			display: inline-block;
			content: "Читать полностью";
		}

		&[aria-expanded="true"]:after {
			content: "Скрыть";
		}

		&[aria-expanded="true"]:before {
			background-image: image-url('svg-icons/arrow-up_green.svg');
		}
	}

	@include linksHover();
}

.doc-main__opinions-item-full-text-container {
	padding-top: 20px;
}

.d-m__o-i-full-text-block {
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.d-m__o-i-full-text-title {
	font-size: 16px;
	line-height: 24px;
	@include font(semi);
}

.d-m__o-i-full-text-desc {
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
}

.d-m__o-i-full-quote {
	margin-bottom: 45px;
	margin-top: 45px;
	font-size: 20px;
	line-height: 30px;
	color: #6e6e6e;
	position: relative;
	@include font(light);

	&:before {
		left: -75px;
		top: 8px;
		display: block;
		content: "";
		position: absolute;
		background: image-url('svg-icons/quote.svg') no-repeat;
		width: 55px;
		height: 39px;
		background-size: contain;
	}
}