/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.clinic-p_paid { 
		.doctor-p__mid.clinic-p__mid {
			padding-top: 0;
			padding-bottom: 55px;
		}
	}

	.doc-main__opinions-item {
		display: block;
	}

	.doc-main__opinions-left {
		float: left;
		margin-right: 15px;
		margin-bottom: 25px;
	}

	.doc-main__opinions-right {
		padding-top: 25px;
	}

	.doc-main__opinions-item-main-title {
		clear: both;
	}

	.d-m__o-i-full-quote {
		margin-bottom: 35px;
		margin-top: 45px;
		padding-left: 70px;
	}

	.d-m__o-i-full-quote:before {
		left: 0;
		top: -11px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.clinic-p_paid .doctor-p__mid.clinic-p__mid {
		padding-bottom: 30px;
	}

	.doc-main__opinions {
		margin: 0 -15px 25px -15px;
		padding: 30px 15px;
	}

	.doc-main__opinions-img-container {
		width: 115px;
		height: 115px;
	}

	.d-m__o-i-full-quote {
		padding-left: 65px;
	}

	.d-m__o-i-full-quote:before {
		width: 49px;
	}
}