@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-ExtraBold';
    src: url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Lightitalic';
    src: url('../fonts/ProximaNova/ProximaNova-Lightitalic/proximanova-lightitalic.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Lightitalic/proximanova-lightitalic.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Lightitalic/proximanova-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regitalic';
    src: url('../fonts/ProximaNova/ProximaNova-Regitalic/proximanova-regitalic.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Regitalic/proximanova-regitalic.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Regitalic/proximanova-regitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova/Proxima_Nova_Black/Proxima_Nova_Black.woff') format('woff'),
         url('../fonts/ProximaNova/Proxima_Nova_Black/Proxima_Nova_Black.eot') format('eot'),
         url('../fonts/ProximaNova/Proxima_Nova_Black/Proxima_Nova_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Blackitalic';
    src: url('../fonts/ProximaNova/Proxima_Nova_Black_Italic/Proxima_Nova_Black_Italic.woff') format('woff'),
         url('../fonts/ProximaNova/Proxima_Nova_Black_Italic/Proxima_Nova_Black_Italic.eot') format('eot'),
         url('../fonts/ProximaNova/Proxima_Nova_Black_Italic/Proxima_Nova_Black_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
