.p-contacts-wrap {
	max-width: 755px;
}

.p-contacts__subtitle {
	font-size: 24px;
	@include font(bold);
	margin-bottom: 9px;
}

.p-contacts__desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 35px;
}

.p-contacts-map {
	height: 595px;
	padding: 25px 0;
}

.p-contacts-cols {
	display: flex;
	flex-wrap: wrap;
}

.p-contacts-col-l {
	flex: 0 0 auto;
	max-width: 320px;
	padding-right: 10px;
}

.p-contacts-col-r {
	flex: 1;
}

.p-contacts-col-r-info {
	display: flex;
	flex-wrap: wrap;

	.p-contacts-col-desc {
		margin-bottom: 3px;
	}
}

.p-contacts-col-title {
	font-size: 15px;
	text-transform: uppercase;
	@include font(ext);
	margin-bottom: 15px;
}

.p-contacts-col-desc {
	color: #6e6e6e;
	@include font(semi);
}

.p-contacts-col-info {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.p-contacts-col-info-l {
	flex: 50%;
	padding-right: 10px;
}

.p-contacts-col-info-r {
	flex: 50%;
}

.p-contacts-col-link {
	@include states {
		color: #FFA015;
		@include font(semi);
	}
	@include linksHover();
}

.p-contacts-col-info-l-block {
	margin-bottom: 16px;
}

.p-contacts-cols {
	margin-bottom: 45px;
}