/* xs+sm */
@media screen and (max-width: 991px) {
	.p-contacts-col-l {
		max-width: 300px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.adv.p-contacts {
		margin: 35px 0 22px 0;
		padding: 0 15px 30px 15px;
	}

	.p-contacts-col-info {
		&:last-child {
			margin-bottom: 15px;
		}
	}

	.p-contacts-map {
		height: 265px;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 20px;
	}

	.p-contacts-col-l,
	.p-contacts-col-info-l,
	.p-contacts-col-info-r {
		flex: 100%;
		padding-right: 0;
		max-width: 100%;
	}

	.p-contacts-cols {
		margin-bottom: 25px;
	}
}