.adv {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.adv__title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 20px;
}

.adv__item {
	display: flex;
	margin-bottom: 30px;
}

.adv__item-left	{
	flex: 0 0 190px;
	margin-right: 30px;
}

.adv__item-img-container {
	border: 3px solid #FF9F00;
}

.adv__item-right {
	display: flex;
	align-items: center;
}

.adv__item-right-img-container {
	flex: 0 0 36px;
	margin-right: 20px;
}

.adv__item-right-right {
	padding-top: 3px;
}

.adv__item-right-title {
	font-size: 16px;
}

.adv__item-link {
	@include linksHover();
	@include states {
		display: block;
		font-size: 16px;
		color: #FF9F00;
	}
}

.adv__info {
	padding-top: 30px;
	border-top: 1px solid #ebeced;
}

.adv__info-btn {
	@include states {
		display: inline-block;
		padding: 16px 30px;
		color: #fff;
		font-size: 14px;
		@include font(bold);
		margin: 0 auto;
		vertical-align: middle;
		text-transform: uppercase;
	}
}

.adv__info-btn-wrap {
	margin-bottom: 30px;
	text-align: center;
}

.adv__info-desc {
	font-size: 16px;

	b {
		@include font(bold);
	}
}