/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.adv__item-left {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.adv__item {
		flex-wrap: wrap;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.adv {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;

		.breadcrumbs-block {
			padding-bottom: 0px;
		}
	}

	.adv__title {
		font-size: 31px;
	}

	.adv__info-btn {
		@include states {
			font-size: 12px;
			padding: 16px 20px;
		}
	}

	.adv__item-img-container {
		width: 190px;
	}

	.adv__item-left {
		flex: 0 0 100%;
	}
}