.p-directory__title {
	font-size: 34px;
	font-family: 'ProximaNova-ExtraBold';
	margin-bottom: 20px;
}

.p-directory__nav-list {
	padding-bottom: 15px;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 30px;
}

.p-directory__nav-item {
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
	@include font(bold);

	&.active {
		color: #FF9F00; 
	}
}

.p-directory__nav-link {
	@include linksHover();
}

.p-directory__item-title {
	font-size: 40px;
	@include font(bold);
	color: #FF9F00;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-left: -2px;
}

.p-directory__item {
	&:first-child {
		.p-directory__item-list-firstchar {
			display: none;
		}
	}
}

.p-directory__item-block {
	margin-bottom: 60px;
}

.p-directory__item-list-wrap {
	position: relative;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.p-directory__item-list-firstchar {
	font-size: 12px;
	color: #b8b8b8;
	@include font(semi);
    position: absolute;
    right: 100%;
    margin-right: 8px;
}

.p-directory__item-item {
	font-size: 12px;
	line-height: 16px;
	@include font(semi);
	margin-bottom: 6px;
}

.p-directory__item-link {
	@include linksHover();
}