/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-directory__item {
		&:nth-child(odd) {
			.p-directory__item-list-firstchar {
				display: none;
			}
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-directory__title {
		font-size: 32px;
	}

	.p-directory__item-list-firstchar {
		display: none;
	}

	.p-directory__nav-item {
		margin-right: 16px;
	}
}