.afterbefore {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.afterbefore-art__title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 20px;
}

.afterbefore-art__date {
	margin-bottom: 20px;
}

.afterbefore-art__desc {
	font-size: 18px;
	line-height: 28px;
	@include font(semi);
	margin-bottom: 20px;
}

.afterbefore-art__block {
	margin-bottom: 40px;
	display: flex;
}

.afterbefore-art__img-container {
	flex: 0 0 230px;
	margin-right: 30px;
}

.afterbefore-art__block-title {
	font-size: 28px;
	@include font(bold);
	letter-spacing: 1px;
	color: #FF9F00;
	margin-bottom: 15px;
}

.afterbefore-art__block-desc {
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
}


