/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {
	.afterbefore-art__title {
		font-size: 32px;
		margin-bottom: 15px;
	}

	.afterbefore-art__date {
		margin-bottom: 15px;
	}

	.afterbefore-art__block {
		flex-wrap: wrap;
	}

	.afterbefore-art__img-container {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.afterbefore {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;
	}
}