.p-price {
	padding: 0 30px 30px 30px;
	background: #fff;
	margin-bottom: 45px;
}

.p-price__title {
	margin-bottom: 38px;
	font-size: 34px;
	@include font(ext);
}

.p-price__table {
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;

	tbody tr {
		border-top: 1px solid #ebeced;
	}

	tbody tr:last-child {
		border-bottom: 1px solid #ebeced;
	}

	th {
		font-weight: normal;
		color: #6e6e6e;
		padding: 0 10px 10px 10px;

		&:first-child {
			padding-left: 0;
		}
	}

	td {
		padding: 12px 10px;
		position: relative;
		vertical-align: middle;

		&:first-child {
			padding-left: 25px;
		}

		&:last-child {
			padding-right: 25px;
		}

		img {
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}
}

.p-price__img-container {
	flex: 0 0 40px;
	margin-right: 20px;
}

.p-price__table-tdtitle {
	display: flex;
}

.p-price__table-metro {
	position: relative;
	color: $black50;
	line-height: 18px;
	font-size: 12px;
	padding-left: 20px;

	&.red:before {
		background: #ef1e25;
	}

	&.orange:before {
		background: #fbaa33;
	}

	&.blue:before {
		background: #019ee0;
	}

	&.green:before {
		background: #029a55;
	}

	&.brown:before {
		background: #745c2f;
	}

	&:before {
		@extend %icons;
		left: 0;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: black;
	}
}

.p-price__table-tdname {
	line-height: 18px;
	vertical-align: middle;
	align-self: center;
}

.p-price__table-price {
	color: #999999;
	min-width: 65px;

	b {
		@include font(semi);
		color: #131313;
	}
}

.p-price__table-full-btn-wrap {
	text-align: center;
	margin-bottom: 40px;
}

.p-price__table-full-btn {
	@include states {
		display: inline-block;
		font-size: 16px;
		color: #FF9F00;
		position: relative;
		margin-left: 30px;

		&:before {
			@extend %icons;
			left: -30px;
			width: 20px;
			height: 21px;
			background: image-url("svg-icons/small-zoom_red.svg") no-repeat center;
		}
	}

	@include linksHover();
}

.p-price__blockquote {
	padding: 0 0 0 20px;
	margin: 0 0 45px;
	border-left: 4px solid #FF9F00;
}

.p-price__blockquote-title {
	font-size: 19px;
	color: $black90;
	@include font(bold);
	margin-bottom: 16px;
	line-height: 24px;
}

.p-price__blockquote-desc {
	color: $black90;
	line-height: 24px;
	font-size: 16px;

	a {
		@include linksHover();
		color: #FF9F00;
	}
}

.sidebar__prices {
	margin-bottom: 50px;
}

.sidebar__prices-title {
	font-size: 25px;
	line-height: 28px;
	@include font(bold);
	margin-bottom: 30px;
}

.sidebar__prices-item {
	display: flex;
	min-height: 130px;
	justify-content: center;
	flex-direction: column;
	background: #35bd9f;
	padding: 10px 25px;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar__prices-item-title {
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 8px;
	@include font(semi);
}

.sidebar__prices-link {
	@include states {
		color: rgba(255,255,255,0.7);
		text-decoration: underline;
		font-size: 16px;
	}

	@include linksHover();
}

.owl-p-price-content {
	margin-bottom: 60px;

	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -35px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}

}

.p-price__table .p-price__table-recommendation {
	border-color: #FF9F00;
}

.p-price__table-recommendation:after {
	position: absolute;
	display: block;
	content: "STARTSMILE РЕКОМЕНДУЕТ";
	width: auto;
	height: auto;
	text-transform: uppercase;
	font-size: 8px;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 3px;
	border-top-left-radius: 0;
	padding: 2px 4px;
	background: #FF9F00;
	left: 0;
	@include font(bold);
}

.p-price__table-price_procent:before {
	position: absolute;
	content: "%";
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	color: #fff;
	@include font(bold);
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #FF9F00;
	right: 0;
	top: 5px;
}

.p-price__table-price_onetooth:after {
	position: absolute;
	content: "за 1 зуб";
	display: block;
	color: #FF9F00;
	font-size: 12px;
	@include font(bold);
}

.p-price__table-price_key:after {
	position: absolute;
	content: "под ключ";
	display: block;
	color: #35bd9f;
	font-size: 12px;
	@include font(bold);
}