/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-price__table {
		th, td {
			&:nth-child(2) {
				display: none;
			}
		}
	}

	.p-price__title {
		margin-bottom: 20px;
	}

	.p-price__table td:first-child {
		padding-left: 15px;
	}

	.p-price__table td:last-child {
		padding-right: 15px;
	}

	.owl-p-price-content {
		.owl-p-inprice-content-item {
			flex-wrap: wrap;
		}

		.owl-p-inprice-content-img-container {
			flex: 0 0 100%;
			width: 100%;
			max-height: 270px;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-price {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;
	}

	.offers__title {
		font-size: 32px;
	}

	.p-price__table td:first-child {
		padding-left: 0;
	}

	.p-price__table td:first-child {
		padding-right: 0;
	}

	.p-price__img-container {
		margin-right: 10px;
		flex: 0 0 35px;
	}

	.p-price__table-full-btn {
		@include states {
			font-size: 15px;
		}
	}

	.offers-content__sidebar {
		padding-top: 0 !important;
	}

	.sidebar__prices-item {
		padding: 10px 30px;
	}

	.p-price__table td {
		vertical-align: top;
		padding: 15px 10px;

	}

	.p-price__table-tdname {
		align-self: flex-start;
	}

	.p-price__table-price_procent:before {
		top: 30px;
	}

}