.p-inprice-top {
	background: #fff;
	padding-top: 38px;
	min-height: 190px;
}

.p-inprice-top__title {
	text-align: center;
	font-size: 24px;
	@include font(bold);
	margin-bottom: 35px;
}

.p-inprice-top__form-wrap {
	width: 100%;
	max-width: 615px;
	margin: 0 auto;
	margin-bottom: 45px;
	position: relative;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
}

.p-inprice-top__form {
	width: 100%;
}

.p-inprice-top__input {
	width: 100%;
	height: 42px;
	border-radius: 3px;
	outline: none;
	border: none;
	padding: 0 110px 0 25px;
	font-size: 16px;
	background: #f3f3f3;
}

.p-inprice-top__submit-btn {
	@include linksHover();

	@include states {
		height: 42px;
		line-height: 42px;
		position: absolute;
		right: 0;
		top: 0;
		outline: none;
		border: none;
		border-radius: 0 3px 3px 0;
		color: #fff;
		background: #FF9F00;
		font-size: 12px;
		letter-spacing: 1px;
		@include font(bold);
		text-transform: uppercase;
		width: 90px;
		text-align: center;
	}
}

.p-inprice-top__results-list {
	background: #fff;
	padding: 5px 25px;
	position: absolute;
	z-index: 3;
	width: 100%;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
	display: none;
}

.p-inprice-top__results-item {
	display: flex;
	padding: 10px 0;
}

.p-inprice-top__results-title {
	@include states {
		font-size: 14px;
		color: #6e6e6e;
		margin-right: 10px;
		display: inline-block;

		b {
			color: #bcbcbc;
			font-weight: normal;
			font-size: 12px;
		}
	}
	@include linksHover();
}

.p-inprice-top__results-price {
	margin-left: auto;
	min-width: 80px;
	font-size: 14px;
	color: #b5b5b5;
	text-align: right;
}

.owl-p-inprice-nav {
	height: 55px;
	z-index: 2;

	.owl-stage {
		white-space: nowrap;	
		margin: 0 auto;	
	}

	.owl-stage-outer {
		overflow: initial;
	}

	.owl-item {
		display: inline-block;
		float: none;
	}
}

.p-inprice__nav-item {
	height: 55px;
	line-height: 55px;
	font-size: 14px;
	color: $black50;
}

.p-inprice__nav-link {
	@include linksHover();
}

.p-inprice-top__nav {
	background: #fff;
	border-top: 1px solid #ebeced;
}

.p-inprice__nav-item {
	.dropdown-menu {
		width: 217px;
		background: #fff;
		border: none;
		border-radius: 2px;
		padding: 0;
		margin-top: -5px;
		box-shadow: 0 0px 12px rgba(0,0,0,0.175);
		left: -112px;

		&:before {
			left: 115px;
			position: absolute;
			content: "";
			display: block;
			width: 25px;
			height: 25px;
			background: #fff;
			transform: rotate(45deg);
			top: -7px;
			box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);
		}

		ul {
			background: #fff;
			padding: 10px 10px 10px 25px;
			width: 100%;
			height: 100%;
			position: relative;
		}

		li {
			font-size: 14px;
			padding: 10px 0;
			color: $black50;
			line-height: normal;
		}

		a {
			@include linksHover();
		}
	}
}

.owl-p-inprice-content-item {
	display: flex;
	background: #fff;
}

.owl-p-inprice-content-img-container {
	width: 255px;
	flex: 0 0 255px;
	height: 100%;
	overflow: hidden;
}

.owl-p-inprice-content-img {
	height: auto;
	width: 100%;
}

.p-inprice-content {
	padding-top: 30px;
}

.owl-p-inprice-content-item-right {
	padding: 30px 30px 20px 30px;
	width: 100%;
}

.owl-p-inprice-content-title {
	@include states {
		display: block;
		font-size: 20px;
		@include font(semi);
		padding-bottom: 20px;
		border-bottom: 1px solid #ebeced;
		margin-bottom: 14px;
	}
	@include linksHover();
}

.owl-p-inprice-content-item__item{
	display: flex;
}

.owl-p-inprice-content-item__name {
	@include states {
		font-size: 14px;
		line-height: 25px;
		color: #6e6e6e;
		margin-right: 10px;
		display: inline-block;
	}
	@include linksHover();
}

.owl-p-inprice-content-item__price {
	font-size: 14px;
	line-height: 25px;
	margin-left: auto;
	color: #b5b5b5;
	text-align: right;
	min-width: 80px;
	flex: 0 0 auto;
}

.owl-p-inprice-content {
	margin-bottom: 60px;

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -38px;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
		width: 20px;
		height: 35px;
		background-size: contain;
		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -38px;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
		width: 20px;
		height: 35px;
		background-size: contain;
		@include linksHover();
	}

	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -35px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}

}

.p-inprice-allprice {
	background: #fff;
	padding: 30px 30px 0 30px;
	margin-bottom: 60px;
}

.p-inprice-allprice__title {
	@include states {
		font-size: 24px;
		color: #FF9F00;
		@include font(semi);
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(216, 216, 216, 0.7);
		margin-bottom: 14px;
		display: block;
	}
	@include linksHover();
}

.p-inprice-allprice__prices-wrap {
	margin-right: -48px;
	margin-left: -48px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.p-inprice-allprice__prices-list {
	width: 33.33333333%;
	padding: 0 48px;
	margin-bottom: 20px;
}

.p-inprice-allprice__prices-item {
	display: flex;
	align-items: flex-end;
}

.p-inprice-allprice__prices-item-name {
	@include states {
		font-size: 14px;
		line-height: 25px;
		color: #6e6e6e;
		margin-right: 3px;
		display: inline-block;
	}
	@include linksHover();
}

.p-inprice-allprice__prices-item-price {
	font-size: 14px;
	line-height: 25px;
	margin-left: auto;
	color: #b5b5b5;
	text-align: right;
	min-width: 80px;
	flex: 0 0 auto;
}