/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.owl-p-inprice-content-item-right {
		padding: 20px 20px 0px 20px;
	}

	.owl-p-inprice-content-img-container {
		width: 220px;
		flex: 0 0 220px;
	}

	.owl-p-inprice-content .owl-prev {
		left: -20px;
	}

	.owl-p-inprice-content .owl-next {
		right: -20px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.owl-p-inprice-content-item-right {
		padding: 30px 30px 20px 30px;
	}

	.owl-p-inprice-content-img-container {
		width: 50%;
		flex: 0 0 50%;
		max-height: 270px;
	}

	.p-inprice-allprice__prices-list {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 0;
	}

	.p-inprice-allprice__prices-wrap {
		margin-right: -15px;
		margin-left: -15px;
	}

	.p-inprice-allprice {
		padding-bottom: 20px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-inprice-top__title {
		margin-bottom: 30px;
	}

	.p-inprice-top__form-wrap {
		margin-bottom: 40px;
	}

	.p-inprice__nav-item .dropdown-menu {
		left: -140px;
	}

	.p-inprice__nav-item .dropdown-menu:before {
		left: 140px;
	}

	.p-inprice-top__results-title b {
		display: none;
	}

	.owl-p-inprice-content-item {
		flex-wrap: wrap;
	}

	.owl-p-inprice-content-img-container {
		flex: 0 0 100%;
		width: 100%;
		max-height: 270px;
	}

	.owl-p-inprice-content .owl-next,
	.owl-p-inprice-content .owl-prev {
		display: none;
	}

	.p-inprice-allprice__prices-item-name {
		@include states {
			font-size: 14px;
			line-height: 18px;
			padding: 3px 0;
		}
	}

	.p-inprice-allprice__prices-item-price {
		min-width: 75px;
		font-size: 14px;
		line-height: 18px;
		padding: 3px 0;
	}

	.p-inprice-allprice__prices-list {
		width: 100%;
	}

	.p-inprice-allprice {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
}