.imp-content__main,
.imp-content__sidebar {
	padding-bottom: 30px;
	position: relative;
}

.implant__title-wrap {
	margin-top: 35px;
	margin-bottom: 32px;
}

.implant__title {
	font-size: 32px;
	@include font(bold);
}

.implant__block-1,
.implant__block-2,
.implant__block-3,
.implant__block-4 {
	position: relative;

	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		top: 0;
		left: 0;
	}
}


.implant__block-1 {
	padding: 30px;
	height: 255px;
	display: flex;
	flex-direction: column;
	background-size: cover;
	margin-bottom: 30px;
}

.implant__block-1-wrap {
	margin-top: auto;
	position: relative;
}

.implant__block-1-title {
	font-size: 24px;
	color: #fff;
	@include font(bold);
	margin-bottom: 20px;
}

.implant__block-list {
	display: inline-block;
	width: 220px;
	margin-right: 20px;
}

.implant__block-item {
	font-size: 15px;
	line-height: 22px;
	color: #fff;
}

.implant__block-link {
	@include states {
		display: inline-block;
	}
	@include linksHover();
}

.implant__block-2 {
	padding: 30px;
	height: 160px;
	display: flex;
	align-items: center;
	background-color: #edf0f2;
	background-size: cover;
	margin-bottom: 20px;
	@include linksHover();
}

.implant__block-2-title {
	font-size: 19px;
	color: #fff;
	position: relative;
	@include font(bold);
}

.implant__block-3 {
	padding: 30px;
	height: 160px;
	display: flex;
	align-items: center;
	background-color: #edf0f2;
	background-size: cover;
	margin-bottom: 30px;
	@include linksHover();
}

.implant__block-3-title {
	font-size: 19px;
	color: #fff;
	position: relative;
	@include font(bold);
}

.implant__block-4 {
	display: block;
	padding: 35px 30px 30px 30px;
	height: 340px;
	background-color: #edf0f2;
	background-size: cover;
	margin-bottom: 30px;
	@include linksHover();
}

.implant__block-4-title {
	text-align: center;
	position: relative;
	font-size: 19px;
	color: #fff;
	@include font(bold);
}

.imp-img-container {
	margin-bottom: 40px; 
}

.imp-manufacturer__title {
	font-size: 24px;
	@include font(bold);
	margin-bottom: 8px;
}

.imp-manufacturer__nav-link {
	@include states {
		font-size: 14px;
		color: #6e6e6e;
		padding: 12px 15px 12px 15px;
		border-bottom: 2px solid transparent;
		display: block;

		&.active {
			border-bottom: 2px solid #FF9F00;
		}
	}

	@include linksHover();
}

.manufacturer-tab-content {
	width: 100%;
}

.owl-manufacturer-nav {
	margin-bottom: 20px;

	.owl-stage {
		white-space: nowrap;
	}

	.owl-stage-outer {
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #ebeced;
			bottom: 0;
			left: 0;
		}
	}

	.owl-item {
		display: inline-block;
		float: none;
	}

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -1px;
		font-size: 0;
		text-indent: -99999px;
		height: 100%;
		width: 90px;
		background-image: linear-gradient(to left, rgba(248, 249, 250, 0), #f8f9fa);

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
			background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
			width: 15px;
			height: 25px;
			background-size: contain;
		}

		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0;
		text-indent: -99999px;
		height: 100%;
		width: 90px;
		right: -1px;
		background-image: linear-gradient(to right, rgba(248, 249, 250, 0), #f8f9fa);
		
		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
			width: 15px;
			height: 25px;
			background-size: contain;
		}
		
		@include linksHover();
	}

}

.imp-manufacturer__list {
	display: flex;
	flex-wrap: wrap;
}

.imp-manufacturer__item {
	margin-bottom: 30px;
}

.imp-manufacturer__link {
	@include states {
		display: block;
		background: #fff;
		min-height: 270px;
		padding: 35px 30px 30px 30px;
	}

	@include linksHover();
}

.imp-manufacturer__item-img-container {
	overflow: hidden;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin-bottom: 30px;
}

.imp-manufacturer__item-img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

.imp-manufacturer__item-title {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	text-align: center;
}

.imp-prices__table-full-btn {
	@include states {
		display: inline-block;
		font-size: 16px;
		color: #FF9F00;
		position: relative;
		margin-left: 30px;

		&:before {
			@extend %icons;
			left: -30px;
			width: 20px;
			height: 21px;
			background: image-url("svg-icons/format-list-bulleted.svg") no-repeat center;
		}
	}

	@include linksHover();
}

.imp-prices {
	margin-bottom: 40px;

	.p-price__table {
		tr:last-child {
			border-bottom: none;
		}

		td {
			background: #fff;
		}

		thead {
			tr {
				border-bottom: none;
			}
		}
	}
}

.imp-prices__title{
	font-size: 24px;
	@include font(bold);
	margin-bottom: 25px;
}

.imp-stomat {
	margin-bottom: 40px;

	.best__card-badge-wrap {
		top: 25px;
		left: 25px;
	}

	.best__card-badge {
		font-size: 10px;
	}

	.best__card-bot {
		padding: 17px 25px 25px 25px;
	}

	.best__card-bot-title {
		font-size: 15px;
		height: 38px;
	}

	.best__card-bot-desc {
		font-size: 12px;
		margin-bottom: 15px;
	}

	.best__card-bot-rating {
		.best__c-b-r-count {
			font-size: 15px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.8);
			margin: 0px -8px 0px -10px;
		}
	}
}

.imp-doctors__title {
	font-size: 24px;
	@include font(bold);
	margin-bottom: 20px;
}

.imp-doctors {
	margin-bottom: 30px;

	.main-doctors__item {
		margin-bottom: 45px;
	}

	.main-doctors__badge {
		top: 25px;
		left: 25px;
		font-size: 10px;
	}

	.main-doctors__bot {
		padding: 25px;
	}

	.main-doctors__item-title {
		font-size: 15px;
		margin-bottom: 8px;
	}

	.main-doctors__item-desc {
		font-size: 12px;
		margin-bottom: 8px;
	}

	.best__card-bot-rating {
		.best__c-b-r-count {
			font-size: 15px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.8);
			margin: 0px -8px 0px -10px;
		}
	}
	
}

.sidebar__imp-links {
	background: #fff;
	margin-bottom: 20px;
	padding: 30px 25px;
}

.sidebar__imp-links-title {
	font-size: 14px;
	letter-spacing: 1.4px;
	@include font(bold);
	text-transform: uppercase;
	padding: 0 25px 20px 25px;
	margin: 0 -25px 20px -25px;
	border-bottom: 1px solid #d8d8d8;
	position: relative;

	&.question:after {
		content: "?";
		display: block;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		border: 1.2px solid #000000;
		line-height: 15px;
		text-align: center;
		position: absolute;
		right: 25px;
		top: 0;
		padding-left: 2px;
	}
}

.sidebar__imp-links-item {
	font-size: 16px;
	margin-bottom: 14px;
	color: $black40;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar__imp-links-link {
	@include linksHover();
}