/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.implant__block-4 {
		padding: 35px 24px 24px 24px;
	}

	.implant__block-1,
	.implant__block-2,
	.implant__block-3 {
		padding: 24px;
	}

	.imp-stomat .best__card-badge-wrap {
		top: 15px;
		left: 15px;
	}

	.imp-stomat .best__card-badge {
		margin-bottom: 5px;
	}

	.imp-stomat .best__card-bot {
		padding: 15px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-stars-wrap {
		transform: scale(0.7);
		margin: 0px -13px 0px -16px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-count {
		font-size: 13px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-comments {
		font-size: 13px;
	}

	.imp-doctors .main-doctors__bot {
		padding: 15px;
	}

	.imp-doctors .main-doctors__badge {
		top: 15px;
		left: 15px;
	}

	.imp-doctors .best__card-bot-rating .best__c-b-r-stars-wrap {
		transform: scale(0.7);
		margin: 0px -13px 0px -16px;
	}

	.imp-doctors .best__card-bot-rating .best__c-b-r-count {
		font-size: 13px;
	}

	.imp-doctors .best__card-bot-rating .best__c-b-r-comments {
		font-size: 13px;
	}

	.sidebar__imp-links-title {
		font-size: 12px;
	}

	.sidebar__imp-links-item {
		font-size: 14px;
	}

	.sidebar__imp-links-title.question:after {
		width: 15px;
		height: 15px;
		line-height: 13px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.implant__block-1,
	.implant__block-2,
	.implant__block-3,
	.implant__block-4 {
		width: 80%;
		background-position: center;
	}

	.implant__block-4 {
		height: 160px;
		display: flex;
		align-items: center;
		padding: 30px;
	}

	.implant__block-list {
		width: auto;
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}
	}

	.imp-img-container {
		width: 80%;
	}

	.imp-manufacturer__link {
		@include states {
			padding: 20px;
			min-height: 150px;
		}
	}

	.imp-manufacturer__item-img-container {
		height: 85px;
		line-height: 85px;
		margin-bottom: 15px;
	}

	.imp-manufacturer__item-title {
		font-size: 12px;
	}

	.imp-stomat .best__card-badge-wrap {
		top: 30px;
		left: 30px;
	}

	.imp-stomat .best__card-badge {
		font-size: 12px;
	}

	.imp-stomat .best__card-bot {
		padding: 20px 30px 25px 30px;
	}

	.imp-stomat .best__card-bot-title {
		font-size: 18px;
		height: auto;
	}

	.imp-stomat .best__card-bot-desc {
		font-size: 14px;
		margin-bottom: 40px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-count {
		font-size: 18px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-stars-wrap {
		transform: none;
		margin: 0;
		margin-right: 5px;
	}

	.imp-stomat .best__card-bot-rating .best__c-b-r-comments {
		font-size: 14px;
		margin-left: 0;
	}

	.imp-doctors .main-doctors__badge {
		top: 30px;
		left: 30px;
		font-size: 12px;
	}

	.imp-doctors .main-doctors__bot {
		padding: 30px;
	}

	.imp-doctors .main-doctors__item-title {
		font-size: 20px;
	}

	.imp-doctors .main-doctors__item-desc {
		font-size: 14px;
	}


	.imp-doctors .best__card-bot-rating .best__c-b-r-count {
		font-size: 18px;
	}

	.imp-doctors .best__card-bot-rating .best__c-b-r-stars-wrap {
		transform: none;
		margin: 0;
		margin-right: 5px;
	}

	.imp-doctors .best__card-bot-rating .best__c-b-r-comments {
		font-size: 14px;
		margin-left: 0;
	}

	.sidebar__imp-links-item {
		font-size: 14px;
	}

	.sidebar__imp-links-title {
		font-size: 14px;
	}

	.sidebar__imp-links-title.question:after {
		width: 17px;
		height: 17px;
		line-height: 15px;
	}

	.implant__block-2 {
		margin-bottom: 30px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.implant__block-1, .implant__block-2, .implant__block-3, .implant__block-4 {
		width: 100%;
		padding: 30px;
	}

	.imp-img-container {
		width: 100%;
	}

	.implant__block-1-title {
		font-size: 24px;
	}

	.imp-manufacturer__item-img-container {
		height: 150px;
		line-height: 150px;
		margin-bottom: 30px;
	}

	.imp-content__sidebar {
		padding-top: 0;
	}

	.imp-doctors .main-doctors__bot {
		padding: 20px;
	}

	.imp-doctors .main-doctors__badge {
		top: 20px;
		left: 20px;
	}

	.imp-stomat .best__card-bot {
		padding: 20px;
	}

	.imp-stomat .best__card-badge-wrap {
		top: 20px;
		left: 20px;
	}
}