.p-seti__info-list {
	padding-top: 20px;
}

.p-seti__info-item {
	padding: 20px 0 30px 0;

	.best__c-b-r-stars-wrap {
		margin-right: 20px;
	}

	.best__c-b-r-comments {
		@include states {
			color: rgba(0, 0, 0, 0.3);
		}
		@include linksHover();
	}
}

.p-seti__info-item-top {
	display: flex;
	margin-bottom: 14px;
	align-items: top;

	.best__card-bot-rating {
		flex: 0 0 auto;
		margin-left: 60px;
		padding-top: 3px;
	}
}

.p-seti__info-item-title {
	margin-right: auto;
	font-size: 18px;
	line-height: 1;
	line-height: 27px;

	@include states {
		color: #131313;
	}
	@include font(ext);
	@include linksHover();

	span {
		border-bottom: 1px solid #131313;
	}
}

.p-seti__info-list-item-bot {
	display: flex;
}

.p-seti__info-item-adress {
	min-width: 220px;
	margin-right: 10px;
	font-size: 14px;
	padding-left: 20px;
	position: relative;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 3px;
		width: 8px;
		height: 12px;
		opacity: 0.2;
		background: image-url('svg-icons/map-ico.svg') no-repeat center;
		background-size: contain;
	}
}

.p-seti__akcii {
	@extend .doc-main__prices;
}

.p-seti__akcii-tabs-list {
	padding-bottom: 10px;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 20px;
	padding-top: 5px;
}

.p-seti__akcii-tabs-item {
	display: inline-block;
	font-size: 16px;
	@include font(bold);
	margin-right: 24px;
	margin-bottom: 10px;

	@include linksHover();

	&.active {
		color: #FF9F00;
	}
}

.p-seti__akcii-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -30px;

	&:before, &:after {
		display: none;
	}
}

.p-seti__akcii-item {
	margin-bottom: 30px;

	.owl-akcii__item-img-container {
		margin-bottom: 10px;
	}
}

.doc-main__feedbacks-attention.p-seti__feedbacks-attention {
	width: 230px;
	height: 50px;
	line-height: 50px;
	background: #FF9F00;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	letter-spacing: 0.3px;
	margin: 0 auto;
	@include font(bold);
	@include states {
		color: #fff;
	}
}

.doc-main__feedbacks-attention-top.doc-main__feedbacks-attention-top-small {
	padding-bottom: 15px;
	border-bottom: none;

	.doc-main__feedbacks-select {
		min-width: 225px;
	}
}

.p-seti__feedbacks-title {
	@extend .doc-main__photo-title;
	margin-bottom: 33px;
}

.modal-thanks__sub-info {
	font-size: 16px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 10px;
}

.modal-thanks__checkbox-wrap {
	margin-bottom: 20px;
}

.doc-main__feedbacks-btn-seti-wrap {
	margin-bottom: 8px;
}

.doc-main__feedbacks-btn-seti {
	font-size: 16px;
	@include font(ext);
	@include linksHover();

	span {
		border-bottom: 1px solid #131313;
	}
}