/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.p-seti__info-item-top {
		flex-direction: column;
		align-items: flex-start;

		.best__card-bot-rating {
			padding-top: 0;
			margin-left: 0;
		}
	}

	.p-seti__info-item-title {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.products-item__buy-btn {
		margin-right: 8px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-seti__info-list-item-bot {
		flex-direction: column;

		.p-seti__info-item-adress:before {
			left: 0;
		}

		.p-seti__info-item-adress {
			margin-bottom: 7px;
			margin-right: 0;
			min-width: auto;
		}
	}
	
	.p-seti__info-item {
		padding: 15px 0 20px 0;
	}

	.p-seti__info-list {
		margin-bottom: -20px;
	}
	

}

@media screen and (max-width: 767px) {
	.modal-thanks {
		.modal-remember__title {
			font-size: 19px;
			margin-bottom: 20px;
		}

		.modal-thanks__sub-info {
			padding-bottom: 5px;
		}

		.sign-form-check-label-text {
			margin-bottom: 0;
		}

		.modal-auth__container {
			padding-bottom: 10px;
		}
	}

	.doc-aside__info.doc-aside-seti__info {
		padding-top: 15px;
		padding-bottom: 20px;

		.doc-aside__info-top {
			text-align: center;
			padding-bottom: 25px;
		}

		.doc-aside__enroll-btn {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.doc-main__feedbacks {
		.doc-main__feedbacks-attention-top {
			justify-content: flex-start;
		}

		.doc-main__feedbacks-attention-top-text {
			text-align: left;
			margin-right: 0;
			margin-bottom: 10px;
		}

		.doc-main__feedbacks-select {
			height: 40px;
			padding: 0 10px;
			flex: 1;

			&:last-child {
				margin-right: 0;
			}
		}

		.doc-main__feedbacks-select[name="year"] {
			flex: 0.8;
		}

		.doc-main__feedbacks-select[name="month"] {
			margin-right: 0;
		}

		.doc-main__feedbacks-attention-top {
			padding-top: 5px;
		}

		.doc-main__feedbacks-attention-mid {
			padding-top: 15px;
		}

		.doc-main__feedbacks-attention-wrap {
			.best__c-b-r-stars__orange .best__c-b-r-star,
			.best__c-b-r-star {
				background-size: contain;
			}

			.best__c-b-r-star {
				width: 30px;
				height: 26px;
				margin: 0 12px;
			}

			.doc-main__feedbacks-choose-item .best__c-b-r-stars-wrap {
				margin-left: -12px;
				margin-right: -12px;
				display: block;
			}

			.doc-main__feedbacks-choose-name {
				margin-bottom: 8px;
			}

			.doc-main__feedbacks-textarea {
				font-size: 14px;
			}

			.doc-main__feedbacks-submit {
				max-width: 250px;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}


}
