.main-akcii {
	margin-bottom: 36px;
}

.main-akcii__link {
	height: auto;
	display: block;
	position: relative;
	@include linksHover();
	background: #35bd9f;
	overflow: hidden;
}

.main-akcii__list {
	padding-top: 22px;
}

.main-akcii__item-top {
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px;
	color: #fff;
	font-size: 13px;
	@include font(bold);
	text-transform: uppercase;
	letter-spacing: 1.4px;
}

.main-akcii__item__bot {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

.main-akcii__item__bot-desc {
	font-size: 18px;
	@include font(bold);
	color: #fff;
	margin-bottom: 30px;
}

.main-akcii__item__bot-price {
	font-size: 24px;
	color: #fff;
	@include font(ext);
	display: inline-block;

	.norm-price {
		margin-right: 8px;
		display: inline-block;
	}

	.old-price {
		font-size: 18px;
		position: relative;
		display: inline-block;
		@include font(bold);
		
		&:before {
			position: absolute;
			display: block;
			content: "";
			height: 2px;
			background: #35bd9f;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
	} 
}

.main-akcii__item__bot-title {
	font-size: 28px;
	@include font(ext);
	color: #fff;
}

.main-akcii__link-procent {
	font-size: 580px;
    line-height: 1;
    position: absolute;
    top: -85px;
    font-family: 'ProximaNova-ExtraBold';
    left: -40px;
    color: #fff;
    opacity: 0.15;
}