.allinfo {
	background: #fff;
	padding-top: 37px;
}

.allinfo__links-block {
	margin-bottom: 40px;
}

.allinfo__title {
	font-size: 28px;
	@include font(ext);
	width: 445px;
	margin-bottom: 13px;
}

.allinfo__article-block {
	margin-bottom: 50px;
}

.allinfo__text {
	color: $black40;
	font-size: 14px;
	line-height: 20px;
}

.allinfo__links-block-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 17px;
}

.allinfo__list {
	overflow: hidden;
	max-height: 127px;
	font-size: 0;
	margin-bottom: 15px;
	transition: all .3s ease-in-out;

	&.open {
		max-height: 1000px;
	}
}

.allinfo__item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 15px;
	color: $black40;
	font-size: 16px;
	line-height: 26px;
	width: 20%;
	display: inline-block;

	a {
		@include linksHover();
	}
}

.allinfo__show-btn {
	@include states {
		font-size: 16px;
		color: #b5b5b5;
		display: inline-block;
		padding-right: 26px;
		position: relative;

		&:before {
			display: block;
			position: absolute;
			top: 60%;
			content: "";
			width: 21px;
			height: 20px;
			right: 0;
			background: image-url('svg-icons/arrow-down_gray.svg') no-repeat center;
			transform: translateY(-50%);
		}

		&.open:before {
			background: image-url('svg-icons/arrow-up_gray.svg') no-repeat center;
		}

		&.open {
			.allinfo__show-btn_show {
				display: none;
			}

			.allinfo__show-btn_hide {
				display: inline;
			}
		}
	}

	@include linksHover();
	transition: opacity .3s ease-in-out;

}

.allinfo__show-btn_hide {
	border-bottom: 1px solid #b5b5b5;
	display: none;
}

.allinfo__show-btn_show {
	border-bottom: 1px solid #b5b5b5;
}

.allinfo__sm-item {
	font-size: 16px;
	color: $black40;
	line-height: 26px;
}

.allinfo__sm-link {
	@include linksHover();
}