.full-banner {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 20px 0;
	z-index: 10;
	border-top: 2px solid rgba(0, 0, 0, 0.05);

	.container {
		position: relative;
	}
}

.full-banner__text {
	font-size: 16px;
	display: inline-block;
	margin-right: 45px;
	vertical-align: middle;
}

.full-banner__tel {
	position: relative;
	padding-left: 28px;
	font-size: 18px;
	vertical-align: middle;
	color: #FF9F00;
	display: inline-block;
	margin-right: 40px;

	&:before {
		@extend %icons;
		width: 24px;
		height: 24px;
		background: image-url("svg-icons/phone-material-design-icons_red.svg") no-repeat center;
		left: 0;
	}
}

.full-banner__close-btn {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	@include linksHover();
	background: image-url("svg-icons/window-close-material-design-icons.svg") no-repeat center;
}
