.best {
	margin-bottom: 36px;
}

.best__head {
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0,0,0,0.05);
}

.best__title {
	font-size: 28px;
	@include font(ext);
	float: left;
}

.best__head-link {
	float: right;
	padding: 10px 0 0 0;
}

.best__link {
	margin-right: 5px;
}

.best__list {
	padding: 22px 0;
	font-size: 0;
	margin-bottom: -20px;
}

.best__item {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.best__item-count {
	display: inline-block;
	color: $black20;
	@include font(semi);	
	font-size: 14px;
	position: relative;

	&:before {
		content: "(";
	}

	&:after {
		content: ")";
	}
}

.best__card-link {
	display: block;
	@include linksHover();
}

.best__card-bot {
	background: #fff;
	padding: 34px 30px;
}

.best__card-bot-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
	height: 44px;
	overflow: hidden;
}

.best__card-bot-desc {
	color: $black40;
	font-size: 14px;
	margin-bottom: 20px;
}

.best__card-bot-rating {
	font-size: 0;
}

.best__c-b-r-stars-wrap {
	position: relative;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

.best__c-b-r-count {
	color: #FF9F00;
	font-size: 18px;
	@include font(bold);
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}

.best__c-b-r-comments {
	vertical-align: middle;
	display: inline-block;
	color: $black30;
	font-size: 14px;
	border-bottom: solid 1px $black30;
}

.best__c-b-r-stars {
	padding-bottom: 3px;
}

.best__c-b-r-star {
	display: inline-block;
	width: 19px;
	height: 18px;
	margin: 0 2.5px;
	background: image-url("svg-icons/star_gray.svg") no-repeat center;
}

.best__c-b-r-stars__orange {
	position: absolute;
	top: 0;
	width: 0;
	white-space: nowrap;
	overflow: hidden;

	.best__c-b-r-star {
		background: image-url("svg-icons/star_orange.svg") no-repeat center;
	}
}

.best__card-img-container {
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 118px;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.best__card-badge-wrap {
	position: absolute;
	top: 30px;
	left: 30px;
}

.best__card-badge {
	display: inline-block;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.best__card-item {
	margin-bottom: 36px;
}

.best__bot {
	background: #fff;
	padding: 40px 130px;
}