.main-doctors {
	margin-bottom: 36px;
}

.main-doctors__link {
	display: block;
	@include linksHover();
	position: relative;
}

.main-doctors__badge {
	position: absolute;
	top: 30px;
	left: 30px;
}

.main-doctors__bot {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	height: 240px;
	width: 100%;

	.best__card-bot-rating,
	.main-doctors__item-desc,
	.main-doctors__item-title {
		position: relative;
	}

	.best__c-b-r-comments {
		color: #fff;
		border-bottom: solid 1px #fff;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0.65;
		top: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, #000000);
	}
}

.main-doctors__item-title {
	font-size: 18px;
	color: #fff;
	@include font(bold);
	margin-bottom: 10px;
}

.main-doctors__item-desc {
	margin-bottom: 10px;
	color: #fff;
	font-size: 14px;
}

.main-doc2__list {
	display: flex;
	flex-wrap: wrap;
	&:before,
	&:after {
		display: none;
	}
}

.main-doc2__link {
	@include states {
		display: flex;
		flex-direction: column;
	}
	height: 100%;

	@include linksHover();
}

.main-doc2__img-container {
	flex: 0 0 auto;
}

.main-doc2__bot {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;

	.best__card-bot-rating {
		margin-top: auto;
	}

	.best__c-b-r-comments {
		color: black;
		border-color: black;
	}
}

.main-doc2__name {
	@include font(bold);
	font-size: 16px;
	margin-bottom: 5px;
}

.main-doc2__desc {
	font-size: 14px;
	margin-bottom: 7px;
}

