.footer {
	background: #272727;
}

.footer-top {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.footer__copy {
	width: 260px;
}

.footer__title {
	font-size: 14px;
	@include font(bold);
	margin-bottom: 22px;
	color: #fff;
	text-transform: uppercase;
}

.footer__copy-text {
	font-size: 14px;
	color: rgba(255,255,255,0.30);
	line-height: 20px;
}

.footer__item {
	font-size: 14px;
	color: rgba(255,255,255,0.40);
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__link {
	@include states {
		display: inline-block;
		border-bottom: 1px solid rgba(255,255,255,0.40);
	}
	@include linksHover();
}

.footer__socials-list {
	padding: 6px 0;
	float: right;
	font-size: 0;
	margin-left: 87px;
}

.footer__socials-link {
	@include linksHover();
	display: block;
	width: 100%;
	height: 100%;
}

.footer__socials-item {
	width: 30px;
	height: 30px;
	margin-right: 17px;
	text-indent: -99999px;
	border-radius: 50%;
	display: inline-block;

	&:last-child {
		margin-right: 0;
	}

	&.fb .footer__socials-link{
		background: image-url("socials-icons/fb.svg") no-repeat center;
		background-size: contain;
	}

	&.vk .footer__socials-link {
		background: image-url("socials-icons/vk.svg") no-repeat center;
		background-size: contain;
	}

	&.youtube .footer__socials-link {
		background: image-url("socials-icons/youtube.svg") no-repeat center;
		background-size: contain;
	}

	&.ok .footer__socials-link {
		background: image-url("socials-icons/ok.svg") no-repeat center;
		background-size: contain;
	}

	&.inst .footer__socials-link {
		background: image-url("socials-icons/inst.svg") no-repeat center;
		background-size: contain;
	}

	&.tw .footer__socials-link {
		background: image-url("socials-icons/tw.svg") no-repeat center;
		background-size: contain;
	}
}

.footer__form {
	float: right;
	position: relative;
	display: inline-block;
	font-size: 0;
}

.footer-mid {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 30px 0;
}

.footer__email-label {
	vertical-align: middle;
	display: inline-block;
	margin-right: 16px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
}

.footer__email {
	vertical-align: middle;
	height: 42px;
	line-height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
	background: transparent;
	outline: none;
	border-right: none;
}

.footer__subm-btn {
	vertical-align: middle;
	outline: none;
	height: 42px;
	width: 70px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: image-url('svg-icons/check_white.svg') no-repeat center; 
	@include linksHover();
}

.footer-bot {
	padding: 30px 0;
}

.footer-bot__list {
	font-size: 0;
	float: left;
}

.footer-bot__item {
	display: inline-block;
	font-size: 14px;
	color: rgba(255,255,255,0.40);
	margin-right: 22px;

	&:last-child {
		margin-right: 0;
	}
}

.footer-bot__link {
	display: block;
	@include linksHover();
	border-bottom: 1px solid rgba(255,255,255,0.40);
}

.footer-bot__dev {
	font-size: 14px;
	@include font(semi);
	color: #fff;
	float: right;
}

.button-to-top {
	z-index: 10;
	width: 60px;
	height: 60px;
	display: none;
	position: relative;
	border-radius: 50%;
	background: #FF9F00;
	overflow: hidden;
	text-indent: -99999px;
	color: transparent;
	position: fixed;
	right: 30px;
	bottom: 30px;
	@include linksHover();

	&:before {
		@extend %center;
		background: image-url("svg-icons/btn-to-top.svg") no-repeat center;
		width: 14px;
		height: 13px;
		background-size: cover;
	}
}