.header-top {
	background: #F2F2F2;
	padding: 15px 0;
}

.header-top__auth-btns {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
	padding-top: 1px;
}

.header-top__magaz {
	@include states {
		display: inline-block;
		width: 18px;
		height: 17px;
		background: image-url('svg-icons/basket_orange.svg') no-repeat;
		position: relative;
		margin-right: 10px;
		vertical-align: middle;
	}

	@include linksHover();
}

.header-top__likes {
	@include states {
		display: inline-block;
		width: 16px;
		height: 17px;
		background: image-url('svg-icons/heart-red.svg') no-repeat;
		position: relative;
		vertical-align: middle;
		margin-right: 5px;
	}

	@include linksHover();
}

.header-top__auth-btns-span {
	@include font(ext);
	font-size: 12px;
	border-radius: 50%;
	background: #fff;
	color: #131313;
	position: absolute;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	overflow: hidden;
	padding: 0 2px;
	top: 0;
	right: -5px;
}

.header-top__magaz {

}

.header-nav {
	float: left;
}

.header-nav__list {
	font-size: 0;
}

.header-nav__item {
	display: inline-block;
	margin-right: 20px;
	position: relative;

	&.active:before {
		visibility: visible;
		opacity: 1;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 15px;
		width: 100%;
		top: 100%;
		border-bottom: 3px solid #FF9F00;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	&:last-child {
		margin-right: 0;
	}

	.dropdown:before {
		position: absolute;
		display: block;
		content: "";
		height: 15px;
		width: 100%;
		top: 100%;
		border-bottom: 3px solid #FF9F00;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	.dropdown.open:before {
		visibility: visible;
		opacity: 1;
	}

	.dropdown-content {
		top: 32px;
		left: -20px;

		.header__drop-item {
			font-size: 14px;
		}

		.header__drop-link {
			@include states {
				padding: 15px 0 15px 20px;
			}
		}
	}

	> .header-nav__link {
		@include linksHover();
	}

	.dropdown {
		&.open {
			.header-nav__link {
				color: black;
			}
		}

		.header-nav__link:hover {
			color: black;
		}
	}
}

.header-nav__link,
.header-nav__link:active,
.header-nav__link:focus,
.header-nav__link:hover {
	color: #6e6e6e;
	font-size: 14px;
	@include font(semi);
	display: block;
	transition: all .3s ease-in-out;
}

.header-mid__link.interview {
	@include states {
		@include font(semi);
		display: block;
		font-size: 16px;
		color: #000000;
		position: relative;
		padding-left: 18px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 15px;
			height: 14px;
			background: image-url('svg-icons/star_orange_clear.svg') no-repeat;
			background-size: contain;
			top: 43%;
			transform: translateY(-50%);
			left: 0;
		}
	}

	@include linksHover();
}

.header-top__info {
	font-size: 0;
	float: right;
}

.header-top__info-search,
.header-top__info-search:hover,
.header-top__info-search:active,
.header-top__info-search:focus {
	vertical-align: middle;
	display: inline-block;
	color: black;
	margin-right: 20px;
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	padding-bottom: 1px;
	@include font(semi);

	&:before {
		@extend %icons;
		width: 12px;
		height: 14px;
		left: 0;
		background: image-url('svg-icons/big-zoom.png') no-repeat;
		background-size: contain;
	}
}

.header-top__info-search {
	@include linksHover();
}

.header-top__info-map,
.header-top__info-map:hover,
.header-top__info-map:active,
.header-top__info-map:focus {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: inline-block;
	color: black;
	margin-right: 20px;
	padding-left: 16px;
	position: relative;
	font-size: 14px;
	@include font(semi);

	&:before {
		@extend %icons;
		width: 8px;
		height: 12px;
		left: 0;
		top: 45%;
		background: image-url('svg-icons/map-ico.svg') no-repeat;
	}
}

.header-top__info-map {
	@include linksHover();
}

.info-map__text {
	border-bottom: dashed 1px black;
	display: inline-block;
}

.header-top__auth {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: right;
}

.header-top__auth-sign {
	@include states {
		display: inline-block;
		margin-right: 13px;
	}

	@include linksHover();
}

.header-top__auth-sign-text {
	font-size: 14px;
	color:black;
	border-bottom: solid 1px black;
	display: inline-block;
	position: relative;
	@include font(semi);
}

.header-top__authorized-drop {
	display: inline-block;

	&.open {
		.header-top__authorized {
			@include states {
				&:after {
					transform: translateY(-50%) rotate(0);
				}
			}
		}
	}
}

.header-top__authorized-drop-menu {
	width: 138px;
	min-width: 138px;
	border: none;
	border-radius: initial;
	padding: 0;
	margin-top: 7px;
	left: -10px;
}

.header-top__authorized-drop-item a {
	@include states {
		padding: 10px;
		font-size: 12px;
		@include font(semi);
		display: block;
		transition: all .3s ease-in-out;
	}

	&:hover {
		background: #35bd9f;
		color: #fff;
	}
}

.header-top__authorized {
	@include states {
		display: inline-block;
		font-size: 14px;
		@include font(semi);
		color: #FF9F00;
		position: relative;
		padding-right: 10px;

		span {
			border-bottom: solid 1px #FF9F00;
			display: inline-block;
		}

		&:after {
			position: absolute;
			content: "";
			display: block;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(-180deg);
			width: 0; 
			height: 0; 
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;

			border-bottom: 3px solid #FF9F00;

		}
	}

	@include linksHover();
}

.header-top__auth-reg {
	@include states {
		display: inline-block;
		font-size: 14px;
		@include font(semi);
		color: #FF9F00;
		border-bottom: solid 1px #FF9F00;
	}

	@include linksHover();
}

.header-logo__text {
	text-indent: -999999px;
	font-size: 0;
}

.header-mid {
	background: #fff;
	padding: 17px 0 15px 0;
	border-bottom: 1px solid #F2F2F2;
}

.header-bot {
	padding: 11px 0 14px 0;
	background: #fff;
	border-bottom: 1px solid #F2F2F2;
}

.header-logo__img {
	max-width: 224px;
}

.header-logo {
	@include states {
		display: inline-block;
		margin-right: 10px;
	}

	@include linksHover();
}

.header-mid__list {
	font-size: 0;
	display: inline-block;
	padding: 11px 0;
}

.header-mid__item {
	display: inline-block;
	margin-right: 30px;
	font-size: 16px;
	@include font(bold);
	color: black;

	&:last-child {
		margin-right: 0;
	}

	> .header-mid__link {
		@include linksHover();
	}
}

.header-mid__magaz {
	@include states {
		float: right;
		padding: 11px 25px 9px 25px;
		font-size: 16px;
		@include font(bold);
		position: relative;
		border-radius: 3px;
		transition: all .3s ease-in-out;
		color: #FF9F00;
		border: 1px solid #eaeaea;
	}

	&:hover {
		border-color: #FF9F00;
		color: #FF9F00;
	}

	&:active {
		background-color: #FF9F00;
		border-color: #FF9F00;
		color: #fff;

		&:before {
			background: image-url('svg-icons/basket_white.svg') no-repeat;
		}
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

.header-mid__item {
	position: relative;

	&.active:before {
		visibility: visible;
		opacity: 1;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		bottom: -5px;
		height: 32px;
		width: 100%;
		top: 100%;
		border-bottom: 5px solid #FF9F00;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	.dropdown:before {
		position: absolute;
		display: block;
		content: "";
		bottom: -5px;
		height: 32px;
		width: 100%;
		top: 100%;
		border-bottom: 5px solid #FF9F00;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	.dropdown.open:before {
		visibility: visible;
		opacity: 1;
	}
}

.dropdown-content {
	top: 51px;
	left: -40px;
	display: none;
	position: absolute;
	background-color: #fff;
	width: 812px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.header__dropdown-content {
	font-size: 0;
	white-space: nowrap;
}

.header__drop-list,
.tab-content {
	display: inline-block;
}

.header__tab-content {
	width: 520px;
	vertical-align: top;
}

.header__drop-list {
	vertical-align: top;
	border-right: 1px solid #ebeced;
}

.header__drop-item {
	font-size: 16px;
	color: black;
	border-top: 1px solid #ebeced;
	@include font(bold);

	&:last-child {
		border-bottom: 1px solid #ebeced;
	}
	
	&.active {
		background: #f8f9fa;
	}
}

.header__drop-link {
	display: block;
	height: 100%;
	padding: 15px 0 15px 40px;
	width: 292px;

	@include linksHover();
}

.header__tab-content {
	.tab-pane__col {
		padding: 30px 0 15px 40px;
		font-size: 14px;
	}

	.tab-pane {
		padding-right: 30px;
	}
} 

.tab-pane__title {
	@include states {
		@include font(semi);
		font-size: 14px;
		line-height: 18px;
		white-space: normal;
		display: block;
		padding: 3px 0;
	}

	@include linksHover();
}

.tab-pane__link {
	@include linksHover();
	white-space: normal;
	@include font(reg);
}

.tab-pane__list {
	margin-bottom: 15px;
}

.tab-pane__item {
	font-size: 13px;
	color: $black40;
	padding: 5px 0;
	line-height: 14px;

	&.separ {
		padding: 10px 0;
		width: 100%;
		position: relative;

		&:before {
			display: block;
			width: 100%;
			height: 1px;
			background: #ebeced;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			content: "";
		}
	}

	&:last-child.separ {
		margin-bottom: -5px;
		margin-top: 5px;
	}
}

.header-top__auth-false {
	position: relative;
	display: inline-block;

	&:before {
		@extend %icons;
		content: "/";
		color: $black20;
		@include font(semi);
		font-size: 14px;
		left: 37px;
	}
}

.header.headerV3 {
	.header-top__left {
		float: left;
		display: flex;
		align-items: center;
	}

	.header-top__left-link {
		margin-right: 18px;
	}

	.header-top__left-tel {
		font-size: 14px;
		@include font(semi);
		position: relative;
		padding-left: 17px;

		&:before {
			position: absolute;
			display: block;
			content: "";
			background: image-url('svg-icons/tel-icon.svg') no-repeat;
			background-size: contain;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 14px;
			height: 20px;
		}
	}

	.header-logo {
		margin-right: 70px;
		vertical-align: top;
	}

	.header-logo__img {
		max-width: 263px;
		width: 263px;
	}

	.header-mid__item {
		margin-right: 27px;

		&:before {
			height: 31px;
		}
	}

	.header-mid__list {
		padding: 13px 0 0;
	}

	.header-mid__btn-zap {
		float: right;
		width: 200px;
		height: 40px;
		line-height: 40px;
		white-space: nowrap;
		overflow: hidden;
		border-radius: 20px;
		font-size: 16px;
		@include font(bold);
		color: #fff;
		text-align: center;
		margin-top: 3px;
	}

	.header-bot {
		padding: 0;
		display: flex;
		align-items: center;
		height: 47px;
		flex-wrap: wrap;
	}

	.header-nav__item:before {
		height: 14px;
	}
}