.magazine {
	margin-bottom: 36px;
}

.magazine__item {
	background: #fff;
	padding: 0 30px 30px 30px;

	.best__card-bot-rating {
		margin-bottom: 20px;
	}

	.best__c-b-r-comments {
		@include linksHover();

		@include states {
			vertical-align: middle;
			display: inline-block;
			color: $black30;
			font-size: 14px;
			border-bottom: solid 1px $black30;
		}
	}
}

.magazine__link {
	display: block;
	@include linksHover();
}

.magazine__item-img-container {
	margin-bottom: 20px;
	position: relative;
}

.magazine__item-title {
	display: block;
	@include linksHover();
	height: 60px;
	overflow: hidden;
	font-size: 16px;
	margin-bottom: 14px;
	@include font(bold);
}

.magazine__item-price {
	font-size: 24px;
	@include font(ext);
}

.magazine__item-buy-btn {
	padding: 12px 32px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	@include font(bold);

	&:hover {
		color: #fff;
	}
}

.magazine__item-img {
	margin: 0 auto;
}

.magazine__item-price-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.magazine__badge-block {
	position: absolute;
	left: 4px;
	top: 30px;
}

.magazine__badge {
	margin-right: 10px;
	letter-spacing: 1.3px;
	font-size: 12px;

	&:last-child {
		margin-right: 0;
	}
}

.magazine__list {
	padding-top: 24px;
}