.main-cost {
	margin-bottom: 36px;
}

.main-cost__container {
	background: #272727;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.main-cost__title {
	width: 345px;
	color: #fff;
	@include font(ext);
	font-size: 28px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.main-cost__desc {
	color: rgba(255,255,255,0.35);
	font-size: 16px;
	margin-bottom: 30px;
}

.main-cost__form {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-cost__bot {
	color: #fff;
	width: 325px;
	margin: 0 auto;
	font-size: 14px;
}

/* select */

.main-cost__select + .select2-container {
	outline: none;
	display: inline-block;
	width: 380px !important;

	.select2-selection {
		outline: 1px solid transparent;
		width: 100%;
		height: 42px;
		border-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border: none;
		padding: 0 15px;
		line-height: 44px;
		font-size: 16px;
		color: $black30;
		background: #fff;
		text-align: left;
	}

	.select2-selection__rendered {
		color: $black30 !important;
		width: 100%;
		line-height: inherit !important;
		padding-left: 0 !important;
	}

	.selection {
		display: block;
		width: 100%;
	}

	.select2-selection__arrow {
		top: 50% !important;
		right: 14px;
		position: absolute;
		display: block;
		transform: translateY(-50%);
		width: 0px;
		height: 0px;
	}
}

.select2-search--dropdown {
	display: none;
}

.select2-dropdown {
	border: none;
	font-size: 16px;
	@include font(reg);

	.select2-results__option {
		padding: 10px 15px;
	}

	.select2-results__option[aria-selected=true] {
		background-color: #FF9F00;
		color: #fff;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: #656565;
		color: #fff;
	}

	.select2-results__option:first-child {
		display: none;
	}

	.select2-results__option:last-child {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

/* select ... end */

.main-cost__submit {
	@include font(bold);
	height: 42px;
    vertical-align: middle;
    width: 200px;
    margin-left: -7px;

    @include states {
    	opacity: 1;
    }
}