.main-video {
	margin-bottom: 43px;
}

.main-video__right-img-container {
	padding: 12px;
	background: #fff;
}

.owl-video__video {
	width: 100%;
	height: 354px;
	display: none;
}

.owl-video__item {
	height: 355px;
	width: 100%;
}

.owl-video__cover {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;

	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 100px;
		height: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: image-url('svg-icons/play-button.svg') no-repeat;
		z-index: 1;
		opacity: 1;
		transition: all .3s ease-in-out;
	}

	&:hover:before {
		opacity: 0.6;
	}
}

.owl-thumbs-video__img-container {
	border: none;
	outline: none;
	padding: 0;
	background: none;
	position: relative;
	width: 100%;
	@include linksHover();
	transition: all 0.3s ease-in-out;

	&:after {
		transition: all 0.3s ease-in-out;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		border: 4px solid transparent;
	}

	&.active:after {
		border: 4px solid #35bd9f;
	}
}

.owl-thumbs-video {
	margin-top: 22px;
	height: 355px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.owl-video__cover-title {
	font-size: 28px;
	color: #fff;
	@include font(ext);
	padding: 0 0 30px 30px;
	width: 432px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.owl-video__cover-views {
	position: absolute;
	right: 30px;
	bottom: 30px;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	padding-left: 25px;
	@include font(bold);

	&:before {
		@extend %icons;
		background: image-url('svg-icons/video_eye_white.svg') no-repeat;
		left: 0;
		width: 18px;
		height: 10px;
		top: 45%;
	}
}

.owl-video {
	margin-top: 22px;
}