.main-top {
	padding-top: 60px;
	margin-bottom: 35px;
}

.main-top__title {
	font-size: 48px;
	@include font(ext);
	line-height: 58px;
	margin-bottom: 30px;
}

.main-top__btn-search {
	display: inline-block;
	padding: 16px 30px;
	color: #fff;
	font-size: 14px;
	@include font(bold);
	margin-right: 20px;
	vertical-align: middle;
	text-transform: uppercase;

	&:hover {
		color: #fff;
	}

	&:active {
		color: #fff;
	}
}

.main-top__separ {
	display: inline-block;
	margin-right: 20px;
	color: #b5b5b5;
	font-size: 16px;
}

.main-top__buttons-block {
	margin-bottom: 30px;
}

.main-top__description {
	font-size: 13px;
	color: #6e6e6e;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 509px;
	opacity: 0.73;

	b {
		@include font(bold);
	}
}

.main-top__head {
	margin-bottom: 68px;
}

.main-top__middle-blocks {
	overflow: hidden;
}