.middle-blocks__big-card {
	@include states {
		position: relative;
		display: block;
	}
}

.middle-blocks__big-card-bot {
	height: 116px;
	overflow: hidden;
	background: #fff;
	padding: 20px 30px 30px 30px;
}

.middle-blocks__big-card-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
}

.middle-blocks__big-card-desc {
	font-size: 14px;
	color: $black40;
}

.middle-blocks__small {
	@include states {
		display: block;
		background: #fff;
		height: 175px;
		overflow: hidden;
		padding: 30px;
	}

	@include linksHover();
}

.middle-blocks__small-tag {
	font-size: 13px;
	color: $black20;
	text-transform: uppercase;
	margin-bottom: 20px;
	@include font(bold);
}

.middle-blocks__small-title {
	font-size: 18px;
	@include font(bold);
	height: 44px;
	overflow: hidden;
	margin-bottom: 20px;
}

.middle-blocks__small-comments {
	font-size: 13px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
	padding-left: 20px;
	position: relative;
	color: #35bd9f;

	&:before {
		@extend %icons;
		background: image-url('svg-icons/comment_green.svg') no-repeat;
		width: 14px;
		height: 13px;
		left: 0;
	}
}

.middle-blocks_margin {
	margin-top: auto;
}