.modal-search__dialog {
	margin: 140px auto 160px auto;
	width: 750px;
	max-width: 90%;
	position: relative;
}

.modal_white {
	background: rgba(0,0,0,0.9);
}

.modal-backdrop {
	background: transparent;
}

.modal-search__title {
	font-size: 24px;
	@include font(bold);
	text-align: center;
	margin-bottom: 30px;
	color: #fff;
}

.modal-search__input {
	width: 100%;
	height: 53px;
	line-height: 52px;
	outline: none;
	border: none;
	background: #ebeced;
	border-radius: 3px;
	font-size: 16px;
	padding: 0 46px;
}

.modal-search__btns-list {
	margin-bottom: 45px;
	font-size: 0;
}

.modal-search__btns-item {
	display: inline-block;
	margin-right: 30px;
	font-size: 16px;
	color: $black40;
	border-bottom: 2px solid transparent;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		border-color: #FF9F00;
		@include font(semi);
		color: #131313;
	}
}

.modal-search__btns-link {
	display: block;
	@include linksHover();
	@include states {
		color: #fff;
	}
}

.modal-search__form {
	position: relative;
	margin-bottom: 30px;

	&:before {
		@extend %icons;
		left: 17px;
		height: 15px;
		width: 15px;
		background: image-url("svg-icons/big-zoom.png") no-repeat;
		background-size: contain;
	}
}

.modal-search__close-btn {
	width: 28px;
	height: 28px;
	cursor: pointer;
	position: absolute;
	top: -45px;
	right: -103px;
	background: image-url("svg-icons/window-close_white.svg") no-repeat center;
	@include linksHover();
}

.modal-search__row {
	padding: 15px 0;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	justify-content: space-between;

	.best__c-b-r-stars-wrap {
		transform: scale(0.7);
		margin-right: 0;
		margin-left: -15px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-comments {
		@include states {
			color: rgba(255,255,255,0.3);
		}
		@include linksHover();
	}
}

.modal-search__row-top {
	margin-bottom: 10px;
}

.modal-search__row-title {
	@include states {
		color: #fff;
	}
	display: inline-block;
	font-size: 16px;
	margin-right: 16px;
	@include linksHover();

	b {
		@include font(bold);
	}
}

.modal-search__row-date {
	display: inline-block;
	font-size: 12px;
	color: rgba(255,255,255,0.3);
}

.modal-search__row-desc {
	font-size: 13px;
	line-height: 20px;
	color: rgba(255,255,255,0.5);

	b {
		@include font(bold);
	}
}

.modal-search__row_image {
	.modal-search__row-left {
		width: 590px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.modal-search__row-right {
		text-align: right;
		font-size: 0;
	}
}

.modal-search__row-img-container {
	display: inline-block;
	width: 140px;
}

.modal-search__row-сup {
	padding-left: 28px;
	position: relative;
	font-size: 13px;
	color: rgba(255,255,255,0.5);
	margin-bottom: 12px;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 16px;
		display: block;
		content: "";
		height: 16px;
		background: image-url("svg-icons/trophy-material-design-icons.svg") no-repeat;
	}
}

.modal-search__area {
	margin-bottom: 45px;
}

.modal-search__animation {
	text-align: center;
	font-size: 15px;
	position: relative;
}

.modal-search__animation-text {
	position: relative;
	display: inline-block;
	padding-left: 37px;
	color: #fff;

	&:before {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		width: 24px;
		height: 24px;
		transform: translateY(-50%);
		top: 50%;
		background: image-url('svg-icons/loader.svg') no-repeat;
		background-size: contain;
	}
}