.modal-auth__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
	padding: 3vh 0;
}

.modal-auth__dialog {
	position: relative;
	pointer-events: auto;
	width: 555px;
	max-width: 90%;
	margin: auto 0;
}

.modal_black {
	background: rgba(0,0,0,0.9);
}

.modal-auth__container {
	background: #fff;
	padding: 35px 60px;
}

.modal-auth__choose-link {
	@include linksHover();
}

.modal-auth__choose-item {
	font-size: 21px;
	color: #101010;
	@include font(bold);
	margin-right: 31px;
	display: inline-block;
	position: relative;

	&:last-child {
		margin-right: 0;

		&:after {
			display: none;
		}
	}

	&:after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		display: block;
		height: 25px;
		width: 1px;
		background: #d8d8d8;
		right: -18px;
	}

	&.active {
		color: $black30;
	}
}

.modal-auth__choose-list {
	margin-bottom: 25px;
}

.sign-form__selects {
	margin-bottom: 10px;
}

.sign-form-input-checkbox {
	display: none;
}

.sign-form-check-label {
	cursor: pointer;
}

.sign-form-check-label-text {
	margin-bottom: 15px;
	font-size: 14px;
	padding-left: 26px;
	position: relative;
}

.sign-form-check-label-text:before {
	@extend %icons;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.sign-form-check-label-text:after {
	@extend %icons;
	left: 3px;
	display: none;
	background: image-url("svg-icons/check_green.svg") no-repeat center;
	width: 11px;
	height: 11px;
}

.sign-form-input-checkbox:checked + .sign-form-check-label-text:after {
	display: block;
}

.sign-form__submit {
	@include font(bold);
	padding: 13px 18px 12px 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.modal-auth__close-btn {
	width: 28px;
	height: 28px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
	background: image-url("svg-icons/window-close-material-design-icons.svg") no-repeat center;
	@include linksHover();
}

.reg-form__submit {
	@include font(bold);
	padding: 13px 50px 12px 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.reg-form__forgot-btn {
	@include states {
		font-size: 14px;
		text-decoration: underline;
	}

	@include linksHover();
}


.reg-form-input-checkbox {
	display: none;
}

.reg-form-check-label {
	cursor: pointer;
}

.reg-form-check-label-text {
	font-size: 14px;
	padding-left: 26px;
	position: relative;
}

.reg-form-check-label-text:before {
	@extend %icons;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.reg-form-check-label-text:after {
	@extend %icons;
	left: 3px;
	display: none;
	background: image-url("svg-icons/check_green.svg") no-repeat center;
	width: 11px;
	height: 12px;
	background-size: contain;
}

.reg-form-input-checkbox:checked + .reg-form-check-label-text:after {
	display: block;
}

.modal-auth__tab-content {
	width: 100%;
}

.reg-form__mid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.reg-form__socials-block {
	border-top: 1px solid #ebeced;
	padding-top: 15px;
}

.reg-form__socials-title {
	font-size: 16px;
	margin-bottom: 15px;
}

.reg-form__socials-list {
	display: flex;
	justify-content: space-between;
}

.reg-form__socials-item {
	width: 70px;
	height: 40px;
	border-radius: 3px;

	&.vk .reg-form__socials-link{
		background: image-url('socials-icons/vkontakte.svg') no-repeat center;
		background-color: #45668e;
	}

	&.fb .reg-form__socials-link{
		background: image-url('socials-icons/facebook.svg') no-repeat center;
		background-color: #3b5998;
	}

	&.tw .reg-form__socials-link{
		background: image-url('socials-icons/twitter.svg') no-repeat center;
		background-color: #1da1f2;
	}

	&.ok .reg-form__socials-link{
		background: image-url('socials-icons/odnoklassniki.svg') no-repeat center;
		background-color: #ed812b;
	}

	&.mail .reg-form__socials-link{
		background: image-url('socials-icons/mail-ru.svg') no-repeat center;
		background-color: #168de2;
	}
}

.reg-form__socials-list {
	font-size: 0;
}

.reg-form__socials-link {
	border-radius: 3px;
	display: block;
	width: 100%;
	height: 100%;
	@include linksHover();
	text-indent: -99999px;
}

.modal-remember__title {
	font-size: 21px;
	@include font(bold);
	margin-bottom: 25px;
}

.inner-modal {
	padding-right: 17px;
}

.input-wrapper {
	&.error {
		.form-message__error {
			display: block;
		}

		.input-def,
		.valid-this-input {
			border-color: #e14f69;
		}
	}
}

.form-message__error {
	display: none;
	font-size: 12px;
	color: #e14f69;
	margin-top: -15px;
	margin-bottom: 20px;
}