.modal-country__dialog {
	margin: 140px auto 160px auto;
	width: 685px;
	max-width: 90%;
	position: relative;
}

.modal-country__title {
	font-size: 24px;
	font-family: 'ProximaNova-Bold';
	text-align: center;
	margin-bottom: 40px;
	color: #fff;
}

.modal-country__input {
	width: 100%;
	height: 53px;
	line-height: 52px;
	outline: none;
	border: none;
	background: #ebeced;
	border-radius: 3px;
	font-size: 16px;
	padding: 0 135px 0 25px;
}

.modal-country__all-btn {
	@include states {
		cursor: pointer;
		position: absolute;
		font-size: 15px;
		color: #FF9F00;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
	}
	@include linksHover();
}

.modal-country__form {
	width: 615px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
}

.modal-country__mini-list {
	margin-bottom: 60px;
}

.modal-country__mini-link {
	@include states {
		display: block;
		line-height: 30px;
		font-size: 16px;
		text-decoration: underline;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		color: #fff;
	}

	@include linksHover();
}

.modal-country__full-item-title {
	text-transform: uppercase;
	font-size: 19px;
	color: #FF9F00;
	@include font(bold);
	margin-bottom: 10px;
}

.modal-country__full-link {
	@include states {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
		line-height: 30px;
		font-size: 16px;
		text-decoration: underline;
		color: #fff;
	}

	@include linksHover();
}