.news__big-list {
	padding-top: 22px;

	.news__big-item {
		margin-bottom: 22px;
	}
}



.news {
	margin-bottom: 36px;
}

.news__big-link {
	display: block;
	position: relative;
	@include linksHover();
}

.news__big-item-img {
	width: 100%;
}

.news__big-item-img-container {
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 100px;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.news__big-item-top-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px;
	font-size: 13px;
	@include font(bold);
	letter-spacing: 1.4px;
	color: #fff;
	text-transform: uppercase;
}

.news__big-item-bot {
	height: 165px;
	overflow: hidden;
	background: #fff;
	padding: 20px 30px 30px 30px;
}

.news__big-item-date {
	font-size: 13px;
	color: $black30;
	margin-bottom: 10px;
}

.news__big-item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
}

.news__big-item-desc {
	font-size: 14px;
	color: $black40;
}

.news__small-item-bot {
	height: 205px;
	overflow: hidden;
	background: #fff;
	padding: 20px 30px 30px 30px;
}

.news__yandex-btn {
	@include states {
		border-radius: 24px;
		text-align: center;
		background: #f9d757;
		color: #000000;
		font-family: Arial;
		font-size: 15px;
		display: inline-block;
		position: relative;
		padding: 14px 40px 14px 63px;
		margin-top: 45px;
		transition: all .3s ease-in-out;

		&:before {
			position: absolute;
			content: "";
			display: inline-block;
			width: 2px; 
			height: 14px;
			background: #000000;
			left: 45px;
			top: 50%;
			margin-top: -7px;
		}

		&:after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 2px; 
			height: 14px;
			transform: rotate(-270deg);
			background: #000000;
			left: 45px;
			top: 50%;
			margin-top: -7px;
		}

	}
	
	span {
		vertical-align: sub;
	}

	img {
		height: auto;
		max-width: 107px;
		padding-top: 2px;
	}

	&:hover {
		background: rgba(#f9d757, 0.7);
	}

	&:active {
		background: #ebebeb;
	}
}

.news__yandex-btn_wrap {
	text-align: center;
}

