.owl-blmain__item {
	position: relative;
}

.owl-blmain {
	margin-left: -2px;
}

.row.flex {
	&:before,
	&:after {
		display: none !important;
	}
}

.owl-blmain__link {
	@include states {
		position: relative;
		display: block;
	}

	@include linksHover();
}

.owl-blmain__item-top {
	position: absolute;
	height: 100px;
	width: 100%;
	top: 0;
	padding: 30px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		opacity: 0.45;
		background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
	}
}

.owl-blmain__item-bot {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	height: 370px;
	width: 100%;
	bottom: 0;
	padding: 0 30px 55px 30px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	}
}

.owl-blmain__item-top-title {
	position: relative;
	color: #fff;
	font-size: 13px;
	letter-spacing: 1.4px;
	@include font(bold);
	float: left;
	text-transform: uppercase;
}

.owl-blmain__item-top-comments {
	float: right;
	font-size: 13px;
	letter-spacing: 1.4px;
	@include font(bold);
	padding-left: 20px;
	position: relative;
	color: #fff;

	&:before {
		@extend %icons;
		background: image-url('svg-icons/comment_white.svg') no-repeat;
		width: 14px;
		height: 13px;
		left: 0;
	}
}

.owl-blmain__item-bot-badge {
	align-self: baseline;
	margin-bottom: 15px;
	position: relative;
}

.owl-blmain__item-bot-name {
	color: #fff;
	font-size: 14px;
	@include font(semi);
	margin-bottom: 10px;
	position: relative;
}

.owl-blmain__item-bot-desc {
	width: 385px;
	font-size: 28px;
	color: #fff;
	@include font(ext);
	position: relative;
}

.owl-dot span {
	width: 8px;
	height: 8px;
	margin: 5px 10px;
	background: rgba(255, 255, 255, 0.25);;
	display: block;
	transition: all .3s ease-in-out;
	border-radius: 50%;
}

.owl-dot.active span {
	background: #fff;
	width: 10px;
	height: 10px;
}

.owl-dot {
	display: inline-block;
	vertical-align: middle;
}

.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 25px;
	left: 20px;
}