/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.main-video {
		.container {
			position: relative;
		}
	}

	.owl-blmain__img-container.img-container {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.owl-blmain__img.img-responsive {
		max-height: 580px;
		min-height: 580px;
		max-width: initial;
	}

	.owl-blmain .owl-item img {
		width: auto;
	}

	.middle-blocks__small {
		@include states {
			height: 198px;
		}
	}

	.middle-blocks__small-title {
		height: 66px;
	}

	.best__card-badge {
		font-size: 12px;
	}

	.best__card-bot {
		padding: 20px 30px 30px 30px;
	}

	.best__card-bot-title {
		font-size: 17px;
	}

	.main-akcii__item-img-container.img-container{
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.main-akcii__item-img.img-responsive {
		max-height: 340px;
		min-height: 340px;
		max-width: initial;
		width: auto;
	}

	.main-akcii__link-procent {
		font-size: 540px;
	}

	.main-akcii__item__bot-desc {
		margin-bottom: 20px;
	}

	.best__list {
		font-size: 0;
	}

	.main-doctors__badge {
		font-size: 12px;
	}

	.main-video__right-banner {
		position: absolute;
		display: inline-block;
	}

	.main-video__right-img-container {
		padding: 28px 27px;
	}

	.main-video__right-img.img-responsive {
		margin: 0 auto;
	}

	.owl-thumbs-video__img-container {
		width: 150px;
		margin-right: 15px;
	}

	.owl-thumbs-video {
		height: auto;
		flex-direction: row;
		margin-top: 0;
		justify-content: flex-start;
	}

	.owl-video__item {
		height: 350px;
	}

	.owl-video__video {
		height: 347px;
	}

	.magazine__badge {
		font-size: 12px;
	}

	.news__small-item-bot {
		height: 230px;
	}

	.news__big-item-title {
		font-size: 17px;
	}

	.news__big-item-top-title {
		font-size: 12px;
	}

	.footer-top__col {
		.footer-top__col {
			margin-top: 20px;
		}
	}

	.header__tab-content {
		width: 450px;
	}

	.dropdown-content {
		width: 730px;
	}

	.main-doc2__bot {
		.best__c-b-r-count {
			font-size: 14px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.8);
			margin: 0 -5px 0 -10px;
		}

		.best__c-b-r-comments {
			font-size: 12px;
		}
	}

	.header-mid__item {
		margin-right: 20px;
	}

	.header-nav__item {
		margin-right: 12px;
	}

	.owl-menu {
		.owl-menu__link {
			display: block;
			font-size: 14px;
			@include font(semi);
			color: $black30;
			@include linksHover();
		}

		.owl-stage-outer {
			padding-left: 30px;
			border-bottom: 1px solid #ebeced;
		}

		.owl-stage {
			white-space: nowrap;
		}

		.owl-item {
			display: inline-block;
			float: none;
		}

		.owl-menu__item {
			padding: 20px 0;
		}
	}

	.header-mid__menu.open>.dropdown-menu {
		display: none;
	}

	.menu-dropdown__inner-link {
		display: block;
		width: 100%;
		height: 100%;
		@include linksHover();
		padding: 15px 30px 15px 50px;
		font-size: 16px;
		color: $black40;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
	}

	.menu-dropdown__item-drop {
		display: none;
	}

	.menu-dropdown__link.menu-dropdown__link_back {
		background: #fff8f6;
		position: relative;
		padding-left: 55px;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(90deg);
			left: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
		}
	}

	.menu-dropdown__item.i-carret {
		display: block;
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(-90deg);
			right: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
			pointer-events: none;
		}
	}

	.menu-dropdown__link {
		display: block;
		padding: 15px 30px;
		font-size: 16px;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
		@include linksHover();
	}

	.header-mid__menu-dropdown,
	.menu-dropdown__item-drop {
		position: fixed;
		top: 129px;
		z-index: 1000;
		background: #fff;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		padding: 0;
		margin: 0;
		border: none;
		padding-bottom: 129px;
		overflow-y: scroll;
	}

	.menu-dropdown__item-drop {
		top: 187px;
		padding-bottom: 187px;
	}

	.header-mid__menu {
		float: right;

		&.open {
			.header-mid__menu-btn {
				background: #FF9F00;
				width: 45px;
				border-radius: 3px;
				padding: 11px 8px;
			}

			.icon-bar:nth-of-type(1) {
				top: 8px;
				transform: rotate(45deg);
				background: #fff;
			}

			.icon-bar:nth-of-type(2) {
				background: transparent;
			}

			.icon-bar:nth-of-type(3) {
				top: -8px;
				transform: rotate(-45deg);
				background: #fff;
			}
		}
	}

	.header-mid__menu-btn {
		display: inline-block;
		padding: 11px 0;
		width: 45px;
		@include linksHover();

		.icon-bar {
			transition: all 500ms ease-in-out;
			position: relative;
			background-color: #B5B5B5;
			display: block;
			width: 30px;
			height: 4px;
			margin-bottom: 4px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 3px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.header-mid__magaz {
		margin-right: 40px;
	}

	.header.headerV3 {
		.header-logo {
			margin-right: 20px;
		}

		.header-logo__img {
			max-width: 225px;
		}

		.header-mid__item {
			margin-right: 20px;

			&:before {
				height: 23px;
			}
		}

		.header-mid__btn-zap {
			width: 160px;
			height: 34px;
			line-height: 34px;
			font-size: 14px;
			margin-top: 6px;
		}

		.header-top__left-link {
			max-width: 190px;
			border-bottom: none;
			margin-top: -15px;
			margin-bottom: -15px;
		}

		.header-top__left-tel {
			padding-top: 1px;
		}

		.header__dropdown-content {
			top: 43px;
		}

		.header-mid__item .dropdown:before {
			height: 23px;
		}
	}
}

/* xs+sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.full-banner__text {
		font-size: 15px;
		margin-right: 25px;
	}

	.owl-menu {
		.owl-menu__link {
			display: block;
			font-size: 14px;
			@include font(semi);
			color: $black30;
			@include linksHover();
		}

		.owl-stage-outer {
			padding-left: 30px;
			border-bottom: 1px solid #ebeced;
		}

		.owl-stage {
			white-space: nowrap;
		}

		.owl-item {
			display: inline-block;
			float: none;
		}

		.owl-menu__item {
			padding: 20px 0;
		}
	}

	.header-mid__menu.open>.dropdown-menu {
		display: none;
	}

	.menu-dropdown__inner-link {
		display: block;
		width: 100%;
		height: 100%;
		@include linksHover();
		padding: 15px 30px 15px 50px;
		font-size: 16px;
		color: $black40;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
	}

	.menu-dropdown__item-drop {
		display: none;
	}

	.menu-dropdown__link.menu-dropdown__link_back {
		background: #fff8f6;
		position: relative;
		padding-left: 55px;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(90deg);
			left: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
		}
	}

	.menu-dropdown__item.i-carret {
		display: block;
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(-90deg);
			right: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
		}
	}

	.menu-dropdown__link {
		display: block;
		padding: 15px 30px;
		font-size: 16px;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
		@include linksHover();
	}

	.header-mid__menu-dropdown,
	.menu-dropdown__item-drop {
		position: fixed;
		top: 129px;
		z-index: 1000;
		background: #fff;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		padding: 0;
		margin: 0;
		border: none;
		padding-bottom: 129px;
		overflow-y: scroll;
	}

	.menu-dropdown__item-drop {
		top: 187px;
		padding-bottom: 187px;
	}

	.header-top__info-map {
		@include states {
			max-width: none;
		}
	}

	.header-mid__menu {
		float: right;

		&.open {
			.header-mid__menu-btn {
				background: #FF9F00;
				width: 45px;
				border-radius: 3px;
				padding: 11px 8px;
			}

			.icon-bar:nth-of-type(1) {
				top: 8px;
				transform: rotate(45deg);
				background: #fff;
			}

			.icon-bar:nth-of-type(2) {
				background: transparent;
			}

			.icon-bar:nth-of-type(3) {
				top: -8px;
				transform: rotate(-45deg);
				background: #fff;
			}
		}
	}

	.header-mid__menu-btn {
		display: inline-block;
		padding: 11px 0;
		width: 45px;
		@include linksHover();

		.icon-bar {
			transition: all 500ms ease-in-out;
			position: relative;
			background-color: #B5B5B5;
			display: block;
			width: 30px;
			height: 4px;
			margin-bottom: 4px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 3px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.header-mid__magaz {
		margin-right: 40px;
	}

	.main-top__title {
		font-size: 38px;
		line-height: normal;
		max-width: 509px;
		margin-bottom: 57px;
	}

	.owl-blmain__img.img-responsive {
		max-height: 426px;
		min-height: 426px;
	}

	.owl-blmain__item-bot-badge {
		font-size: 12px;
	}

	.owl-blmain__item-top {
		padding: 30px 20px;
	}

	.owl-blmain__item-bot-desc {
		width: 254px;
	}

	.owl-blmain__item-bot {
		padding: 0 20px 53px 20px;
	}

	.owl-dots {
		left: 15px;
	}

	.owl-dot span {
		margin: 5px 5px;
	}

	.big-card__img-container.img-container {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.big-card__img.img-responsive {
		max-height: 271px;
		min-height: 271px;
		max-width: initial;
		width: auto;
	}

	.middle-blocks__big-card-bot {
		height: 155px;
		padding: 20px 20px 30px 15px;
	}

	.middle-blocks_margin {
		margin-top: 30px;
		margin-left: -113.5%;
		margin-right: -15px;
	}

	.middle-blocks__small {
		@include states {
			height: 176px;
			padding: 30px 20px;
		}
	}

	.middle-blocks__small-title {
		height: auto;
	}

	.best__card-badge {
		font-size: 10px;
		margin-right: 0;
		margin-bottom: 6px;
		float: left; 
		clear: left; 

		&:last-child {
			margin-bottom: 0;
		}
	}

	.best__card-badge-wrap {
		top: 12px;
		left: 14px;
	}

	.best__card-bot {
		height: 195px;
		overflow: hidden;
		padding: 22px 20px 25px 20px;
	}

	.best__card-bot-title {
		height: auto;
	}

	.best__card-bot-title {
		font-size: 16px;
	}

	.best__card-bot {
		.best__c-b-r-count {
			font-size: 12px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.6);
			margin: 0px -15px 0px -23px;
		}

		.best__c-b-r-comments {
			font-size: 12px;
		}
	}

	.best__c-b-r-stars {
		white-space: nowrap;
	}

	.best__c-b-r-comments {
		margin-left: auto;
	}

	.best__card-bot-rating {
		display: flex;
		font-size: 0;
		align-items: center;
	}

	.badge_orange, .badge_green, .badge_pink {
		padding: 4px 5px;
	}

	.best__bot {
		padding: 30px;
	}

	.main-akcii__item-top {
		font-size: 10px;
		padding: 20px;
	}

	.main-akcii__item__bot {
		padding: 20px;
	}

	.main-akcii__item__bot-price .norm-price {
		vertical-align: middle;
	}

	.main-akcii__item__bot-price {
		font-size: 20px;
	}

	.main-akcii__item__bot-price .old-price {
		vertical-align: middle;
		font-size: 14px;
	}

	.main-akcii__item__bot-desc {
		font-size: 14px;
		margin-bottom: 17px;
	}

	.main-akcii__item__bot-title {
		font-size: 19px;
	}

	.main-akcii__link {
		max-height: 268px;
	}

	.main-akcii__link-procent {
		font-size: 432px;
		top: -65px;
	}

	.main-doctors__badge {
		top: 20px;
		left: 20px;
		font-size: 10px;
	}

	.main-doctors__item-title {
		font-size: 14px;
	}

	.main-doctors__item-desc {
		font-size: 10px;
	}

	.main-doctors__bot {
		padding: 20px;

		.best__c-b-r-count {
			font-size: 14px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.7);
			margin: 0 -15px 0 -17px;
		}

		.best__c-b-r-comments {
			font-size: 10px;
		}
	}

	.main-cost__container {
		padding: 40px 0;
	}

	.main-cost__title {
		font-size: 22px;
		margin-bottom: 7px;
	}

	.main-cost__desc {
		font-size: 13px;
		margin-bottom: 24px;
	}

	.main-cost__form {
		margin-bottom: 15px;
	}

	.main-cost__bot {
		font-size: 11px;
		max-width: 258px;
	}

	.main-cost__select + .select2-container {
		width: 305px !important;

		.select2-selection {
			font-size: 13px;
			height: 33px;
			line-height: 35px;
		}
	}
	
	.main-cost__submit {
		width: 160px;
		height: 33px;
		font-size: 11px;
		line-height: 35px;
	}

	.main-cost__bot {
		.link-def {
			font-size: 11px;
		}
	}

	.owl-video__video {
		height: 264px;
	}

	.owl-video__item {
		height: 267px;
		margin-bottom: 10px;
	}

	.owl-thumbs-video__img-container {
		width: 120px;
		margin-right: 10px;
	}

	.owl-video__cover:before {
		top: 75px;
		transform: translateX(-50%);
		width: 80px;
		height: 80px;
		background-size: contain;
	}

	.owl-video__cover-title {
		font-size: 22px;
		width: 345px;
		padding: 0px 0 40px 20px;
	}

	.owl-video__cover-views {
		right: 20px;
		bottom: 45px;
		font-size: 10px;
	}

	.main-video__right-img.img-responsive {
		max-height: 100%;
	}

	.main-video__right-img-container {
		padding: 20px;
		overflow: hidden;
		height: 255px;
		margin-top: 22px;
	}

	.magazine__item {
		padding: 0 20px 20px 20px;
	}

	.magazine__item-img-container {
		margin-bottom: 14px;
	}

	.magazine__item-title {
		@include states {
			font-size: 11px;
			height: 39px;
			margin-bottom: 12px;
		}
	}

	.magazine__badge {
		font-size: 8px;
		margin-right: 5px;
	}

	.magazine__list {
		.best__c-b-r-count {
			font-size: 12px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.7);
			margin: 0 -10px 0 -17px;
		}

		.best__c-b-r-comments {
			@include states {
				margin-left: initial;
				font-size: 10px;
			}
		}
	}

	.magazine__item-price {
		font-size: 16px;
	}

	.magazine__item-buy-btn {
		@include states {
			font-size: 10px;
			padding: 8px 22px;
		}
	}

	.magazine__item .best__card-bot-rating {
		margin-bottom: 14px;
	}

	.magazine__badge-block {
		top: 20px;
		left: 0;
	}

	.select2-dropdown .select2-results__option {
		padding: 7px 15px;
		font-size: 13px;
	}

	.news__big-item-top-title {
		font-size: 10px;
		padding: 25px;
	}

	.news__big-item-bot {
		padding: 20px;
		padding-top: 25px;
	}

	.news__big-item-date {
		margin-bottom: 8px;
		font-size: 11px;
	}

	.news__big-item-title {
		font-size: 14px;
	}

	.news__big-item-desc {
		font-size: 11px;
	}

	.news__big-item-bot {
		height: 140px;
	}

	.news__big-item-top-title {
		padding: 20px;
		font-size: 9px;
	}

	.news__small-item-bot {
		height: 155px;
		padding: 20px;
		padding-top: 15px;

		.news__big-item-date {
			font-size: 9px;
		}

		.news__big-item-title {
			font-size: 12px;
		}

		.news__big-item-desc {
			font-size: 10px;
		}
	}

	.allinfo__title {
		max-width: 357px;
		font-size: 22px;
		margin-bottom: 20px;
	}

	.allinfo__text {
		font-size: 12px;
		line-height: 16px;
	}

	.allinfo__article-block {
		margin-bottom: 110px;
	}

	.allinfo__item {
		font-size: 14px;
		line-height: 26px;
	}

	.allinfo__show-btn {
		@include states {
			font-size: 14px;
		}
	}

	.allinfo__show-btn:before {
		top: 55%;
		width: 18px;
		height: 18px;
	}

	.allinfo__sm-item {
		font-size: 14px;
	}

	.footer__copy {
		max-width: 208px;
	}

	.footer__copy-text {
		font-size: 11px;
		line-height: 16px;
	}

	.footer__title {
		font-size: 11px;
		margin-bottom: 18px;
	}

	.footer__item {
		font-size: 11px;
		margin-bottom: 9px;
	}

	.footer-top {
		margin-bottom: 50px;
	}

	.footer__email {
		height: 30px;
		line-height: 28px;
		font-size: 10px;
		padding: 0 12px;
	}

	.footer__email-label {
		font-size: 10px;
		height: 30px;
		line-height: 30px;
	}

	.footer__subm-btn {
		@include states {
			width: 54px;
			height: 30px;
			background-size: 30%;
		}
	}


	.footer__socials-item {
		width: 20px;
		height: 20px;
		margin-right: 11px;
	}

	.footer__socials-list {
		margin-left: 23px;
		padding: 5px 0;
	}

	.footer-mid {
		padding: 25px 0;
	}

	.footer-bot {
		padding: 25px 0;
	} 

	.footer-bot__item {
		font-size: 11px;
		margin-right: 18px;
	}

	.footer-bot__dev {
		font-size: 11px;

		.link-def {
			font-size: 11px;
		}
	}

	.modal-search__area {
		.best__c-b-r-comments {
			margin-left: initial;
		}
	}

	.modal-search__close-btn {
		top: -50px;
		right: -15px;
	}

	.main-doc2__name {
		font-size: 14px;
	}

	.main-doc2__desc {
		font-size: 12px;
	}

	.main-doc2__bot {
		.best__c-b-r-count {
			font-size: 12px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.5);
			margin: 0 -25px 0 -30px;
		}

		.best__c-b-r-comments {
			font-size: 10px;
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 991px) {
	.header.headerV3 {
		.header-top__info-map {
			@include states {
				margin-right: 0;
			}
		}

		.header-top {
			padding: 22px 0 16px;
		}

		.header-logo__img {
			max-width: 225px;
		}

		.header-top__menu-btn {
			display: block;
			margin-right: 60px;
		}

		.header-top__logo-menu-c {
			display: flex;
			align-items: center;
		}

		.header-top__logo-menu {
			float: left;
		}

		.header-top__auth,
		.header-top__info {
			padding-top: 7px;
		}

		.header-top__info-map {
			@include states {
				margin-right: 0;
			}
		}

		.header-top__auth-btns {
			margin-left: 20px;
		}

		.header-mid {
			display: none;
		}

		.header__menu {
			background: #272727;
			position: fixed;
			z-index: 10;
			max-width: 478px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform: translateX(-100%);
			transition: 0.5s;

			&.active {
				transform: translateX(0);
			}
		}

		.header__menu-c {
			color: #fff;
			font-size: 16px;
			line-height: 25px;
			@include font(bold);
			display: flex;
			flex-direction: column;
			padding: 95px 40px 50px 40px;
			align-items: flex-start;
			height: 100%;
			overflow-y: auto;
		}

		.header__menu-mid {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			border-top: 1px solid #b5b5b5;
			border-bottom: 1px solid #b5b5b5;
			padding: 30px 40px 18px 40px;
			margin: 0 -40px 40px -40px;
			align-self: normal;
			flex: 0 0 auto;

			> *:last-child {
				margin-bottom: 0;
			}
		}

		.header-top__socials-list {
			display: flex;
			float: none;
			margin-right: 0;
		}

		.header-top__socials-item {
			margin-right: 10.5px;

			&:last-child {
				margin-right: 0;
			}
		}

		.header-top__socials-link {
			width: 30px;
			height: 30px;
			display: block;
			position: relative;
			transition: all .3s;

			&:before,
			&:after {
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				content: "";
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.3s;
				opacity: 1;
			}

			&:after {
				opacity: 0;
			}

			&:hover {
				&:before {
					opacity: 0;
				}

				&:after {
					opacity: 1;
				}
			}

			&.header-top__socials-link_fb {
				&:before {
					background-image: image-url('header-socials/fb.svg');
				}

				&:after {
					background-image: image-url('header-socials/fb-hover.svg');
				}
			}

			&.header-top__socials-link_vk {
				&:before {
					background-image: image-url('header-socials/vk.svg');
				}

				&:after {
					background-image: image-url('header-socials/vk-hover.svg');
				}
			}

			&.header-top__socials-link_yt {
				&:before {
					background-image: image-url('header-socials/yt.svg');
				}

				&:after {
					background-image: image-url('header-socials/yt-hover.svg');
				}
			}

			&.header-top__socials-link_ok {
				&:before {
					background-image: image-url('header-socials/ok.svg');
				}

				&:after {
					background-image: image-url('header-socials/ok-hover.svg');
				}
			}

			&.header-top__socials-link_inst {
				&:before {
					background-image: image-url('header-socials/inst.svg');
				}

				&:after {
					background-image: image-url('header-socials/inst-hover.svg');
				}
			}

			&.header-top__socials-link_tw {
				&:before {
					background-image: image-url('header-socials/tw.svg');
				}

				&:after {
					background-image: image-url('header-socials/tw-hover.svg');
				}
			}
		}

		.header__menu-auth,
		.header__menu-search,
		.header__menu-favor,
		.header__menu-shop,
		.header__menu-tel,
		.header__menu-country {
			position: relative;
			display: inline-block;
			padding-left: 30px;
			margin-bottom: 17px;

			&:before {
				position: absolute;
				display: block;
				content: "";
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: image-url('search-page-v2/person.svg') no-repeat;
				background-size: contain;
				width: 13px;
				height: 16px;
				margin-top: -1px;
			}
		}

		.header__menu-search {
			margin-bottom: 35px;

			&:before {
				background: image-url('search-page-v2/big-zoom.svg') no-repeat;
				background-size: contain;
				width: 15px;
				height: 15px;
			}
		}

		.header__menu-favor {
			margin-bottom: 35px;

			&:before {
				background: image-url('search-page-v2/heart-white.svg') no-repeat;
				background-size: contain;
				width: 15px;
				height: 14px;
			}
		}

		.header__menu-shop {
			color: #de4b0d;
			margin-bottom: 0;

			&:before {
				background: image-url('search-page-v2/icon-magaz.svg') no-repeat;
				background-size: contain;
				width: 23px;
				height: 14px;
			}
		}

		.header__menu-tel {
			margin-bottom: 35px;

			&:before {
				background: image-url('svg-icons/tel-icon-xs.svg') no-repeat;
				background-size: contain;
				width: 23px;
				height: 14px;
			}
		}

		.header__menu-country {
			margin-bottom: 35px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: none;

			&:before {
				background: image-url('svg-icons/map-pin-white_xs.svg') no-repeat;
				background-size: contain;
				width: 10px;
				height: 16px;
			}
		}

		.header__menu-nav-list {
			margin-bottom: 80px;
		}

		.header__menu-nav-item {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}

			.header__menu-auth-list {
				padding: 25px 0 12px 25px;
				max-width: 90%;
			}

			.header__menu-auth-link {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
			}
		}

		.header__menu-bot {
			margin-top: auto;
		}

		.header__menu-fullvers {
			color: #ffa000;
			@include font(reg);
			font-size: 14px;
		}

		.header__menu-auth-list {
			@include font(light);	
			padding: 17px 0 12px 25px;
		}

		.header__menu-auth-item {
			margin-bottom: 35px;
			display: flex;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.header__menu-auth.header__menu-auth_carret {
			padding-right: 60px;

			&:after {
				position: absolute;
				display: block;
				content: "";
				width: 0; 
				height: 0; 
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 5px solid #fff;
				transform: translateY(-50%);
				top: 50%;
				right: 0;
			}

			&[aria-expanded="true"]:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.header__menu-nav-link {
			max-width: 250px;
			padding-right: 15px;
			position: relative;
			display: block;
			
			&.header__menu-nav-link_carret {
				width: 250px;

				&:after {
					position: absolute;
					display: block;
					content: "";
					width: 0; 
					height: 0; 
					border-left: 3px solid transparent;
					border-right: 3px solid transparent;
					border-top: 5px solid #fff;
					transform: translateY(-50%);
					top: 50%;
					right: 0;
				}

				&[aria-expanded="true"]:after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.full-banner .container {
		text-align: center;
	}

	.full-banner__text {
		margin-right: 0;
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}

	.full-banner__tel {
		margin-right: 0;
	}

	.owl-menu {
		.owl-menu__link {
			display: block;
			font-size: 14px;
			@include font(semi);
			color: $black30;
			@include linksHover();
		}

		.owl-stage-outer {
			padding-left: 30px;
			border-bottom: 1px solid #ebeced;
		}

		.owl-stage {
			white-space: nowrap;
		}

		.owl-item {
			display: inline-block;
			float: none;
		}

		.owl-menu__item {
			padding: 20px 0;
		}
	}

	.header-mid__menu.open>.dropdown-menu {
		display: none;
	}

	.menu-dropdown__inner-link {
		display: block;
		width: 100%;
		height: 100%;
		@include linksHover();
		padding: 15px 30px 15px 50px;
		font-size: 16px;
		color: $black40;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
	}

	.menu-dropdown__item-drop {
		display: none;
	}

	.menu-dropdown__link.menu-dropdown__link_back {
		background: #fff8f6;
		position: relative;
		padding-left: 55px;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(90deg);
			left: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
		}
	}

	.menu-dropdown__item.i-carret {
		display: block;
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			width: 25px;
			height: 25px;
			transform: translateY(-50%) rotate(-90deg);
			right: 20px;
			background: image-url("svg-icons/arrow-down_black.svg") no-repeat center;
		}
	}

	.menu-dropdown__link {
		display: block;
		padding: 15px 30px;
		font-size: 16px;
		@include font(bold);
		border-bottom: 1px solid #ebeced;
		@include linksHover();
	}

	.header-mid__menu-dropdown,
	.menu-dropdown__item-drop {
		position: fixed;
		top: 176px;
		z-index: 1000;
		background: #fff;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		padding: 0;
		margin: 0;
		border: none;
		padding-bottom: 176px;
		overflow-y: scroll;
		border-radius: 0;
	}

	.menu-dropdown__item-drop {
		top: 234px;
		padding-bottom: 234px;
	}

	.main-top {
		padding-top: 20px;
	}

	.main-top__title {
		font-size: 28px;
		line-height: normal;
	}

	.main-top__buttons-block {
		@include clearfix();
	}

	.main-top__buttons-block {
		margin-bottom: 10px;
	}

	.main-top__btn-search {
		@include states {
			display: block;
			float: left;
			clear: left;
			margin-bottom: 20px;
		}
	}

	.main-top__separ {
		display: block;
		float: left;
		clear: left;
		margin-bottom: 20px;
	}

	.header-mid__menu {
		float: right;

		&.open .header-mid__menu-btn{
			background: #FF9F00;
			width: 45px;
			border-radius: 3px;
			padding: 11px 8px;

			.icon-bar:nth-of-type(1) {
				top: 8px;
				transform: rotate(45deg);
				background: #fff;
			}

			.icon-bar:nth-of-type(2) {
				background: transparent;
			}

			.icon-bar:nth-of-type(3) {
				top: -8px;
				transform: rotate(-45deg);
				background: #fff;
			}
		}
	}

	.header-mid__menu-btn {
		display: inline-block;
		padding: 11px 0;
		width: 45px;
		@include linksHover();

		.icon-bar {
			transition: all 500ms ease-in-out;
			position: relative;
			background-color: #B5B5B5;
			display: block;
			width: 30px;
			height: 4px;
			margin-bottom: 4px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 3px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	body {
		table-layout: fixed;
	}

	.allinfo__title {
		max-width: 100%;
	}

	.footer-top {
		margin-bottom: 0;
		padding-top: 20px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.footer__copy {
		max-width: 100%;
		width: 100%;
		margin-bottom: 60px;
	}

	.footer-top__col {
		width: 50%;
		margin-bottom: 40px;

		.footer-top__col {
			margin-top: 40px;
			width: 100%;
			position: relative;
			left: -100%;
		}
	}

	.footer__email-label {
		display: block;
		margin-bottom: 20px;
		margin-right: 0;
		height: auto; 
		line-height: normal;
	}

	.footer-mid {
		display: flex;
		flex-direction: column;
		padding: 40px 0;
	}

	.footer__form {
		display: block;
		margin-bottom: 30px;
		float: initial;
		order: 1;
	}

	.footer__socials-list {
		padding: 0;
		float: initial;
		margin-left: 0;
		order: 2;
	}

	.footer-bot__item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer-bot__list {
		margin-bottom: 40px;
		float: none;
	}

	.footer-bot__dev {
		float: none;
	}

	.allinfo__text {
		margin-bottom: 25px;
	}

	.allinfo__article-block {
		margin-bottom: 25px;
	}

	.allinfo__item {
		width: 50%;
	}

	.allinfo__list.open {
		max-height: 2200px;
	}

	.allinfo__sm-item {
		font-size: 13px;
	}

	.best__title {
		float: none;
		font-size: 24px;
		margin-bottom: 10px;
	}

	.best__head-link {
		@include states {
			padding: 0;
			float: none;
		}
	}

	.best__list {
		margin-bottom: 0;
		margin-right: -20px;
	}

	.best__head {
		margin-right: -15px;
		margin-left: -15px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.best__card-badge-wrap {
		left: 20px;
	}

	.best__card-bot {
		padding: 20px 20px 30px 20px;
	}

	.best__bot {
		margin-right: -15px;
		margin-left: -15px;
		padding: 40px 15px;
	}

	.main-akcii__item-img.img-responsive {
		max-height: initial; 
		min-height: initial; 
		max-width: inherit; 
		width: auto;
	}

	.main-akcii__link {
		@include states {
			height: auto;
		}
	}

	.main-akcii__item {
		margin-bottom: 20px;
	}

	.main-akcii__item-img-container.img-container {
		display: block;
	}

	.main-akcii__link-procent {
		font-size: 200vw;
		top: -235px;
		left: -160px;
	}

	.main-doctors__bot {
		padding: 20px;
	}

	.main-doctors__badge {
		top: 20px;
		left: 20px;
	}

	.main-doctors__item {
		margin-bottom: 30px;
	}

	.main-cost__container {
		padding: 50px 15px;
		margin: 0 -15px;
	}

	.main-cost__title {
		width: 100%;
	}

	.main-cost__select + .select2-container {
		width: 100% !important;
		margin-bottom: 20px;
	}

	.select2-container .select2-selection {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.main-cost__submit {
		@include states {
			width: 100%;
			margin: auto;
		}
	}

	.main-cost__bot {
		width: 100%;
	}

	.main-video, .magazine, .news {
		.best__head {
			.best__title {
				float: left;
			}

			.best__head-link {
				float: right;
				padding: 6px 0 0 0;
			}
		}
	}
	
	.owl-video__video {
		position: absolute;	
		height: auto;
	}

	.owl-video__cover {
		position: relative;
	}

	.owl-video__item {
		height: auto;
		margin-bottom: 6px;
	}

	.owl-thumbs-video {
		margin-top: 6px;
		justify-content: space-between;
	}

	.owl-thumbs-video__img-container {
		margin-right: 4px;
		width: 104px;

		&:last-child {
			margin-right: 0;
		}
	}

	.owl-video__cover-title {
		padding: 0 0 20px 20px;
		font-size: 18px;
		max-width: 205px;
	}

	.owl-video__cover-views {
		right: 20px;
		bottom: 20px;
	}

	.owl-video__cover:before {
		width: 70px;
		height: 70px;
		background-size: contain;
	}

	.main-video__right-banner {
		margin-top: 60px;
		position: relative;
		transform: translateX(-50%);
		left: 50%;
	}

	.magazine__item {
		padding: 0 20px 20px 20px;
		margin-bottom: 20px;
	}

	.magazine__badge-block {
		top: 20px;
	}

	.news__big-item-bot {
		min-height: 225px;
	}

	.news__small-list {
		.news__big-item {
			margin-bottom: 20px;
		}
	}

	.header-top__auth-reg {
		@include states {
			font-size: 13px;
		}
	}

	.header-top__auth-sign-text {
		font-size: 13px;
	}

	.header-top__info-map {
		@include states {
			font-size: 13px;
			margin-right: 15px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.header-top__auth:before {
		font-size: 13px;
		left: 34px;
	}

	.header-top__info-search {
		@include states {
			font-size: 13px;
			margin-right: 0px;
		}
	}

	.header-logo__img {
		max-width: 160px;
	}

	.header-top__auth-btns {
		margin-left: 10px;
	}

	.header-mid__magaz {
		@include states {
			margin-right: 12px;
			text-indent: -99999px;
			font-size: 0;
			padding: 0;
			width: 45px;
			height: 42px;

			&:before {
				position: absolute;
				content: "";
				display: block;
				width: 18px;
				height: 17px;
				background: image-url('svg-icons/basket_orange.svg') no-repeat;
				background-size: contain;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:active:before {
			background-image: image-url('svg-icons/basket_white.svg');
		}
	}

	.header-logo {
		@include states {
			padding-top: 6px;
			margin-right: 5px;
		}
	}

	.main-top__middle-blocks > .row.flex {
		display: block;
	}

	.owl-blmain__img-container.img-container {
		display: block;
	}

	.owl-blmain__img.img-responsive {
		max-height: initial;
		min-height: initial;
	}

	.owl-blmain .owl-item img {
		width: 100%;
	}

	.owl-blmain__item-bot {
		height: 80%;
		padding: 0 20px 55px 20px;
	}

	.owl-blmain__item-top {
		padding: 20px;
	}

	.owl-blmain-wrap {
		margin: 0 -15px;
		padding: 0 15px;
	}

	.owl-dots {
		left: 15px;
	}	

	.owl-dot span {
		margin: 5px;
	}

	.owl-blmain__item-bot-desc {
		width: 100%;
		font-size: 22px;
	}

	.owl-blmain {
		margin-bottom: 33px;
	}

	.middle-blocks__big-card-bot {
		padding: 20px;
		height: auto;
	}

	.middle-blocks__big-card {
		.owl-blmain__item-top {
			padding: 20px;
		}
	}

	.middle-blocks__big {
		margin-bottom: 15px;
	}

	.middle-blocks__small {
		@include states {
			height: 156px;
			margin-bottom: 20px;
			padding: 20px;
		}
	}

	.middle-blocks__small-title {
		height: 44px;
	}

	.modal-auth__container {
		padding: 25px;
	}

	.sign-form__submit {
		@include states {
			width: 100%;
		}
	}

	.sign-form-check-label-text {
		font-size: 13px;
	}

	.modal-auth__close-btn {
		@include states {
			top: 10px;
			right: 10px;
		}
	}

	.reg-form__mid {
		flex-direction: column;
		align-items: flex-start;

		.reg-form-check-label {
			margin-bottom: 15px;
		}
	}

	.reg-form__submit {
		@include states {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	.reg-form__socials-item {
		width: 40px;
		height: 35px;
	}

	.modal-country__form {
		width: 100%;
	}

	.modal-country__all-btn {
		@include states {
			font-size: 13px;
			right: 15px;
		}
	}

	.modal-country__input {
		padding: 0 105px 0 15px;
		height: 43px;
		line-height: 42px;
	}

	.modal-country__dialog,
	.modal-search__dialog {
		margin: 30px auto 30px auto;
	}

	.modal-country__title {
		margin-bottom: 30px;
	}

	.modal-country__form {
		margin-bottom: 30px;
	}

	.modal-country__mini-item {
		padding-right: 10px;
		width: 50%;
		float: left;
	}

	.modal-country__full-item {
		padding-right: 10px;
		width: 50%;
		float: left;
		margin-bottom: 20px;
	}

	.modal-country__full-list.open {
		max-height: 3000px;
	}

	.modal-search__close-btn {
		top: -20px;
		right: -5px;
	}

	.modal-search__input {
		height: 43px;
		line-height: 42px;
	}

	.modal-search__btns-item {
		margin-bottom: 8px;
	}

	.modal-search__btns-list {
		margin-bottom: 15px;
	}

	.modal-search__row-date {
		display: block;
	}

	.modal-search__btns-list {
		margin-right: -30px;
	}

	.owl-blmain {
		margin-left: 0;
	}

	.main-doc2__item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.main-doc2__name {
		font-size: 16px;
	}

	.main-doc2__desc {
		font-size: 14px;
	}

	.main-doc2__bot {
		.best__c-b-r-count {
			font-size: 18px;
		}

		.best__c-b-r-stars-wrap {
			transform: none;
			margin: 0 5px 0 0;
		}

		.best__c-b-r-comments {
			font-size: 14px;
			margin-left: 0;
		}
	}

	.main-top__middle-blocks {
		overflow: visible;
	}

	.header-top {
		padding: 0;
		background: none;

		.container {
			&:before, 
			&:after {
				display: none;
			}

			display: flex;
			flex-direction: column;
		}
	}

	.header-top__auth {
		order: 2;
		padding: 15px 15px;
		margin-right: -15px;
		margin-left: -15px;
		background: #fff;
		border-bottom: 1px solid #F2F2F2;
		text-align: right;
	}

	.header-top__info {
		order: 1;
		margin-right: -15px;
		margin-left: -15px;
		background: #F2F2F2;
		padding: 15px;
		text-align: right;
	}

	.button-to-top {
		right: 15px;
		bottom: 15px;
	}

	.main-cost__form {
		flex-wrap: wrap;
	}

	.news__yandex-btn {
		@include states {
			&:before, &:after {
				left: 20px;
			}

			margin-top: 15px;
			padding: 14px 10px 14px 35px;
			font-size: 13px;
		}

		img {
			max-width: 95px;
		}
	}

	.header.headerV3 {
		border-bottom: 1px solid #EAEBEC;

		.header-top__auth {
			display: none;
		}

		.header-logo__img {
			max-width: 220px;
		}

		.header-top__menu-btn {
			margin-right: 20px;
		}

		.header-top__logo-menu-c {
			justify-content: space-between;
		}

		.header-logo {
			margin-right: 0;
			padding-top: 0;
		}

		.header-top {
			padding: 20px 0 0;
		}

		.header-top__logo-menu {
			margin-bottom: 15px;
		}

		.header-top__info {
			padding-top: 13px;
			padding-bottom: 13px;
			text-align: left;
			display: none;
		}

		.header-top__info-map {
			white-space: nowrap;
			max-width: 100%;
			font-size: 14px;
			padding-left: 20px;

			&:before {
				width: 10px;
				height: 16px;
				background-size: contain;
			}
		}

		.header__menu-c {
			padding: 32px 15px 20px 15px;
		}

		.header__menu {
			width: 270px;
		}

		.header__menu-country {
			display: block;
		}

		.header__menu-mid {
			padding: 18px 15px 18px 15px;
			margin: 0 -15px 20px -15px;
		}

		.header__menu-nav-list {
			margin-bottom: 40px;
		}

		.header-top__socials-list {
			margin-bottom: 15px;
		}

		.header__menu-auth-wrap {
			width: 100%;
		}

		.header__menu-auth.header__menu-auth_carret {
			padding-right: 30px;
			display: block;

			&:after {
				right: 10px;
			}
		}

		.header__menu-auth-item:last-child {
			margin-bottom: 5px;
		}

		.header__menu-nav-link {
			max-width: 230px;
		}

		.header__menu-auth-list {
			padding-left: 35px;
		}

		.header__menu-nav-item {
			.header__menu-auth-list {
				padding-left: 35px;
				max-width: 98%;
			}
		}
	}
}
