.modal {
	&.color_orange_v2 {
		.modal-country__all-btn {
			@include states {
				color: $color-new-orange;
			}
		}

		.modal-country__full-item-title {
			color: $color-new-orange;
		}

		.modal-search__btns-item.active {
			border-color: $color-new-orange;
		}

		.modal-search__row-сup:before {
			background-image: image-url('search-page-v2/trophy-material-design-icons.svg');
		}

		.best__c-b-r-count {
			color: $color-new-orange;
		}

		.best__c-b-r-stars__orange .best__c-b-r-star {
			background-image: image-url('search-page-v2/star_oranger.svg');
		}

		.btn-def {
			background: $color-new-orange;
			@include linksHover();
		}

		.link-def {
			@include states {
				color: $color-new-orange;
				border-color: $color-new-orange;
			}
		}
	}
}