.header.header-v2 {
	.header-top {
		background: #fff;
		border-bottom: 1px solid #F2F2F2;
		padding: 15px 0 10px;
	}

	.header-top__socials-list {
		display: flex;
		float: right;
		margin-right: 32px;
	}	

	.header-top__socials-item {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}

	.header-top__socials-link {
		display: block;
		width: 23px;
		height: 23px;
		position: relative;
		transition: all .3s;

		&:before,
		&:after {
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			content: "";
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.3s;
			opacity: 1;
		}

		&:after {
			opacity: 0;
		}

		&:hover {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}

		&.header-top__socials-link_fb {
			&:before {
				background-image: image-url('header-socials/fb.svg');
			}

			&:after {
				background-image: image-url('header-socials/fb-hover.svg');
			}
		}

		&.header-top__socials-link_vk {
			&:before {
				background-image: image-url('header-socials/vk.svg');
			}

			&:after {
				background-image: image-url('header-socials/vk-hover.svg');
			}
		}

		&.header-top__socials-link_yt {
			&:before {
				background-image: image-url('header-socials/yt.svg');
			}

			&:after {
				background-image: image-url('header-socials/yt-hover.svg');
			}
		}

		&.header-top__socials-link_ok {
			&:before {
				background-image: image-url('header-socials/ok.svg');
			}

			&:after {
				background-image: image-url('header-socials/ok-hover.svg');
			}
		}

		&.header-top__socials-link_inst {
			&:before {
				background-image: image-url('header-socials/inst.svg');
			}

			&:after {
				background-image: image-url('header-socials/inst-hover.svg');
			}
		}

		&.header-top__socials-link_tw {
			&:before {
				background-image: image-url('header-socials/tw.svg');
			}

			&:after {
				background-image: image-url('header-socials/tw-hover.svg');
			}
		}
	}

	.header-top__auth-reg {
		color: $color-new-orange;
		border-color: $color-new-orange;
	}

	.header-top__auth-btns {
		margin-left: 15px;
	}

	.header-top__likes {
		@include states {
			background: image-url('search-page-v2/heart-hover.svg') no-repeat;
			background-size: contain;
		}
	}

	.header-logo {
		margin-right: 45px;
		vertical-align: top;
	}

	.header-logo__img {
		max-width: 250px;
	}

	.header-mid__item {
		margin-right: 27px;

		&:before {
			border-color: $color-new-orange;
			height: 26px;
		}
	}

	.header-mid__list {
		padding: 15px 0 0;
	}

	.header-mid__nmagaz {
		display: block;
		float: right;
		@include linksHover();
	}
}

.footer.footer-v2 {
	.footer-bot__dev {
		.link-def {
			@include states {
				color: #73bcd5;
				border: none;
			}
		}
	}	

	.footer__copy {
		width: 220px;
		margin-right: 145px;
	}

	.footer-projects-item {
		margin-bottom: 21px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer-projects-link {
		@include linksHover();
	}

	.footer-top__col {
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}
	}

	.footer-top__col-projects {
		margin-left: auto;
	}

	.footer-top {
		justify-content: flex-start;
	}
}

.p-newsearch {
	.search-block {
		margin-bottom: 15px;
	}

	.search-block__container-wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.owl-blmain__item-bot-badge {
		font-size: 12px;
	}

	.badge_orange {
		background: $color-new-orange;
	}

	.middle-blocks__small-comments {
		color: $color-new-green;

		&:before {
			background-image: image-url('search-page-v2/comment_greener.svg');
		}
	}

	.link-def {
		@include states {
			color: $color-new-orange;
			border-color: $color-new-orange;
		}
	}

	.owl-thumbs-video__img-container.active:after {
		border-color: $color-new-green;
	}

	.best__c-b-r-stars__orange .best__c-b-r-star {
		background-image: image-url('search-page-v2/star_oranger.svg');
	}

	.best__c-b-r-count {
		color: $color-new-orange;
	}

	.btn-def {
		background: $color-new-orange;

		&:focus {
			background: $color-new-orange;
		}

		&:hover {
			background: #ff845f;
		}

		&:active {
			background: #e7653e;
		}
	}

	.search-block__container {
		background: #fff;
		padding: 15px 26px 40px 34px;
	}

	.search-block__item {
		min-height: 285px;
		border: 1px solid rgba(#979797, 0.3);
		transition: .3s;

		&:not(.border_red):not(.search-block__item_attention) {
			&:hover {
				border-color: #ff9f00;
			}

			&:before {
				display: none;
			}
		}
	}

	.search-block__item-left {
		margin-left: -1px;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	.search-block__item-right__label-checked {
		background: $color-new-orange;
	}

	.search-block__item-right__label-checked .search-block__item-right__label-checked-top {
		letter-spacing: 1.4px;
	}

	.search-block__item.search-block__item_attention {
		border-color: #E05051;

		.search-block__item-right {
			border-radius: 0;
			border: none;
		}
	}

	.search-block__item.border_red {
		border-color: $color-new-orange;

		.search-block__item-right {
			border-radius: 0;
			border: none;
		}
	}

	.search-block__sort {
		padding: 0 0 5px;
	}

	.search-block__count {
		color: #000000;
	}

	.search-block__item-free {
		color: $color-new-green;

		&:before {
			background-image: image-url('search-page-v2/check_green.svg');
		}
	}

	.search-block__item-clock {
		color: $color-new-green;

		&:before {
			background-image: image-url('search-page-v2/clock_greener.svg');
		}
	}

	.search-block__list {
		margin-bottom: 40px;
	}

	.search-block__item-akcii {
		color: $color-new-orange;

		&:before {
			background-image: image-url('search-page-v2/procent_oranger.svg');
		}
	}

	.btn_trans,
	.btn_trans:focus {
		border-color: $color-new-orange; 
		color: $color-new-orange;
	}

	.btn_trans:hover {
		// border-color: #ff845f;
		border-color: $color-new-orange;
		color: #fff;
		// background: #ff845f;
		background: $color-new-orange;
	}

	.btn_trans:active {
		// border-color: #e7653e;
		border-color: $color-new-orange;
		color: #fff;
		// background: #e7653e;
		background: $color-new-orange;
	}

	.search-block__item-left-heart {
		top: 20px;
		left: 30px;
		width: 28px;
		height: 25px;

		&:hover,
		&.active {
			background-image: image-url('svg-icons/heart-with-border.svg');
		}
	}

	.p-newsearch-top {
		background: #fff;
		padding-top: 40px;
		padding-bottom: 24px;
	}

	.p-newsearch-top__title {
		font-size: 38px;
		line-height: 48px;
		@include font(ext);
		margin-bottom: 2px;
	}

	.p-newsearch-top__desc {
		font-size: 26px;
		line-height: 32px;
		@include font(light);
	}

	.p-newsearch__bot-btns-wrap {
		padding-top: 3px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 965px;
	}

	.p-newsearch__bot-btns-add-clinic {
		border: none;
		margin-left: auto;
	}

	.p-newsearch__bot-btns-text {
		font-size: 14px;
		@include font(semi);
		margin-right: 18px;
		padding-left: 1px;
	}

	.hidden-xs {
		.p-newsearch__bot-checkbox-label {
			@include linksHover();
		}
	}

	.p-newsearch__bot-checkbox-label {
		margin-right: 30px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	.p-newsearch__bot-checkbox {
		display: none;

		&:checked + .p-newsearch__bot-checkbox-text {
			&:before {
				background: #ff9f00;
			}

			&:after {
				left: 13px;
			}
		}
	}

	.p-newsearch__bot-checkbox-text {
		position: relative;
		display: block;
		padding-left: 39px;
		font-size: 14px;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			left: 0;
			width: 29px;
			height: 16px;
			background: rgba(202, 202, 202, 0.8);
			border-radius: 10px;
			transform: translateY(-50%);
			transition: all .3s;
		}

		&:after {
			display: block;
			content: "";
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 0;
			margin: 0 2px;
			background: #fff;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			transition: all .3s;
		}
	}

	.p-newsearch__submit {
		border: none;
		outline: none;
		background: none;
		@include linksHover();
		flex: 0 0 auto;
		margin-left: 20px;
		padding-left: 0;
		padding-right: 0;
		width: 90px;
		height: 90px;
		background: #FF9F00;
		border-radius: 50%;
		font-size: 14px;
		@include font(bold);
		color: #fff;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-align: center;
	}

	.p-newsearch__inputs-wrap {
		display: flex;
		align-items: center;

		&.p-newsearch__inputs-wrap_without-metro {
			.p-newsearch__btn-type {
				width: 147px;
			}

			.p-newsearch__btn-uslug {
				// width: 330px;
				width: 310px;
			}
		}

		&.p-newsearch__inputs-wrap_without-metro-and-dist {
			.p-newsearch__btn-type {
				width: 217px;
			}

			.p-newsearch__btn-uslug {
				width: 477px;
			}

			#p-newsearch__btn-type-c .p-newsearch__inputs-drop {
				min-width: 100%;
			}

			#p-newsearch__drop-spec {
				left: 0;
				right: auto;
			}
		}
	}

	.p-newsearch__inputs {
		flex: 0 0 auto;
		height: 55px;
		position: relative;
		border: 1px solid #d5d5d5;
		border-radius: 3px;
		display: flex;
		width: 965px;
	}

	.p-newsearch__input-c {
		flex: 0 0 auto;
		position: relative;

		&:last-child,
		&:nth-last-child(2) {
			.p-newsearch__btn-drop-toggle:before {
				display: none;
			}
		}

		&#p-newsearch__select-okrug-c {
			width: 120px;;
		}

		&#p-newsearch__select-rayon-c {
			width: 117px;
		}

		&#p-newsearch__select-metro-c {
			width: 168px;
		}

		&#p-newsearch__btn-spec-c {
			flex: 1;
		}

		&.p-newsearch__input-c_disabled {
			display: none;
		}
	}

	.p-newsearch__input-arrow {
		display: none;
		width: 28px;
		height: 16px;
		left: 50%;
		top: 100%;
		position: absolute;
		overflow: hidden;
		transform: translateX(-50%);
		z-index: 9999;

		&:before {
			display: block;
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			z-index: 9999;
			background: #fff;
			transform: translateX(-50%) rotate(45deg);
			left: 50%;
			top: 0;
			margin-top: 9px;
			box-shadow: 0 0px 17px -4px black;
		}
	}

	.active + .p-newsearch__input-arrow {
		display: block;
	}
	
	.p-newsearch__select + .select2-container {
		width: 100% !important;
		outline: none;
		display: inline-block;
		position: relative;

		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 5px;
			bottom: 5px;
			width: 1px;
			background: #d5d5d5;
			right: 0;
		}

		&.select2-container--open {
			.select2-selection--single .select2-selection__arrow b {
				border-width: 5px 4px 0 4px;
				border-color: #888 transparent transparent transparent;
			}

			.select2-selection__clear {
				display: block;
			}

			+ .p-newsearch__input-arrow {
				display: block;
			}
		}

		.select2-selection {
			outline: 1px solid transparent;
			width: 100%;
			height: 53px;
			border-radius: 0;
			border: none;
			padding: 0 26px 0 22px;
			line-height: 53px;
			font-size: 14px;
			color: $black40;
			background: transparent;
			text-align: left;

			.select2-selection__placeholder {
				color: $black40;
			}
		}

		.select2-selection__rendered {
			color: $black40 !important;
			width: 100%;
			line-height: inherit !important;
			padding-left: 0 !important;
			padding-right: 0;
		}

		.selection {
			display: block;
			width: 100%;
		}

		.select2-selection__arrow {
			top: 50% !important;
			right: 20px;
			position: absolute;
			display: block;
			transform: translateY(-50%);
			width: 0px;
			height: 0px;

			b {
				margin-left: 1px;
			}
		}

		.select2-selection__clear {
			width: 9px;
			height: 9px;
			display: block;
			background: #fff image-url('search-page-v2/clear-btn.svg') no-repeat;
			background-size: contain;
			font-size: 0;
			color: transparent;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			z-index: 1;

			&:before {
				display: block;
				content: "";
				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
			}
		}
	}

	.p-newsearch__btn-drop-toggle {
		padding: 0 26px 0 22px;
		display: block;
		position: relative;
		height: 53px;
		line-height: 53px;
		color: rgba(0, 0, 0, 0.4);
		font-size: 14px;
		flex: 0 0 auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 5px;
			bottom: 5px;
			width: 1px;
			background: #d5d5d5;
			right: 0;
		}

		&:after {
			display: block;
			content: "";
			border-color: #888 transparent transparent transparent;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			height: 0;
			margin-left: -4px;
			margin-top: -2px;
			position: absolute;
			top: 50%;
			width: 0;
			right: 11px;
		}
	}

	.p-newsearch__btn-type {
		width: 79px;
	}

	.p-newsearch__btn-spec {
		min-width: 166px;
		width: auto;

		&.has_value {
			max-width: 166px;
		}
	}

	.p-newsearch__btn-uslug {
		width: 210px;
	}

	.p-newsearch__btn-price {
		width: 103px;
	}

	.p-newsearch__inputs-drop {
		display: none;
		position: absolute;
		margin-top: 15px;
		top: 100%;
		z-index: 2;
		left: 0;
		font-size: 14px;
		color: #131313;
		box-shadow: 0 0 18px -6px black;
		border-radius: 0;
		background: #fff;
		padding: 21px 17px 21px 21px;
	}

	.p-newsearch__i-drop-check-label {
		cursor: pointer;
		color: #131313;
		transition: all .3s;

		&:hover {
			color: $black40;
		}
	}

	.p-newsearch__i-drop-check-checkbox {
		display: none;

		&:checked + .p-newsearch__i-drop-check-text:after {
			display: block;
		}
	}

	.p-newsearch__i-drop-check-text {
		font-size: 14px;
		padding-left: 26px;
		position: relative;
		display: block;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 1px;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 3px;
			border: 1px solid #cccccc;
		}

		&:after {
			position: absolute;
			display: block;
			content: "";
			top: 5px;
			left: 3px;
			display: none;
			background: image-url("search-page-v2/check_green.svg") no-repeat;
			width: 11px;
			height: 7px;
			background-size: contain;
		}
	}

	.p-newsearch__i-drop-check-item {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.p-newsearch__drop-radios-list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -10px;
		margin-bottom: -10px;
	}

	.p-newsearch__drop-radios-item {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.p-newsearch__drop-radios-label {
		cursor: pointer;
		display: block;
	}

	.p-newsearch__drop-radios-radio {
		display: none;

		&:checked + .p-newsearch__drop-radios-text {
			background: $color-new-green;
			border-color: $color-new-green;
			color: #fff;
		}
	}

	.p-newsearch__drop-radios-text {
		font-size: 12px;
		line-height: 34px;
		height: 34px;
		border: 1px solid #cccccc;
		border-radius: 17px;
		text-align: center;
		padding: 0 20px;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		transition: all 0.3s;

		&:hover {
			border-color: $color-new-green;
		}
	}

	#p-newsearch__drop-spec {
		left: auto;
		right: 0;
		min-width: 480px;
		max-width: 840px;
	}

	#p-newsearch__drop-uslug {
		left: auto;
		right: 0;
		max-width: 710px;
		min-width: 315px;
	}

	#p-newsearch__drop-price {
		left: auto;
		right: 0;
		width: 190px;
	}

	.p-newsearch__uslug-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -12px;
	}

	.p-newsearch__uslug-item {
		margin-bottom: 12px;
		margin-right: 30px;
		width: 185px;

		.p-newsearch__uslug-item {
			max-width: 100%;
			margin-right: 0;
			width: auto;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.radio-display-hidden {
		display: none;
	}

	.p-newsearch__input-clear-btn {
		width: 9px;
		height: 9px;
		background: #fff image-url('search-page-v2/clear-btn.svg') no-repeat;
		background-size: contain;
		font-size: 0;
		color: transparent;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		display: none;
		z-index: 1;

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
		}
	}

	.has_value ~ .p-newsearch__input-clear-btn {
		display: block;
	}

	.p-newsearch__uslug-tab {
		display: none;

		&.active {
			display: block;
		}
	}


}

.select2-dropdown {
	&.p-newsearch__drop-rayon,
	&.p-newsearch__drop-metro,
	&.p-newsearch__drop-okrug {
		top: 15px;
		font-size: 14px;
		color: #131313;
		box-shadow: 0 0 18px -6px black;
		border-radius: 0;

		.select2-results__option:first-child {
			display: block;
		}

		.select2-results > .select2-results__options {
			max-height: 273px;
			padding-top: 5px;
		}

		.select2-results__option {
			padding: 10.5px 39px 10.5px 19px;

			&.loading-results {
				display: none;
			}
		}

		.select2-results__option[aria-selected=true] {
			background-color: rgba(#d8d8d8, 0.3);
			color: #131313;
		}

		.select2-results__option--highlighted[aria-selected] {
			background-color: rgba(#d8d8d8, 0.3);
			color: #131313;
		}

		.mCSB_scrollTools .mCSB_draggerRail {
			background: #f5f5f5;
			width: 4px;
		}

		.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
		.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			background: $color-new-orange;
		}

		.mCSB_scrollTools .mCSB_draggerContainer {
			top: 10px;
			bottom: 13px;
		}

		.mCSB_inside > .mCSB_container {
			margin-right: 0;
		}

		.mCSB_scrollTools {
			width: 24px;
		}	
	}

	&.p-newsearch__drop-rayon,
	&.p-newsearch__drop-metro, {
		.select2-search--dropdown {
			display: block;
			padding: 15px 19px 10px 19px;
			position: relative;

			&:before {
				position: absolute;
				display: block;
				content: "";
				background: url('../images/svg-icons/small-zoom.svg') no-repeat;
				background-size: contain;
				width: 13px;
				height: 13px;
				right: 27px;
				top: 56%;
				transform: translateY(-50%);
				opacity: 0.6;
			}

			.select2-search__field {
				outline: none;
				padding-right: 25px;
			}
		}
	}
}

.select-item-color {
	position: relative;	
	padding-left: 25px;

	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&_gray:before {
		background: #acadaf;
	}
	&_yellow:before {
		background: #f9d949;
	}
	&_green:before {
		background: #42975b;
	}
	&_brown:before {
		background: #705c36;
	}
	&_pink:before {
		background: #f3acb0;
	}
	&_red:before {
		background: #dd3933;
	}
	&_blue:before {
		background: #1d529d;
	}
	&_fiol:before {
		background: #b314b8;
	}


	&_green-red:before {
		background: linear-gradient(90deg, #42975b 50%, #dd3933 0);
	}
	&_blue-yellow:before {
		background: linear-gradient(90deg, #1d529d 50%, #f9d949 0);
	}
	&_pink-green:before {
		background: linear-gradient(90deg, #f3acb0 50%, #42975b 0);
	}


	&_green-red-yellow:before {
		background: linear-gradient(to right, #42975b 0, #42975b 33.3333333333%, #dd3933 33.3333333333%, #dd3933 66.66666666666%, #f9d949 66.66666666666%, #f9d949 100%);
	}
	&_blue-yellow-red:before {
		background: linear-gradient(to right, #1d529d 0, #1d529d 33.3333333333%, #f9d949 33.3333333333%, #f9d949 66.66666666666%, #dd3933 66.66666666666%, #dd3933 100%);
	}
	&_pink-green-blue:before {
		background: linear-gradient(to right, #f3acb0 0, #f3acb0 33.3333333333%, #42975b 33.3333333333%, #42975b 66.66666666666%, #1d529d 66.66666666666%, #1d529d 100%);
	}

	&_green-red-yellow-blue:before {
		background: linear-gradient(to right, #42975b 0, #42975b 25%, #dd3933 25%, #dd3933 50%, #f9d949 50%, #f9d949 75%, #1d529d 75%, #1d529d 100%);
	}
}

.nicescroll-rails-vr {
	border-radius: 5px;
	transform: scaleY(0.9);
	opacity: 0.75 !important;
	margin-left: -10px;
	transition: opacity 0.3s;

	&:before {
		position: absolute;
		display: block;
		content: "";
		left: -10px;
		right: -10px;
		top: 0;
		bottom: 0;
	}

	&:hover {
		opacity: 1 !important;
	}

	.nicescroll-cursors {
		width: 100% !important;
		cursor: pointer;

		&:before {
			position: absolute;
			display: block;
			content: "";
			left: -10px;
			right: -10px;
			top: 0;
			bottom: 0;
		}
	}
}






