@media screen and (max-width: 1199px) {
	.header.header-v2 {
		.header-logo {
			margin-right: 30px;
		}
	}

	.p-newsearch {
		.p-newsearch__submit {
			margin-top: 5px;
			margin-bottom: 5px;

			svg {
				width: 80px;
				height: 80px;
			}
		}

		.p-newsearch__input-c#p-newsearch__select-rayon-c {
			width: 117px;
		}

		.p-newsearch__input-c#p-newsearch__select-okrug-c {
			width: 100px;
		}

		.p-newsearch__input-c#p-newsearch__select-metro-c {
			width: 140px;
		}

		.p-newsearch__btn-spec {
			// width: 155px;
			width: auto;
			min-width: 155px;

			&.has_value {
				max-width: 155px;
			}
		}

		.p-newsearch__btn-uslug {
			width: 162px;
		}

		.p-newsearch__btn-price {
			width: 85px;
		}

		.p-newsearch__inputs {
			width: 840px;
		}

		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro {
			.p-newsearch__btn-uslug {
				width: 234px;
			}
		}

		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro-and-dist {
			.p-newsearch__btn-uslug {
				width: 381px;
			}
		}

		.p-newsearch__bot-btns-wrap {
			max-width: 840px;
		}
	}
}

@media screen and (max-width: 991px) {
	.header.header-v2 {
		.header-top {
			padding: 22px 0 16px;
		}

		.header-logo__img {
			max-width: 225px;
		}

		.header-top__menu-btn {
			display: block;
			margin-right: 60px;
		}

		.header-top__logo-menu-c {
			display: flex;
			align-items: center;
		}

		.header-top__logo-menu {
			float: left;
		}

		.header-top__auth,
		.header-top__info {
			padding-top: 7px;
		}

		.header-top__info-map {
			@include states {
				margin-right: 0;
			}
		}

		.header-top__auth-btns {
			margin-left: 20px;
		}

		.header-mid {
			display: none;
		}

		.header__menu {
			background: #272727;
			position: fixed;
			z-index: 10;
			max-width: 478px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform: translateX(-105%);
			transition: 0.5s;

			&.active {
				transform: translateX(0);
			}
		}

		.header__menu-c {
			color: #fff;
			font-size: 16px;
			line-height: 25px;
			@include font(bold);
			display: flex;
			flex-direction: column;
			padding: 95px 40px 30px 40px;
			align-items: flex-start;
			height: 100%;
			overflow-y: auto;
		}

		.header__menu-mid {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			border-top: 1px solid #b5b5b5;
			border-bottom: 1px solid #b5b5b5;
			padding: 18px 40px 18px 40px;
			margin: 0 -40px 40px -40px;
			align-self: normal;
			flex: 0 0 auto;

			> *:last-child {
				margin-bottom: 0;
			}
		}

		.header-top__socials-item {
			margin-right: 10.5px;
		}

		.header-top__socials-link {
			width: 30px;
			height: 30px;
		}

		.header__menu-auth,
		.header__menu-search,
		.header__menu-favor,
		.header__menu-shop {
			position: relative;
			display: inline-block;
			padding-left: 30px;
			margin-bottom: 17px;

			&:before {
				position: absolute;
				display: block;
				content: "";
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: image-url('search-page-v2/person.svg') no-repeat;
				background-size: contain;
				width: 13px;
				height: 16px;
				margin-top: -1px;
			}
		}

		.header__menu-search {
			margin-bottom: 35px;

			&:before {
				background: image-url('search-page-v2/big-zoom.svg') no-repeat;
				background-size: contain;
				width: 15px;
				height: 15px;
			}
		}

		.header__menu-favor {
			margin-bottom: 35px;

			&:before {
				background: image-url('search-page-v2/heart-white.svg') no-repeat;
				background-size: contain;
				width: 15px;
				height: 14px;
			}
		}

		.header__menu-shop {
			color: #de4b0d;
			margin-bottom: 0;

			&:before {
				background: image-url('search-page-v2/icon-magaz.svg') no-repeat;
				background-size: contain;
				width: 23px;
				height: 14px;
			}
		}

		.header__menu-nav-item {
			margin-bottom: 35px;
		}

		.header__menu-bot {
			margin-top: auto;
		}

		.header-top__socials-list {
			float: none;
			margin-right: 0;
			margin-bottom: 25px;
		}

		.header__menu-fullvers {
			color: #ffa000;
			@include font(reg);
			font-size: 14px;
		}

		.header__menu-auth-list {
			@include font(light);	
			padding: 17px 0 12px 60px;
		}

		.header__menu-auth-item {
			margin-bottom: 35px;
		}

		.header__menu-auth.header__menu-auth_carret {
			padding-right: 60px;

			&:after {
				position: absolute;
				display: block;
				content: "";
				width: 0; 
				height: 0; 
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 5px solid #fff;
				transform: translateY(-50%);
				top: 50%;
				right: 0;
			}

			&[aria-expanded="true"]:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	.p-newsearch { 
		.p-newsearch-top {
			padding-top: 33px;
		}

		.p-newsearch-top__title {
			font-size: 34px;
			line-height: 37px;
			max-width: 580px;
			margin-bottom: 6px;
		}

		.p-newsearch-top__desc {
			font-size: 23px;
			line-height: 29px;
			margin-bottom: 36px;
		}

		.p-newsearch__inputs {
			width: 100%;
			height: auto;
			flex-wrap: wrap;
			border: none;
			margin-bottom: -15px;
		}

		.p-newsearch__inputs-wrap {
			margin-bottom: 27px;
		}

		.p-newsearch__input-c {
			margin-bottom: 15px;
			border: 1px solid #d5d5d5;
		}

		.p-newsearch__input-c#p-newsearch__btn-spec-c {
			width: 270px;
			border-right: none;
			border-radius: 3px 0 0 3px;
		}

		.p-newsearch__input-c#p-newsearch__select-rayon-c {
			width: 150px;
			border-right: none;
			border-left: none;
		}

		.p-newsearch__input-c#p-newsearch__select-okrug-c {
			border-right: none;
			border-radius: 3px 0 0 3px;
			width: 120px;
		}

		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro {
			.p-newsearch__input-c#p-newsearch__btn-type-c {
				width: 180px;
				border-radius: 0;
				border-right: none;
			}

			.p-newsearch__input-c#p-newsearch__btn-uslug-c {
				width: 450px;
				border-left: 1px solid #d5d5d5;
				border-radius: 3px 0 0 3px;
			}

			.p-newsearch__input-c#p-newsearch__btn-spec-c {
				border-left: none;
				border-radius: 0 3px 3px 0;
				border-right: 1px solid #d5d5d5;
			}

			.p-newsearch__btn-type,
			.p-newsearch__btn-uslug {
				width: 100%;
			}

			.p-newsearch__btn-type:before {
				display: block;
			}

			.p-newsearch__btn-spec:before {
				display: none;
			}

			#p-newsearch__drop-spec {
				margin-top: -70px;
			}
		}

		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro-and-dist {
			.p-newsearch__btn-type,
			.p-newsearch__btn-uslug {
				width: 100%;
			}

			.p-newsearch__btn-type:before {
				display: block;
			}

			.p-newsearch__btn-spec:before {
				display: none;
			}

			.p-newsearch__input-c#p-newsearch__btn-type-c {
				width: 450px;
				border-radius: 3px 0 0 3px;
				border-left: 1px solid #d5d5d5;
				border-right: none;
			}

			.p-newsearch__input-c#p-newsearch__btn-spec-c {
				border-left: none;
				border-radius: 0 3px 3px 0;
				border-right: 1px solid #d5d5d5;
			}

			.p-newsearch__input-c#p-newsearch__btn-uslug-c {
				border-left: 1px solid #d5d5d5;
				border-radius: 3px 0 0 3px;
				width: 450px;
			}

			.p-newsearch__input-c#p-newsearch__btn-price-c {
				width: 270px;
			}

			#p-newsearch__drop-spec {
				margin-top: -70px;
			}
		}

		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro,
		.p-newsearch__inputs-wrap.p-newsearch__inputs-wrap_without-metro-and-dist {
			#p-newsearch__btn-uslug-c.p-newsearch__input-c_disabled ~ #p-newsearch__btn-price-c {
				border-left: 1px solid #d5d5d5;
				width: 100%;
			}
		}

		.p-newsearch__input-c#p-newsearch__select-metro-c,
		.p-newsearch__input-c#p-newsearch__btn-uslug-c {
			width: 180px;
			border-right: none;
			border-left: none;
		}

		.p-newsearch__input-c#p-newsearch__btn-type-c,
		.p-newsearch__input-c#p-newsearch__btn-price-c {
			width: 270px;
			border-left: none;
			border-radius: 0 3px 3px 0;
		}

		.p-newsearch__btn-type,
		.p-newsearch__btn-price {
			width: 100%;

			&:before {
				display: none;
			}
		}
		
		.p-newsearch__btn-drop-toggle {
			width: 100%;
		}

		.p-newsearch__submit {
			display: none;
		}

		.search-block__container-wrap {
			background: #fff;
		}

		.p-newsearch__bot-checkbox-text {
			padding-left: 58px;

			&:before {
				width: 38px;
				height: 21px;
			}

			&:after {
				width: 17px;
				height: 17px;
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
			}
		}

		.p-newsearch__bot-checkbox:checked + .p-newsearch__bot-checkbox-text:after {
			left: 17px;
		}

		.p-newsearch__bot-btns-wrap {
			justify-content: space-between;
			margin-bottom: 26px;
		}

		.p-newsearch__bot-controls-c {
			display: flex;
		}

		.p-newsearch__bot-c-list,
		.p-newsearch__bot-c-map,
		.p-newsearch__bot-c-gps {
			@include states {
				display: block;
				width: 44px;
				height: 44px;
				border-radius: 3px;
				border: 1px solid #eaeaea;
				margin-right: 20px;
				transition: all 0.3s;
				position: relative;

				&.active {
					border: 1px solid $color-new-orange;
				}

				&:before {
					position: absolute;
					content: "";
					display: block;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-size: contain;
					transition: all 0.3s;
				}
			}

			&:hover, &:active {
				border: 1px solid $color-new-orange;
			}
		}

		.p-newsearch__bot-c-list {
			@include states {
				&:before {
					background: image-url('search-page-v2/list-gray.svg') no-repeat;
					background-size: contain;
					width: 16px;
					height: 13px;
				}
			}

			&:hover:before, &:active:before, &.active:before {
				background: image-url('search-page-v2/list-orange.svg') no-repeat;
				background-size: contain;
			}
		}

		.p-newsearch__bot-c-map {
			@include states {
				&:before {
					background: image-url('search-page-v2/pipetka-gray.svg') no-repeat;
					background-size: contain;
					width: 13px;
					height: 16px;
				}
			}

			&:hover:before, &:active:before, &.active:before {
				background: image-url('search-page-v2/pipetka-orange.svg') no-repeat;
				background-size: contain;
			}
		}

		.p-newsearch__bot-c-gps {
			@include states {
				&:before {
					background: image-url('search-page-v2/gps-gray.svg') no-repeat;
					background-size: contain;	
					width: 16px;
					height: 16px;
				}
			}

			&:hover:before, &:active:before, &.active:before {
				background: image-url('search-page-v2/gps-orange.svg') no-repeat;
				background-size: contain;
			}
		}	

		.p-newsearch__bot-c-addnew {
			display: block;
			height: 44px;
			border-radius: 3px;
			border: 1px solid #eaeaea;
			margin-right: 20px;
			transition: all 0.3s;
			position: relative;
			padding: 0 15px;
			line-height: 44px;
			text-align: center;
			color: rgba(0, 0, 0, 0.4);
			@include font(bold);

			&.active {
				border: 1px solid $color-new-orange;
				color: $color-new-orange;
			}

			&:hover, &:active {
				border: 1px solid $color-new-orange;
				color: $color-new-orange;
			}
		}

		.p-newsearch__bot-с-submit {
			padding: 0;
			flex: 1;
			width: auto;
			height: 44px;
			line-height: 44px;
			text-align: center;
			border-radius: 22px;
			background: $color-new-orange;
			@include linksHover();
			outline: none;
			color: #fff;
			letter-spacing: 1px;
			font-size: 20px;
			border: none;
			@include font(bold);
		}

		.search-block__container {
			padding: 0px 0 40px 0;
		}
		
		.p-newsearch__i-drop-check-list {
			display: flex;
			flex-wrap: wrap;
			margin-right: -30px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: -40px;
		}

		.p-newsearch__i-drop-check-item {
			width: 170px;
			margin-right: 30px;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 40px;
			}
		}

		.p-newsearch__uslug-list {
			padding-top: 20px;
			padding-bottom: 10px;
			margin-bottom: -40px;
		}

		.p-newsearch__uslug-item {
			margin-bottom: 40px;
		}

		#p-newsearch__btn-type-c .p-newsearch__inputs-drop {
			width: 450px;
			right: 0;
			left: auto;
			margin-top: 15px;
		}

		.p-newsearch__inputs-drop {
			margin-top: 0;
		}

		#p-newsearch__drop-uslug {
			max-width: 100%;
		}

		#p-newsearch__drop-price {
			width: 270px;

			.p-newsearch__i-drop-check-item {
				width: 100px;
			}
		}

		.p-newsearch__btn-spec.has_value {
			max-width: initial;
		}
	}

	.select2-dropdown.p-newsearch__drop-metro {
		.select2-results {
			min-width: 250px;
		}
	}

	.p-newsearch {
		&.map-active {
			flex: 1;
			width: 100%;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;

			.search-block {
				margin-bottom: 0;
			}

			.search-block__map-container {
				height: 100%;
			}
		}

		.search-block__container.map-active {
			display: none;
		}

		.search-block__container-wrap.map-active > .container {
			height: 100%;
			display: none;
		}
	}

	.footer.footer-v2 {
		.footer__copy {
			width: 180px;
			margin-right: 45px;
		}

		.footer-top__col .footer-top__col {
			margin-top: 35px;
		}

		.footer-projects-item {
			margin-bottom: 19px;
		}

		.footer-projects-img {
			height: 32px;
			width: auto;
		}

		.footer__copy-text {
			font-size: 11.2px;
		}
	}
	
}

@media screen and (max-width: 767px) {
	.header.header-v2 {
		.header-top__auth {
			display: none;
		}

		.header-logo__img {
			max-width: 220px;
		}

		.header-top__menu-btn {
			margin-right: 20px;
		}

		.header-top__logo-menu-c {
			justify-content: space-between;
		}

		.header-logo {
			margin-right: 0;
			padding-top: 0;
		}

		.header-top {
			padding: 20px 0 0;
		}

		.header-top__logo-menu {
			margin-bottom: 15px;
		}

		.header-top__info {
			padding-top: 13px;
			padding-bottom: 13px;
			text-align: left;
		}

		.header-top__info-map {
			white-space: nowrap;
			max-width: 100%;
			font-size: 14px;
			padding-left: 20px;

			&:before {
				width: 10px;
				height: 16px;
				background-size: contain;
			}
		}

		.header__menu-c {
			padding: 32px 15px 20px 15px;
		}

		.header__menu {
			width: 270px;
		}

		.header__menu-mid {
			padding: 18px 15px 18px 15px;
			margin: 0 -15px 20px -15px;
		}

		.header__menu-nav-list {
			margin-bottom: 40px;
		}

		.header-top__socials-list {
			margin-bottom: 15px;
		}

		.header__menu-auth-wrap {
			width: 100%;
		}

		.header__menu-auth.header__menu-auth_carret {
			padding-right: 30px;
			display: block;

			&:after {
				right: 10px;
			}
		}

		.header__menu-auth-item:last-child {
			margin-bottom: 5px;
		}
	}

	.p-newsearch {
		background: #f3f3f3;
		padding-bottom: 20px;
		margin-bottom: -50px;

		.p-newsearch-top {
			padding-top: 20px;
			padding-bottom: 30px;
		}

		.p-newsearch-top__title {
			font-size: 28px;
			line-height: 32px;
		}

		.p-newsearch-top__desc {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 15px;
		}

		.p-newsearch__inputs-wrap {
			display: none;
		}

		.p-newsearch__form {
			display: flex;
			flex-direction: column;
		}

		.p-newsearch__bot-controls {
			order: 1;
			margin-bottom: 20px;

			.p-newsearch__bot-с-submit {
				display: none;
			}
		}

		.p-newsearch__inputs-wrap-xs {
			order: 2;
			margin-bottom: 28px;
		}

		.p-newsearch__bot-btns-wrap {
			order: 3;
			margin-bottom: 30px;
			padding-top: 0;
		}

		.p-newsearch__bot-с-sub-xs {
			order: 4;
		}

		.p-newsearch__bot-с-submit {
			width: 100%;
			height: 52px;
			line-height: 52px;
			border-radius: 26px;
		}

		.p-newsearch__bot-c-addnew {
			margin-right: 0;
			padding: 0 13px;
			white-space: nowrap;
			overflow: hidden;
			flex: 1;
			@include font(reg);
		}

		.p-newsearch__bot-btns-text {
			display: none;
		}

		.search-block__container-wrap {
			padding-top: 18px;
			background: #f3f3f3;
		}
		
		.search-block__container {
			background: transparent;
			padding: 0;
		}

		.p-newsearch__bot-checkbox:checked + .p-newsearch__bot-checkbox-text:after {
			left: auto;
			right: 0;
		}

		.p-newsearch__bot-checkbox-text {
			font-size: 13px;
			padding-left: 0;
			padding-right: 70px;

			&:before {
				width: 62px;
				height: 33px;
				border-radius: 16.8px;
				left: auto;
				right: 0;
			}

			&:after {
				width: 25px;
				height: 25px;
				left: auto;
				right: 29px;
				margin: 0 4px;
			}
		}

		.p-newsearch__bot-checkbox-label {
			margin-bottom: 30px;
			margin-right: 0;
			display: block;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.search-block__container-wrap.map-active {
			min-height: 300px;
			padding-top: 0;
		}

		.p-newsearch__select-xs-c {
			position: relative;
			margin-bottom: 11px;

			&:before {
				display: block;
				content: "";
				border-color: #888 transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				height: 0;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
				right: 11px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.p-newsearch__select-xs-c_usluga {
				display: none;
			}
		}

		.p-newsearch__select-xs {
			display: block;
			width: 100%;
			padding: 0 26px 0 10px;
			height: 50px;
			line-height: 50px;
			color: rgba(0, 0, 0, 0.4);
			font-size: 14px;
			background: #fff;
			border-radius: 3px;
			border: 1px solid #d5d5d5;
			-moz-appearance: none;
			-webkit-appearance: none;

			&::-ms-expand {
				display: none;
			}

			&.active + .p-newsearch__select-xs-clear-btn {
				display: block;
			}
		}

		.p-newsearch__select-xs-clear-btn {
			display: none;
			position: absolute;
			border-radius: 3px;
			right: 1px;
			top: 1px;
			bottom: 1px;
			width: 26px;
			background: #fff;
			border: none;
			outline: none;
			font-size: 0;
			color: transparent;
			z-index: 2;

			&:before {
				display: block;
				position: absolute;
				content: "";
				width: 9px;
				height: 9px;
				background: image-url('search-page-v2/clear-btn.svg') no-repeat;
				background-size: contain;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				display: block;
			}
		}

		.p-newsearch__select-xs-group {
			display: none;
			font-weight: normal;

			margin: 0;
			padding: 0;

			option {
				padding: 0;
				margin: 0;

				&:before {
					display: none;
				}
			}

			&.active {
				display: block;
			}
		}

		.search-block__list.search-block__doctors-list {
			.search-block__item {
				min-height: 1px;
				flex-direction: row;
				flex-wrap: wrap;

				.best__card-bot-rating {
					margin-bottom: 0;
				}
			}

			.search-block__item-left {
				display: block;
				flex: 0 0 31%;
				width: 31%;
				min-height: 1px;

				.search-block__item-left-heart {
					display: none;
				}

				.owl-search__badges {
					display: none !important;
				}
			}

			.search-block__item-tel-btn {
				margin-left: 15px;
				margin-right: 15px;
				width: auto;
				flex: 1;
				margin-bottom: 24px;
			}

			.search-block__item-left-heart {
				top: 60px;
			}
		}

		.search-block__container {
			.search-block__item-tel-btn {
				background: #ff9f00;

				&:before {
					background: image-url('search-page-v2/search-item-tel-btn.svg') no-repeat;
				}
			}
		}

	}

	.footer.footer-v2 {
		.footer-top {
			padding-top: 50px;
		}

		.footer__copy-text {
			font-size: 14px;
		}

		.footer__copy {
			flex: 100%;
			width: 100%;
			margin-right: 0;
		}
		
		.footer-top__col {
			width: 100%;
			flex: 100%;
			margin-right: 0;
		}

		.footer-top__col .footer-top__col {
			left: 0;
			margin-bottom: 0;
		}

		.footer-projects-img {
			height: 36px;
		}
	}

	


	.search-block__container {
		.search-block__item-right-top {
			> *:last-child {
				margin-bottom: 0;
			}
		}

		.search-block__item-info {
			margin-bottom: 11px;

			> *:last-child {
				margin-bottom: 0;
			}
		}

		.search-block__item-seti-list {
			margin-bottom: -8px;
			padding-top: 0;
		}

		.search-block__item-seti-item {
			font-size: 11px;
			margin-bottom: 8px;
			color: rgba(0, 0, 0, 0.4);
		}

		.search-block__item-adress {
			display: block;
			font-size: 11px;
			overflow: auto;
			white-space: nowrap;
			padding-left: 0;
			margin-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -30px;

			&:before {
				display: none;
			}
		}

		.search-block__item-adress-c {
			position: relative;
			overflow: hidden;
			height: 15px;

			&.add-right-shadow {
				&:after {
					opacity: 1;
				}
			}

			&:after {
				pointer-events: none;
				position: absolute;
				display: block;
				content: "";
				right: 0;
				top: 0;
				height: 100%;
				width: 70px;
				background: linear-gradient(to right, rgba(255,255,255,0.000001), #fff);
				opacity: 0;
				transition: 0.7s;
			}
		}

		.search-block__i-money-list {
			padding-left: 0;
			border-top: 1px solid rgba(216, 216, 216, 0.7);
			padding-top: 15px;
			margin-bottom: 20px;
			margin-top: 13px;
			color: #6e6e6e;

			&:before {
				display: none;
			}
		}

		.search-block__i-money-item {
			max-width: 100%;
		}

		.search-block__i-money-item-r {
			margin-left: auto;
			text-align: right;
		}

		.search-block__i-money-item-l span:after {
			display: none;
		}

		.search-block__item-tel-btn {
			padding-left: 47px;
			padding-right: 23px;
			display: block;
			width: 100%;
			height: 43px;
			line-height: 43px;
			text-align: center;
			color: #fff;
			border: none;
			border-radius: 25px;
			background: #FF9F00;
			letter-spacing: 0.5px;
			font-size: 16px;
			@include font(semi);
			position: relative;
			margin-top: 20px;
			@include linksHover();

			&:before {
				display: block;
				content: "";
				position: absolute;
				left: -2px;
				top: 0;
				background: image-url('search-page-v2/search-item-tel-btn_orange.svg') no-repeat;
				background-size: contain;
				height: 46px;
				width: 46px;
				top: -2px;
			}
		}

		.search-block__item-tag-item {
			margin-right: 20px;

			&:last-child {
				margin-bottom: 4px;
			}
		}

		.owl-search__badge {
			font-size: 8px;
			margin-right: 8px;
			margin-bottom: 0;
			flex: 0 0 auto;
			white-space: nowrap;
			padding: 4px 3.5px 3px;

			&:last-child {
				margin-right: 0;
			}

			&.badge_green {
				background: #713d9e;
			}

			&.badge_kid {
				background: #d08fd7;
			}
		}

		.search-block__item-newbadge {
			font-size: 8px;
			margin-bottom: 0;
			flex: 0 0 auto;
			white-space: nowrap;
			padding: 4px 6px 3px;
			margin-left: 26px;
			margin-bottom: 10px;
			letter-spacing: 0.8px;

			&:before {
				left: -26px;
				right: auto;
				margin-right: 0;
				width: 21px;
				height: 21px;
			}

			&.search-block__item-newbadge_star {
				&:before {
					background: image-url('svg-icons/ico-badge-star-mob.svg') no-repeat;
					background-size: contain;
				}
			}

			&.search-block__item-newbadge_plus {
				&:before {
					background: image-url('svg-icons/ico-badge-plus-mob.svg') no-repeat;
					background-size: contain;
				}
			}

			&.search-block__item-newbadge_percent {
				&:before {
					background: image-url('svg-icons/ico-badge-percent-mob.svg') no-repeat;
					background-size: contain;
				}
			}
		}

		.search-block__item-right {
			padding: 10px 15px 20px;
			width: 100%;
		}

		.search-block__item-right-top .owl-search__badge:last-child {
			margin-bottom: 0;
		}

		.search-block__item-left {
			flex: 0 0 auto;
			width: calc(100% + 2px);
			margin-right: -1px;
			min-height: 92vw;
			display: none;
		}

		.search-block__item {
			align-items: stretch;
			margin-bottom: 30px;
			min-height: 1px;
			flex-direction: column;
			border: 1px solid transparent;
			margin-left: -15px;
			margin-right: -15px;

			.best__c-b-r-comments {
				float: right;
				margin-top: 4px;
				border-bottom: none;
				text-decoration: underline;
			}

			&.search-block__item_attention {
				border-color: #dd3737;
				box-shadow: inset 0 0 0 1px #dd3737;

				.img-container {
					min-height: 92vw;
				}

				.search-block__item-right {
					border-radius: 0;
					border: none;
				}

				.search-block__item-tag-list,
				.search-block__item-title,
				.best__card-bot-rating,
				.search-block__item-adress-c,
				.search-block__i-money-list {
					opacity: 0.5;
				}
			}

			&:not(.border_red):not(.search-block__item_attention) {
				&:hover {
					border-color: transparent;
				}
			}
		}

		.search-block__item-left-heart {
			top: 10px;
			right: 15px;
			left: auto;
			width: 18px;
			height: 16px;

			@include states {
				background: none;
				opacity: 1;
			}

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				content: "";
				background: image-url('search-page-v2/add-favorite-heart.svg') no-repeat;
				background-size: contain;
				opacity: 1;
				transition: 1s;
				width: 18px;
				height: 16px;
				z-index: 2;
			}

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				content: "";
				background: image-url('search-page-v2/add-favorite-heart-active.svg') no-repeat;
				background-size: contain;
				opacity: 0;
				transition: 1s;
				width: 18px;
				height: 16px;
				z-index: 2;
			}

			&.active {
				background: none;

				.search-block__item-left-heart_delete {
					display: none;
				}

				.search-block__item-left-heart_add {
					display: block;
				}

				&:before {
					opacity: 1;
				}

				&:after {
					opacity: 0;
				}

			}

			&.show-heart-text {
				.search-block__item-left-heart-text {
					width: 245px;
				}
			}

			.search-block__item-left-heart-text-c {
				position: relative;
				height: 100%;

				&:before {
					position: absolute;
					display: block;
					content: "";
					width: 10px;
					height: 8px;
					background: #fff;
					top: -2px;
					left: 7px;
					z-index: 1;
				}
			}

			.search-block__item-left-heart_delete {
				display: block;
				background: #bfbfbf;
			}

			.search-block__item-left-heart_add {
				display: none;
				background: #C40556;
			}

			.search-block__item-left-heart-text {
				display: block;
				position: absolute;
				right: 9px;
				overflow: hidden;
				transition: 1s;
				width: 0;
			}

			.search-block__item-left-heart_delete,
			.search-block__item-left-heart_add {
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				height: 16px;
				line-height: 17px;
				white-space: nowrap;
				padding: 0 15px 0 10px;
				width: 245px;
				border-radius: 15px 0 0 15px;
			}
		}

		.search-block__more-item-btn {
			background: transparent;
			max-width: 100%;
		}

		.search-block__list {
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
		}

		.owl-search__badges {
			min-height: 16px;
			display: flex !important;
			margin-bottom: 13px;
			flex-wrap: wrap;
			align-items: flex-start;
			flex-direction: row;
		}

		.search-block__item-title {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 0;
		}

		.search-block__item-title-c {
			max-height: 60px;
			overflow: hidden;
			margin-bottom: 13px;
			position: relative;

			&:after {
				pointer-events: none;
				position: absolute;
				display: block;
				content: "";
				right: 0;
				bottom: 0;
				height: 20px;
				width: 70px;
				background: linear-gradient(to right, rgba(255,255,255,0.000001), #fff);
				opacity: 0;
				transition: 0.7s;
			}

			&.add-right-shadow {
				&:after {
					opacity: 1;
				}
			}
		}

		.search-block__item .best__card-bot-rating {
			margin-bottom: 6px;
		}

		.search-block__item.search-block__item_attention .search-block__item-right-top .attention {
			min-height: 16px;
			display: inline-flex !important;
			margin-bottom: 13px;
			align-items: center;
			padding: 4px 5px 3px 18px;
			vertical-align: top;
		}

		.search-block__item .best__c-b-r-stars-wrap {
			transform: scale(0.74);
			margin: 0 -17px 0 -14px;
		}

		.search-block__item .best__c-b-r-comments {
			font-size: 11px;
		}
	}

	.p-newsearch__inputs-xs-toggler {
		border-radius: 0;
		border: none;
		outline: none;
		background: none;
		margin: 0;
		padding: 0;
		color: #ff9f00;
		font-size: 14px;
		padding-right: 18px;
		margin-top: 5px;
		position: relative;
		@include font(semi);

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 40%;
			right: 0;
			transform: translateY(-50%) rotate(-45deg);
			width: 8px;
			height: 8px;
			border: 2px solid #ff9f00;
			border-top: none;
			border-right: none;
			transition: 0.3s;
		}

		&[aria-expanded="true"] {
			&:before {
				transform: translateY(0%) rotate(-225deg);
			}
		}
	}
	
	.p-newsearch__inputs-xs-collapsed {
		padding-top: 15px;
	}


	.search-block__list.search-block__doctors-list {
		.search-block__item {
			align-items: stretch;
			margin-bottom: 30px;
			border-color: transparent;
			margin-left: -15px;
			margin-right: -15px;
			min-height: 1px;
			flex-direction: row;
			flex-wrap: wrap;
			padding-bottom: 20px;

			.best__card-bot-rating {
				margin-bottom: 0;
			}

			.best__c-b-r-comments {
				float: right;
				margin-top: 4px;
				border-bottom: none;
				text-decoration: underline;
			}

			&.border_red {
				padding-bottom: 0;
				min-height: 1px;
				border: 1px solid #FF9F00;
				
				.search-block__item-right {
					padding: 10px 15px 0px;
				}
			}
		}

		.search-block__item-right {
			padding: 10px 15px 0;
			width: 100%;
		}

		.search-block__item-left {
			display: block;
			flex: 0 0 auto;
			width: 100px;
			min-height: 1px;

			.search-block__item-left-heart {
				display: none;
			}

			.owl-search__badges {
				display: none !important;
			}
		}

		.search-block__item-tel-btn {
			padding-left: 47px;
			padding-right: 23px;
			display: block;
			height: 43px;
			line-height: 43px;
			text-align: center;
			color: #fff;
			border: none;
			border-radius: 25px;
			background: #FF9F00;
			letter-spacing: 0.5px;
			font-size: 16px;
			@include font(bold);
			position: relative;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 20px;
			width: calc(100% - 30px);
			flex: 0 0 auto;
			@include linksHover();

			&:before {
				display: block;
				content: "";
				position: absolute;
				left: -2px;
				top: 0;
				background: image-url('search-page-v2/search-item-tel-btn_orange.svg') no-repeat;
				background-size: contain;
				height: 46px;
				width: 46px;
				top: -2px;
			}
		}

		.search-block__item-left-heart {
			top: 10px;
			right: 15px;
			left: auto;
			width: 18px;
			height: 16px;

			@include states {
				background: none;
				opacity: 1;
			}

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				content: "";
				background: image-url('search-page-v2/add-favorite-heart.svg') no-repeat;
				background-size: contain;
				opacity: 1;
				transition: 1s;
				width: 18px;
				height: 16px;
				z-index: 2;
			}

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				content: "";
				background: image-url('search-page-v2/add-favorite-heart-active.svg') no-repeat;
				background-size: contain;
				opacity: 0;
				transition: 1s;
				width: 18px;
				height: 16px;
				z-index: 2;
			}

			&.active {
				background: none;

				.search-block__item-left-heart_delete {
					display: none;
				}

				.search-block__item-left-heart_add {
					display: block;
				}

				&:before {
					opacity: 1;
				}

				&:after {
					opacity: 0;
				}

			}

			&.show-heart-text {
				.search-block__item-left-heart-text {
					width: 245px;
				}
			}

			.search-block__item-left-heart-text-c {
				position: relative;
				height: 100%;

				&:before {
					position: absolute;
					display: block;
					content: "";
					width: 10px;
					height: 8px;
					background: #fff;
					top: -2px;
					left: 7px;
					z-index: 1;
				}
			}

			.search-block__item-left-heart_delete {
				display: block;
				background: #bfbfbf;
			}

			.search-block__item-left-heart_add {
				display: none;
				background: #C40556;
			}

			.search-block__item-left-heart-text {
				display: block;
				position: absolute;
				right: 9px;
				overflow: hidden;
				transition: 1s;
				width: 0;
			}

			.search-block__item-left-heart_delete,
			.search-block__item-left-heart_add {
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				height: 16px;
				line-height: 17px;
				white-space: nowrap;
				padding: 0 15px 0 10px;
				width: 245px;
				border-radius: 15px 0 0 15px;
			}
		}

		.search-block__item-tag-item {
			margin-right: 5px;
			letter-spacing: 0.77px;
		}

		.owl-search__badges {
			min-height: 17px;
			display: flex !important;
			margin-bottom: 13px;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.search-block__item-title {
			font-size: 15px;
			line-height: 20px;
			padding-right: 35px;
			// min-height: 60px;
			// margin-bottom: 25px;
			margin-bottom: 8px;
		}

		.search-block__item .best__card-bot-rating {
			// margin-bottom: 6px;
			margin-bottom: 0;
		}

		.search-block__item.search-block__item_attention .search-block__item-right-top .attention {
			min-height: 17px;
			display: inline-flex !important;
			margin-bottom: 13px;
			align-items: center;
			padding: 4px 4px 3px 18px;
			vertical-align: top;
		}

		.search-block__item .best__c-b-r-stars-wrap {
			transform: scale(0.74);
			margin: 0 -17px 0 -14px;
		}

		.search-block__item .best__c-b-r-comments {
			font-size: 11px;
		}

		.search-block__item-adress-c {
			position: relative;

			&.add-right-shadow {
				&:after {
					opacity: 1;
				}
			}

			&:after {
				pointer-events: none;
				position: absolute;
				display: block;
				content: "";
				right: 0;
				top: 0;
				height: 100%;
				width: 70px;
				background: linear-gradient(to right, rgba(255,255,255,0.000001), #fff);
				opacity: 0;
				transition: 0.7s;
			}
		}

		.owl-search__badge {
			font-size: 8px;
			flex: 0 0 auto;
			white-space: nowrap;
			padding: 4px 3.5px 3px;
			margin-right: 8px;
			margin-bottom: 0;
		}

		.owl-search__badge:last-child {
			margin-right: 0;
		}

		.search-block__item-right-top .owl-search__badge {
			margin-bottom: 0;
		}

		.search-block__item-adress {
			display: none;
		}

		.owl-search__img {
			background: none;
			height: auto;
		}

		.owl-search__img-in {
			display: block;
			max-width: 100%;
			height: auto;
			width: 100%;
		}
	}


	.p-newsearch__select-xs-multiple-label {
		position: absolute;
		width: calc(100% - 25px);
		height: 100%;
		left: 0;
		top: 0;
		pointer-events: none;
		padding: 0 26px 0 10px;
		line-height: 50px;
		color: rgba(0, 0, 0, 0.4);
		font-size: 14px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #d5d5d5;
		border-right: none;
	}
}
