// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == bold {
		font-family: 'ProximaNova-Bold';
	} @elseif $font == ext {
		font-family: 'ProximaNova-ExtraBold';
	} @elseif $font == light {
		font-family: 'ProximaNova-Light';
	} @elseif $font == lightital {
		font-family: 'ProximaNova-Lightitalic';
	} @elseif $font == ital {
		font-family: 'ProximaNova-Regitalic';
	} @elseif $font == reg {
		font-family: 'ProximaNova-Regular';
	} @elseif $font == semi {
		font-family: 'ProximaNova-Semibold';
	} @elseif $font == black {
		font-family: 'ProximaNova-Black';
	} @elseif $font == blackitalic {
		font-family: 'ProximaNova-Blackitalic';
	} 
}

@mixin linksHover() {
	transition: all .3s ease-in-out;
	opacity: 1;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 1;
	}
}

@mixin states {
	@content;

	&:hover, &:active, &:focus {
		@content;
	}
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}