.p-partners__title {
	font-size: 34px;
	font-family: 'ProximaNova-ExtraBold';
	margin-bottom: 17px;
}

.p-partners__item {
	margin-bottom: 50px;
	padding-right: 115px;
}

.p-partners__item-img-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 140px; 
	overflow: hidden;
}

.p-partners__item-img {
	width: auto;
}

.p-partners__item-title {
	@include font(bold);
	font-size: 24px;
	margin-bottom: 10px;
}

.p-partners__item-desc {
	font-size: 16px;
	margin-bottom: 13px;
}

.p-partners__link {
	@include states {
		display: inline-block;
		text-decoration: underline;
		font-size: 16px;
		color: #FF9F00;
		@include font(semi);
	}

	@include linksHover();
}

.p-partners__list {
	margin-bottom: 50px;
}