/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-partners__item {
		margin-bottom: 20px;
		padding-right: 15px;
	}
}

/* xs */
@media screen and (max-width: 767px) {

}