.breadcrumbs-block {
	padding: 25px 0;
}

.breadcrumbs-list {
	font-size: 0;
}

.breadcrumbs-item {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: #FF9F00;
	margin-right: 28px;

	&:last-child {
		color: #b5b5b5;
		margin-right: 0;

		&:before {
			display: none;
		}
	}

	&:before {
		@extend %icons;
		right: -24px;
		width: 16px;
		height: 16px;
		transform: translateY(-50%) rotate(-90deg) scale(0.9);
		background: image-url('svg-icons/arrow-down_gray.svg') no-repeat center;
	}
}

.breadcrumbs-link {
	display: block;
	@include linksHover();
}