.doctor-p {
	background: #fff;
	min-height: 389px;
	margin-bottom: 30px;

	.best__c-b-r-comments {
		@include linksHover();
		vertical-align: middle;
		display: inline-block;
		color: rgba(0, 0, 0, 0.3);
		font-size: 14px;
	}
}

.doctor-p__mid-img-container {
	height: 237px;
	width: 100%;
	overflow: hidden;
	position: relative;

	&:before {
		position: absolute;
		width: 100%;
		height: 39.5%;
		display: block;
		content: "";
		opacity: 0.1;
		background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
	}
}

.doctor-p__badge {
	font-size: 12px;
} 

.doctor-p__badges {
	margin-bottom: 22px;
}

.doctor-p__title {
	font-size: 36px;
	@include font(semi);
	margin-bottom: 10px;
	margin-top: -8px;
}

.doctor-p__abilities-list {
	font-size: 0;
	margin-bottom: 22px;
}

.doctor-p__abilities-item {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	color: #6e6e6e;

	&:last-child {
		margin-right: 0;
	}
}

.doctor-p__mid {
	padding: 0 5000px 25px 5000px;
	margin: 0 -5000px;
	border-bottom: 1px solid #ebeced;
}

.doctor-p__bot {
	padding: 20px 5000px;
	padding-bottom: 0;
	margin: 0 -5015px 0 -5000px;
	border-bottom: 1px solid #ebeced;
}

.doctor-p__bot__container {
	margin: 0 -15px;
}

.doctor-p__nav-list {
	font-size: 0;
}
.owl-doctor-nav {
	.owl-stage {
		white-space: nowrap;
	}

	.owl-item {
		display: inline-block;
		float: none;
	}
}

.doctor-p__nav-item {
	font-size: 16px;
	display: inline-block;
	position: relative;
	padding-bottom: 20px;
	transition: all .3s ease-in-out;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		display: block;
		width: 100%;
		position: absolute;
		content: "";
		height: 5px;
		bottom: 0;
		background: #FF9F00;
		opacity: 0;
		transition: all .3s ease-in-out;
	}

	&.active {
		@include font(semi);
		
		&:before {
			opacity: 1;
		}
	}
}

.doctor-p__nav-link {
	display: block;
	@include linksHover();
}

.doctor-p__nav-link_opinion {
	@include states {
		color: #FF9F00;
		padding-left: 16px;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			display: block;
			left: 0;
			top: 3px;
			width: 12.5px;
			height: 11.4px;
			background: image-url('svg-icons/star_orange.svg') no-repeat;
			background-size: cover;
		}
	}
}

.doc-main__info {
	margin-bottom: 25px;
	background: #fff;
	padding: 30px;
}

.doc-main__info-list {
	margin-bottom: 30px;
}

.doc-main__info-item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.doc-main__info-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
}

.doc-main__info-desc {
	font-size: 14px;
	line-height: 24px;
	color: #6e6e6e;

	a {
		@include linksHover();
		text-decoration: underline;
		color: #131313;
	}
}

.doc-main__article {
	margin-bottom: 20px;
}

.doc-main__article-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.doc-main__article-desc {
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.doc-main__info-attention {
	margin-bottom: 20px;
	background: #fafafa;
	text-align: center;
	padding: 45px 70px;
	font-size: 18px;
	line-height: 27px;

	.link-def {
		@include states {
			text-decoration: none;
			font-size: 18px;
		}
	}
}

.doc-main__prices {
	background: #fff;
	padding: 30px;
	margin-bottom: 20px;
}

.doc-main__prices-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.doc-main__prices-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ebeced;
	padding: 7px 0 2px 0;
}

.doc-main__prices-name {
	font-size: 16px;
	color: #6e6e6e;
}

.doc-main__prices-price {
	flex: 0 0 100px;
	font-size: 16px;
	text-align: right;
}

.doc-main__prices-list {
	margin-bottom: 30px;
}

.doc-main__prices-btn {
	@include states {
		font-size: 14px;
		@include font(bold);
		padding: 17px 24px;
		text-transform: uppercase;
		max-width: 250px;
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.doc-main__feedbacks-top-abilities {
	margin-bottom: 40px;
}

.doc-main__feedbacks {
	padding: 30px;
	background: #fff;
	margin-bottom: 20px;
}

.doc-main__feedbacks-top,
.doctor-p__mid-abilities {

	.best__card-bot-rating {
		@include clearfix();
		max-width: 290px;
		margin-right: 20px;
		display: inline-block;
	}

	.best__c-b-r-count {
		float: left;
		width: 106px;
		height: 106px;
		border-radius: 50%;
		border: 2px solid #FF9F00;
		text-align: center;
		line-height: 104px;
		font-size: 48px;
		margin-right: 25px;
		color: black;
		@include font(light);
	}

	.best__c-b-r-stars-wrap {
		margin-bottom: 11px;
		float: left;
		margin-top: 20px;
	}

	.doc-main__feedbacks-stars-desc {
		padding-left: 3px;
		float: left;
		font-size: 12px;
		color: #6e6e6e;
		display: inline-block;
		vertical-align: middle;
	}
}

.doctor-p.doctor-p_height {
	min-height: 320px;
}

.doctor-p__mid-abilities {
	.doc-main__feedbacks-top-abilities {
		margin-bottom: 0;
	}

	.doc-main__feedbacks-abilities-name {
		text-align: right;
		margin-right: 8px;
		max-width: 165px;
	}

	.doc-main__feedbacks-abilities-progress {
		margin-right: 8px;
	}

	.best__card-bot-rating {
		margin-right: 5px;
		max-width: 285px;
	}
}

.doc-main__feedbacks-top-title {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 20px;
	padding-right: 50px;
	@include font(ext);
}

.doc-main__feedbacks-abilities-list {
	vertical-align: top;
	display: inline-block;
	max-width: 340px;
	width: 100%;
}

.doc-main__feedbacks-abilities-item {
	font-size: 0;
}

.doc-main__feedbacks-abilities-name {
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px;
	max-width: 202px;
	width: 100%;
	display: inline-block;
	margin-right: 20px;
}

.doc-main__feedbacks-abilities-progress {
	vertical-align: middle;
	width: 70px;
	height: 3px;
	background: #ebeced;
	position: relative;
	margin-right: 20px;
	display: inline-block;
}

.doc-main__feedbacks-abilities-progress-bar {
	position: absolute;
	height: 3px;
	top: 0;
	left: 0;
	background: #35bd9f;
}

.doc-main__feedbacks-abilities-progress-count {
	font-size: 14px;
	line-height: 24px;
	color: $black40;
	display: inline-block;
	vertical-align: middle;
}

.doc-main__feedbacks-top {
	margin-bottom: 20px;
}

.doc-main__feedbacks-attention-wrap {
	margin-bottom: 20px;
}

.doc-main__feedbacks-attention {
	@include states {
		display: block;
		background: #f9f9f9;
		padding: 20px 0;
		text-align: center;
		font-size: 19px;
		color: #FF9F00;
		@include font(bold);
		margin-top: 55px;
	}
	@include linksHover;

	.doc-main__feedback-yes {
		display: inline-block;
		position: relative;

		&:before {
			@extend %icons;
			width: 20px;
			height: 21px;
			right: -26px;
			background: image-url('svg-icons/arrow-down_orange.svg') no-repeat center;
		}
	}
}

.doc-main__feedbacks__item {
	@include clearfix();
	padding: 20px 0;
	border-bottom: 1px solid #ebeced;

	&:last-child {
		border: none;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.7);
		margin: 1px -20px 0 -15px;
	}
}

.doc-main__feedbacks__item-top {
	@include clearfix;

	.best__card-bot-rating {
		margin-right: 10px;
	}

	.best__c-b-r-count {
		font-size: 16px;
	}
}

.doc-main__feedbacks__item-title {
	font-size: 16px;
	@include font(semi);
	margin-right: 20px;
}

.doc-main__feedbacks__item-attention {
	width: 16px;
	height: 16px;
	display: block;
	@include linksHover();
	background: image-url('svg-icons/attention.svg') no-repeat center;
	margin-right: 10px;
}

.doc-main__feedbacks__item-date {
	font-size: 14px;
	color: #b5b5b5;
}

.doc-main__feedbacks__item-top-left {
	display: flex;
	align-items: center;
}

.doc-main__feedbacks__item-top-right {
	margin-left: auto;
}

.doc-main__feedbacks__item-top {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.doc-main__feedbacks__item-text {
	margin-bottom: 10px;
	font-size: 16px;
	color: #6e6e6e;
}

.doc-main__feedbacks__item-reply-btn {
	@include states {
		display: block;
		font-size: 14px;
		position: relative;
		color: $black40;
		padding-left: 22px;
		float: right;
		text-align: right;

		&:before {
			@extend %icons;
			left: 0;
			width: 16px;
			height: 16px;
			background: image-url('svg-icons/reply-material-design-icons.svg') no-repeat center;
		}
	}
	@include linksHover();
}

.doc-main__feedbacks-more {
	@include states {
		font-size: 14px;
		font-family: 'ProximaNova-Bold';
		padding: 17px 24px;
		max-width: 250px;
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.doc-main__feedbacks__list {
	margin-bottom: 20px;
}

.doc-main__materials {
	padding: 35px 30px 30px 30px;
	background: #fff;
	margin-bottom: 20px;
}

.doc-content__main {
	padding-bottom: 20px;
}

.doc-main__materials-title {
	font-size: 24px;
	margin-bottom: 15px;
	@include font(ext);
}

.owl-doc-mat {

	.news__big-item-top-title {
		font-size: 9px;
		padding: 20px;
	}

	.news__small-item-bot {
		padding: 11px 0;
		height: auto;
	}

	.news__big-item-date {
		font-size: 10px;
		margin-bottom: 6px;
	}

	.news__big-item-title {
		font-size: 14px;
	}

	.news__big-item-desc {
		font-size: 12px;
	}

	.owl-dots {
		height: 29px;
		top: -44px;
		right: 0;
		padding-top: 4px;
		bottom: initial;
		left: initial;
	}

	.owl-dot span {
		background: #ebeced;
	}

	.owl-dot.active span {
		background: #FF9F00;
		width: 8px;
		height: 8px;
	}
}

.doc-aside__info {
	padding: 30px 40px 30px 40px;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #ebeced;

	&.attention_border {
		position: relative;
		padding-bottom: 35px;
		border-color: #dd3737;

		.doc-aside__info-top {
			padding-bottom: 0;
		}

		.doc-aside__info-telephone {
			margin-bottom: 15px;
		}

		.attention {
			bottom: -10px;
			left: 10px;
		}
	}

	&.doc-aside__info_pb-0 {
		padding-bottom: 0;
	}

	&.doc-aside__info_pt-0 {
		padding-top: 0;
	}
}


.doc-aside__info-item {
	@include clearfix();
	margin-bottom: 30px;
	padding-left: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.doc-aside__info-title {
	margin-bottom: 15px;
	font-size: 14px;
	@include font(semi);
	padding: 0 0 10px 30px;
	margin-left: -30px;
	position: relative;
	border-bottom: 1px solid #ebeced;

	&:before {
		@extend %icons;
		left: 0;
		opacity: 0.2;
		width: 18px;
		height: 18px;
		top: 30%;
	}

	&.adress:before {
		background: image-url('svg-icons/map-ico.svg') center no-repeat;
		background-size: contain;
		width: 16px;
		height: 16px;
	}

	&.type:before {
		background: image-url('svg-icons/plus-box-material-design-icons.svg') center no-repeat;
	}

	&.price:before {
		background: image-url('svg-icons/cash-material-design-icons.svg') center no-repeat;
	}

	&.mode:before {
		background: image-url('svg-icons/clock-material-design-icons.svg') center no-repeat;
	}

	&.contact:before {
		background: image-url('svg-icons/share-variant.svg') center no-repeat;
		background-size: contain;
	}

	&.pay:before {
		background: image-url('svg-icons/oplata.svg') center no-repeat;
		background-size: contain;
		opacity: 1;
	}
}

.doc-aside__info-adress {
	@include states {
		font-size: 14px;
		text-decoration: underline;
		display: block;
		@include linksHover();
		margin-bottom: 15px;
	}
}

.doc-aside__info-text {
	font-size: 14px;
	margin-bottom: 15px;

	span {
		text-decoration: underline;
	}

	.doc-aside__info-text-link {
		@include states {
			text-decoration: underline;
		}
		@include linksHover();
	}
}

.doc-aside__info-metro-list {
	font-size: 0;
	margin-bottom: 5px;
	margin-right: -25px;
}

.doc-aside__info-metro-item {
	font-size: 14px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	padding-left: 20px;
	margin-right: 25px;

	&:before {
		@extend %icons;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		left: 0;
	}
	
	&.red:before {
		background: #dd3933;
	}

	&.blue:before {
		background: #1d529d;
	}

	&.pink:before {
		background: #b314b8;
	}
}

.doc-aside__mode-list {
	margin-bottom: 10px;
}

.doc-aside__mode-item {
	font-size: 0;
}

.doc-aside__mode-item-left {
	font-size: 14px;
	line-height: 25px;
	display: inline-block;
	max-width: 100px;
	width: 100%;
	margin-right: 30px;
}

.doc-aside__mode-item-right {
	font-size: 14px;
	line-height: 25px;
	display: inline-block;
}

.doc-aside__info-tel {
	display: block;
	padding: 10px 40px;
	max-width: 220px;
	width: 100%;
	text-align: center;
	@include linksHover();
	background: #35bd9f;
	border-radius: 3px;
	margin-bottom: 15px;
}

.doc-aside__info-tel-show {
	font-size: 15px;
	line-height: 22px;
	@include font(bold);
	color: #fff;
}

.doc-aside__info-tel-text {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}

.doc-aside__info-feed-btn {
	@include states {
		display: inline-block;
		font-size: 14px;
		margin-bottom: 15px;
		border-bottom: 1px dashed black;
		float: left;
		clear: left;
	}
	@include linksHover();
}

.doc-aside__info-socials-list {
	font-size: 0;
	float: left;
	clear: left;
	margin-right: -12px;
}

.doc-aside__info-socials-item {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	width: 21px;
	height: 21px;

	&.fb .doc-aside__info-socials-link {
		background: image-url("svg-icons/facebook-rect_gray.svg") no-repeat center;
	}

	&.inst .doc-aside__info-socials-link {
		background: image-url("svg-icons/instagram-material-design-icons.svg") no-repeat center;
	}

	&.ok .doc-aside__info-socials-link {
		background: image-url("socials-icons/odnoklassniki_gray.svg") no-repeat center;
		background-size: 100%;
	}

	&.vk .doc-aside__info-socials-link {
		background: image-url("socials-icons/vkontakte_gray.svg") no-repeat center;
		background-size: 100%;
	}

	&.tw .doc-aside__info-socials-link {
		background: image-url("socials-icons/twitter_gray.svg") no-repeat center;
		background-size: 100%;
	}

}

.doc-aside__info-socials-link {
	display: block;
	width: 100%;
	height: 100%;
	@include linksHover();
}

.doc-aside__say-text {
	font-size: 14px;
	line-height: 20px;
}

.doc-aside__question {
	position: relative;
	margin-bottom: 30px;
}

.doc-aside__question-top {
	position: absolute;
	height: 100px;
	width: 100%;
	top: 0;
	padding: 30px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		opacity: 0.45;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0));
	}
}

.doc-aside__question-top-title {
	font-size: 13px;
	letter-spacing: 1px;
	@include font(bold);
	color: #fff;
	text-transform: uppercase;
	position: relative;
}

.doc-aside__question-bot {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	height: 370px;
	width: 100%;
	bottom: 0;
	padding: 0 30px 30px 30px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	}
}

.doc-aside__question-bot-name {
	font-size: 14px;
	@include font(semi);
	color: #fff;
	margin-bottom: 10px;
	position: relative;
}

.doc-aside__question-bot-title {
	font-size: 28px;
	color: #fff;
	@include font(ext);
	margin-bottom: 10px;
	position: relative;
}

.doc-aside__question-bot-link {
	@include states {
		position: relative;
		font-size: 16px;
		@include font(semi);
		align-self: baseline;
	}
}

.doc-aside__looked {
	margin-bottom: 30px;
}

.doc-aside__looked-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.doc-aside__looked-item {
	background: #fff;
	border: 1px solid #ebeced;
	padding: 20px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	.best__c-b-r-count {
		font-size: 16px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.75);
		margin: 0 -5px 0 -10px;
	}

	.best__c-b-r-comments {
		text-decoration: none;
	}
}

.doc-aside__looked-link {
	@include clearfix();
	display: block;
	@include linksHover();
}

.doc-aside__looked-left {
	float: left;
	width: 64px;
	margin-right: 20px;
}

.doc-aside__looked-right {
	float: left;
	max-width: 64%;
}

.doc-aside__looked-name {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}

.modal-enroll__form {
	margin-bottom: 25px;
}

.modal-enroll__attention {
	position: relative;
	font-size: 15px;

	.star {
		color: #dc333b;
	}
}

.doc-main__feedbacks-attention-auth {
	background: #f8f9fa;
	padding: 30px;
	margin-bottom: 40px;
	font-size: 16px;
	text-align: center;

	.link-def {
		@include states {
			font-size: 16px;
			text-decoration: none;
		}
	}
}

.doc-aside__info-top {
	padding: 5px 25px 25px 25px;

	div:last-child,
	a:last-child {
		margin-bottom: 0;
	}
}

.doc-aside__callback-btn {
	@include states {
		display: inline-block;
		@include font(bold);
		color: #FF9F00;
		font-size: 14px;
		border-bottom: dashed 1px #FF9F00;
		margin-bottom: 15px;
	}
}

.doc-aside__info-telephone {
	font-size: 24px;
	margin-bottom: 6px;
}

.doc-aside__enroll-btn {
	@include states {
		display: block;
		max-width: 275px;
		width: 100%;
		margin: 0 auto 17px auto;
		text-transform: uppercase;
		font-size: 14px;
		padding: 17px 5px;
		@include font(bold);
		color: #fff;
		text-align: center;
	}
}

.doc-aside__info-site {
	@include states {
		display: inline-block;
		font-size: 18px;
	}
}

.doc-aside__say {
	padding: 30px 50px 30px 70px;
	position: relative;
	border-bottom: 1px solid #ebeced;
	border-top: 1px solid #ebeced;
	background: #fff;
	text-align: left;
	margin: 0 -40px -1px -40px;

	&:before {
		@extend %icons;
		left: 15px;
		width: 49px;
		height: 48px;
		background: image-url('logo-smile.svg') no-repeat center;
		transform: translateY(-50%) scale(0.75);
	}

	&.iffirst {
		margin-top: -30px;
		border-top: none;
	}
}

.doc-aside__special {
	// padding: 20px 25px;
	border-top: 1px solid #ebeced;
	margin: 0px -40px;
	border-bottom: 1px solid #ebeced;
}

.doc-aside__info-list {
	padding-top: 40px;
}

.doc-aside__info-list.doc-aside__info-list_solo {
	padding-top: 0;
}

.doc-aside__special__btn {
	@include states {
		display: block;
		font-size: 18px;
		color: #fff;
		line-height: 20px;
		position: relative;
		padding-right: 45px;
		background: #35bd9f;
		padding: 23px 70px 23px 33px;
		overflow: hidden;

		&:before {
			position: absolute;
			display: block;
			content: "%";
			color: #fff;
			font-size: 170px;
			left: -35px;
			transform: translateY(-50%);
			top: 50%;
			opacity: 0.15;
			@include font(ext);
		}

		&[aria-expanded=true] {
			.doc-aside__special__btn-icon {
				&:before {
					top: 55%;
					transform: translate(-50%, -50%) rotate(-45deg) scale(-1);
				}
			}
		}

		p {
			position: relative;
		}
	}

	@include linksHover();

}

.doc-aside__special__btn-icon {
	position: absolute;
	top: 50%;
	right: 25px;
	content: "";
	display: block;
	transform: translateY(-50%);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #fff;
	transition: all .3s ease-in-out;
}

.doc-aside__special__btn-icon::before {
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: .3s;
}

.doc-aside__special-item {
	border-bottom: 1px solid #ebeced;
	padding: 36px 26px 25px 33px;
	
	&:last-child {
		border-bottom: none;
	}
}

.doc-aside__special-item-text {
	margin-bottom: 9px;
}

.doc-aside__special-item-title {
	font-size: 16px;
	line-height: 20px;
	@include font(ext);
	color: #6e6e6e;
}

.doc-aside__special-item-desc {
	font-size: 14px;
	line-height: 20px;
	color: #6e6e6e;
}

.doc-aside__special-item-info {
	margin-bottom: 24px;
}

.doc-aside__special-item-price {
	display: inline-block;
	vertical-align: bottom;
	font-size: 24px;
	line-height: 30px;
	color: #6e6e6e;
	margin-right: 5px;
}

.doc-aside__special-item-info-desc {
	display: inline-block;
	vertical-align: bottom;
	color: #6e6e6e;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 1px;
}

.doc-aside__special-item-btn {
	display: block;
	width: 100%;
	height: 41px;
	line-height: 41px;
	border-radius: 20px;
	border: 1px solid #35bd9f;
	background: #fff;
	transition: .3s;
	@include font(semi);
	@include states {
		color: #35bd9f;
	}
	font-size: 16px;
	text-align: center;

	&:hover,
	&:active {
		color: #fff;
		background: #35bd9f;
	}
}

.doc-aside__special-say {
	background: #35bd9f;
	padding: 67px 10px 20px 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "%";
		top: 22px;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		border: 1px solid #fff;
		line-height: 36px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
	}
}

.doc-main__info-doc-prof-title {
	font-size: 14px;
	margin-bottom: 3px;
	@include font(semi);
}

.doc-main__info-doc-badge {
	font-size: 12px;
	width: 100%;
	text-align: center;
} 

.doc-main__info-doc-badges {
	margin-bottom: 7px;
}

.doc-main__info-doc {
	display: flex;
}

.doc-main__info-doc-left {
	flex: 0 0 165px;
	margin-right: 20px;
}

.doc-main__info-doc-img-container {
	position: relative;
	margin-bottom: 9px;
}

.doc-main__info-doc-img-container:before {
	position: absolute;
	width: 100%;
	height: 39.5%;
	display: block;
	content: "";
	opacity: 0.1;
	background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

.doc-main__info-doc-prof-item {
	display: inline;

	&:after {
		content: ",";
		margin-left: -4px;
		display: inline;
	}

	&:last-child {
		&:after {
			display: none;
		}
	}
}

.doc-main__info-doc-prof-link {
	@include states {
		text-decoration: underline;
		font-size: 14px;
		line-height: 24px;
		color: #6e6e6e;
	}
	@include linksHover();
}

.doctor-p__mid-abilities {
	padding-top: 10px;

	.doc-main__feedbacks-abilities-list {
		padding-top: 15px;	
	}
}

.doc-aside__docnear {
	padding: 30px 30px 60px 30px;
	background: #fff;
	margin-bottom: 30px;
}

.doc-aside__docnear-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 15px;
}

.doc-aside__docnear-owl {
	padding: 0 48px;

	.main-doctors__badge {
		top: 30px;
		left: 20px;
		font-size: 10px;
	}

	.main-doctors__bot {
		min-height: 64%;
		height: auto;
		padding: 20px 10px 20px 20px;
	}

	.main-doctors__item-title {
		font-size: 16px;
	}

	.main-doctors__item-desc {
		font-size: 14px;
		margin-bottom: 7px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars {
		padding-bottom: 0;
	}
	
	.best__c-b-r-stars-wrap {
		transform: scale(0.8);
		margin: 0 -9px 0 -10px;
	}

	.best__c-b-r-comments {
		font-size: 10px;
		border-bottom: none;
	}

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: auto;
		position: absolute;
		margin-top: 18px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}
}