/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.doc-main__info-attention {
		padding: 45px 50px;
	}

	.doc-main__feedbacks-top-title {
		padding-right: 0;
	}

	.doc-main__feedbacks-top .best__c-b-r-count {
		width: 86px;
		height: 86px;
		line-height: 84px;
		font-size: 38px;
		margin-right: 15px;
	}

	.doc-main__feedbacks-top .best__card-bot-rating {
		max-width: 260px;
		margin-right: 20px;
	}

	.doc-main__feedbacks-abilities-list {
		max-width: 270px;
	}

	.doc-main__feedbacks-abilities-name {
		font-size: 12px;
		max-width: 175px;
		margin-right: 10px;
	}

	.doc-main__feedbacks-abilities-progress {
		width: 50px;
		margin-right: 10px;
	}

	.doc-main__feedbacks-abilities-progress-count {
		font-size: 12px;
	}

	.doc-aside__mode-item-left {
		max-width: 50px;
	}

	.doc-aside__info-tel {
		padding: 10px;
	}

	.doc-aside__looked-item .best__c-b-r-count {
		font-size: 13px;
	}

	.doc-aside__looked-item .best__c-b-r-stars-wrap {
		transform: scale(0.6);
		margin: 0 -22px 0 -22px;
	}

	.doc-aside__looked-item .best__c-b-r-comments {
		font-size: 12px;
	}

	.doc-aside__enroll-btn {
		@include states {
			font-size: 12px;
		}
	}

	.doc-aside__info-top {
		padding: 5px 0px 25px 0px;
	}

	.doctor-p__mid-abilities .doc-main__feedbacks-abilities-name {
		font-size: 14px;
	}

	.doc-aside__special-item {
		padding: 36px 22px 25px 22px;
	}

	.doc-aside__special__btn {
		@include states {
			padding: 23px 65px 23px 22px;
		}
	}

	.doc-aside__special__btn-icon {
		right: 22px;
	}

	.doc-aside__docnear-owl {
		padding: 0 20px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.doctor-p__mid {
		.best__c-b-r-comments {
			margin-left: 0;
		}
	}

	.doc-aside__info-feed-btn {
		@include states {
			font-size: 13px;
		}
	}

	.doc-aside__enroll-btn {
		@include states {
			max-width: 100%;
		}
	}

	.doc-aside__looked-item {
		.best__card-bot-rating {
			display: block;
		}

		.best__c-b-r-comments {
			font-size: 14px;
			padding-top: 3px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.75);
			margin: 0 -5px 0 -10px;
		}

		.best__c-b-r-count {
			font-size: 16px;
		}
	}

	.doc-aside__looked-name {
		margin-bottom: 3px;
	}

	.doc-main__info-attention {
		padding: 30px 50px;
	}

	.doc-main__feedbacks-top .best__c-b-r-count {
		width: 106px;
		height: 106px;
		line-height: 104px;
		font-size: 48px;
		margin-right: 25px;
	}

	.doc-main__feedbacks-top .best__card-bot-rating {
		margin-right: 0;
		max-width: 100%;
		padding-left: 35px;
		width: 100%;
		margin-bottom: 20px;
	}

	.doc-main__feedbacks-abilities-list {
		max-width: 100%;
	}

	.doc-main__feedbacks-abilities-name {
		font-size: 14px;
		max-width: 202px;
		margin-right: 20px;
	}

	.doc-main__feedbacks-abilities-progress {
		width: 70px;
		margin-right: 20px;
	}

	.doc-main__feedbacks-abilities-progress-count {
		font-size: 14px;
	}

	.doc-main__feedbacks__item-top-left {
		flex-wrap: wrap;
		max-width: 235px;
	}

	.doc-main__feedbacks__item-title {
		margin-right: 0;
	}

	.doc-main__feedbacks__item-top {
		align-items: baseline;
	}

	.doc-main__materials {
		.news__big-item-top-title {
			font-size: 13px;
			padding: 30px;
		}

		.news__small-item-bot {
			padding: 15px 0 30px 0;
			height: auto;
		}

		.news__big-item-date {
			font-size: 15px;
		}

		.news__big-item-title {
			font-size: 17px;
		}

		.news__big-item-desc {
			font-size: 15px;
		}

		.doc-main__materials-item {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.doc-aside__info-telephone {
		font-size: 22px;
	}

	.doc-aside__info-site {
		@include states {
			font-size: 17px;
		}
	}

	.doc-aside__enroll-btn {
		@include states {
			font-size: 11px;
		}
	}

	.doctor-p__mid-abilities {
		.doc-main__feedbacks-abilities-list {
			max-width: 340px;
		}

		.best__card-bot-rating {
			margin-right: 0;
		}

		.doc-main__feedbacks-stars-desc {
			text-align: left;
		}
	}

	.doc-main__info-doc-left {
		margin: 0 auto 20px auto;
	}

	.doc-main__info-doc {
		flex-wrap: wrap;
	}

	.doc-aside__docnear {
		padding: 20px 20px 60px 20px;
	}

}

/* xs */
@media screen and (max-width: 767px) {
	.breadcrumbs-block {
		padding: 20px 0 30px 0;
	}

	.breadcrumbs-item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.doctor-p__mid-img-container {
		width: 67px;
		height: 67px;
		margin: 0 auto;
		margin-bottom: 25px;
		border-radius: 50%;
	}

	.doctor-p__badges {
		text-align: center;
	}

	.doctor-p__title {
		font-size: 21px;
		margin-top: 0;
		text-align: center;
	}

	.doctor-p__abilities-list {
		text-align: center;
	}

	.doctor-p__abilities-item {
		margin-bottom: 9px;
	}

	.doctor-p__abilities-list {
		margin-bottom: 13px;
	}

	.doctor-p__mid {
		.best__card-bot-rating {
			text-align: center;
		}
	}

	.doc-aside__say {
		padding: 30px 50px 30px 45px;
		margin: 0 -15px -1px -15px;

		&:before {
			left: 5px;
			width: 37px;
			height: 37px;
			background-size: contain;
		}
	}

	.doc-aside__enroll-btn {
		@include states {
			max-width: 275px;
			font-size: 14px;
			margin-left: 0;
		}
	}

	.doc-aside__info-telephone {
		font-size: 24px;
	}

	.doc-aside__info {
		margin: 0 -15px 0 -15px;
		padding: 30px 15px 50px 15px;
	}

	.doc-main__info {
		margin: 0 -15px 25px -15px;
		padding: 30px 15px;
	}

	.doc-main__info-attention {
		padding: 30px;
	}

	.doc-main__prices {
		margin: 0 -15px 20px -15px;
		padding: 30px 15px;
	}

	.doc-main__feedbacks {
		margin: 0 -15px 20px -15px;
		padding: 30px 15px;
	}

	.doc-main__feedbacks-top-title {
		line-height: 28px;
	}

	.doc-main__feedbacks-top .best__card-bot-rating {
		max-width: 290px;
		padding-left: 0;
		text-align: left;
	}

	.doc-main__feedbacks-top-abilities {
		text-align: center;
	}

	.doc-main__feedbacks-abilities-name {
		text-align: left;
	}

	.doc-main__feedbacks-abilities-progress-count {
		text-align: left;
		align-self: flex-end;
	}

	.doc-main__feedbacks-abilities-name {
		line-height: 20px;
		min-width: 140px;
		max-width: 202px;
		flex: 0 0;
	}

	.doctor-p__mid-abilities .doc-main__feedbacks-abilities-name {
		max-width: 202px;
		text-align: left;
	}

	.doc-main__feedbacks-abilities-item {
		text-align: left;
		display: flex;
	}

	.doc-main__feedbacks-abilities-list {
		display: inline-block;
		width: auto;
	}

	.doc-main__feedbacks-abilities-progress {
		align-self: flex-end;
		margin-bottom: 12px;
	}

	.doc-main__feedbacks__item-date {
		text-align: right;
	}

	.doc-main__materials {
		margin: 0 -15px 20px -15px;
		padding: 30px 15px;
	}

	.doc-main__materials .news__small-item-bot {
		padding: 15px 0 30px 0;
	}

	.doc-aside__looked-left {
		flex: 0 0 64px;
	}

	.doc-aside__looked-link {
		@include states {
			&:before {
				display: none;
			}

			display: flex;
		}
	}

	.doc-aside__looked-right {
		max-width: initial;
	}

	.doc-aside__looked-item .best__c-b-r-comments {
		display: block;
	}

	.doctor-p {
		margin-bottom: 0;
	}

	.doc-aside__info-top {
		padding: 15px 30px 45px 29px;
	}

	.doc-aside__looked-item .best__card-bot-rating {
		display: flex;
		flex-wrap: wrap;

		&::after {
			content: '';
			width: 100%;
		}
	}

	.doc-aside__looked-item .best__c-b-r-comments {
		order: 1;
	}

	.doc-aside__special {
		margin: 0 -15px;
	}

	.doc-aside__special__btn {
		@include states {
			padding-left: 15px;
			font-size: 16px;
		}
	}

	.doc-aside__special__btn-icon {
		right: 15px;
	}

	.doc-aside__special-say {
		font-size: 16px;
	}

	.doc-aside__special-item {
		padding-right: 15px;
		padding-left: 15px;
	}

	.doc-aside__docnear {
		padding: 30px 15px 60px 15px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.doc-aside__docnear-owl {
		padding: 0 40px;
	}
}
