.p-news {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.p-news__imgs-link {
	@include linksHover();
	display: block;
	position: relative;
}

.p-news__imgs-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 19px;
	@include font(bold);
	width: 100%;
	text-align: center;
}

.p-news__imgs-item {
	margin-bottom: 20px;
}

.p-news__imgs-list {
	padding-bottom: 10px;
	padding-top: 10px;
}

.p-news__item {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	border-top: 1px solid #ebeced;
}

.p-news__item-tag {
	font-size: 12px;
	color: #999999;
	@include font(bold);
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-right: 15px;
	display: inline-block;
}

.p-news__item-date {
	display: inline-block;
	margin-right: 15px;
	color: #999999;
	font-size: 12px;
}

.p-news__item-com {
	display: inline-block;
	position: relative;
	color: #999999;
	font-size: 12px;
	padding-left: 19px;

	&:before {
		@extend %icons;
		left: 0;
		width: 14px;
		height: 14px;
		background: image-url('svg-icons/comment-outline.svg') no-repeat center;
		background-size: contain;
	}
}

.p-news__item-top {
	margin-bottom: 10px;
}

.p-news__item-title {
	@include linksHover();

	@include states {
		font-size: 21px;
		@include font(bold);
		display: inline-block;
		margin-bottom: 9px;
	}
}

.p-news__item-text {
	font-size: 15px;
	line-height: 21px;
}

.p-news__item-img-container {
	width: 160px;
}

.p-news__item-left {
	margin-right: 20px;
}

.p-news__list {
	margin-bottom: 20px;
}

