/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-news__item {
		flex-direction: column;	
	}

	.p-news__item-left {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.p-news__item-img-container {
		width: 100%;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-news {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;
	}
}