.p-press__title {
	font-size: 34px;
	font-family: 'ProximaNova-ExtraBold';
	margin-bottom: 49px;
}

.p-press__list {
	margin-bottom: 70px;
}

.p-press__item {
	display: flex;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.p-press__item-left {
	flex: 0 0 165px;
	margin-right: 30px;
} 

.p-press__img-container {
	display: block;
	width: 100%;
	@include linksHover();
	overflow: hidden;
}

.p-press__date {
	font-size: 12px;
	color: #999999;
	margin-bottom: 9px; 
}

.p-press__item-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 12px;
}

.p-press__link {
	@include states {
		font-size: 16px;
		@include font(semi);
		display: inline-block;
		color: #FF9F00;
	}
	@include linksHover();
}


.p-press__sidebar {
	background: #fff;
}