/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-press__item-left {
		flex: 0 0 90px;
	} 

	.p-press__item {
		margin-bottom: 35px;
	}
}

/* xs */
@media screen and (max-width: 767px) {

}