.afterbefore {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.afterbefore__title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 30px;
}

.afterbefore__list {
	display: flex;
	flex-wrap: wrap;
}

.afterbefore__item {
	margin-bottom: 30px;
}

.afterbefore__link {
	@include states {
		display: block;
	}
	@include linksHover();
}

.afterbefore__img-container {
	margin-bottom: 15px;
}

.afterbefore__date {
	margin-bottom: 5px;
}

.afterbefore__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 7px;
}

.afterbefore__item-desc {
	font-size: 14px;
	color: $black40;
}