/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {

}

/* xs */
@media screen and (max-width: 767px) {
	.afterbefore {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;
	}
}