.clinic-p {
	background: #fff;
	margin-bottom: 30px;
}

.doctor-p__mid.clinic-p__mid {
	padding-bottom: 33px;
}

.clinic-p__mid .best__c-b-r-comments {
	@include states {
		color: rgba(0, 0, 0, 0.3);
		font-size: 14px;
	}
	@include linksHover();
}

.clinic-p {
	.doctor-p__mid-img-container {
		height: auto;
	}

	.doctor-p__mid-img-container:before {
		display: none;
	}

	.doctor-p__title {
		padding-right: 475px;
	}
}

.clinic-p__mid-cup-container {
	position: absolute;
	max-width: 325px;
	bottom: 0;
	right: 15px;
}

.clinic-p__mid-cup {
	width: 100%;
	padding-left: 52px;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		@extend %icons;
		left: 0;
		width: 40px;
		height: 40px;
		border: 1px solid #ebeced;
		border-radius: 50%;
		background: image-url('svg-icons/trophy-material-design-icons.svg') no-repeat center;
	}

	&.clinic-p__mid-cup_bear:before {
		background-image: image-url('svg-icons/bear.svg');
		background-size: 45%;
	}
}

.doc-main__article-img-wrap {
	margin-bottom: 20px;
	max-width: 200px;
	margin-right: 30px;
	float: left;
}

.doc-main__article-img-wrap-img-container {
	margin-bottom: 17px;
}

.doc-main__article-img-wrap-title {
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
	@include font(bold);
	line-height: 20px;
}

.doc-main__article .doc-main__article-img-wrap-desc {
	font-size: 14px;
	text-align: center;
	color: #b5b5b5;
	line-height: 17px;

	> p {
		margin-bottom: 0;
	}
}

.doc-main__net {
	padding: 35px 30px 30px 30px;
	background: #fff;
	margin-bottom: 20px;
}

.owl-doc-net,
.owl-near {
	.best__card-img-container:before {
		z-index: 1;
		height: 73%;
	}

	.best__card-badge-wrap {
		top: 12px;
		left: 14px;
		font-size: 10px;
		z-index: 1;

		.best__card-badge {
			font-size: 10px;
		}
	}

	.best__card-bot {
		padding: 15px 0 20px 0;
		height: auto;
	}

	.best__card-bot-title {
		height: auto;
		font-size: 14px;
	}

	.best__card-bot-desc {
		font-size: 12px;
		margin-bottom: 7px;
	}

	.owl-dots {
		height: 29px;
		top: -44px;
		right: 0;
		padding-top: 4px;
		bottom: initial;
		left: initial;
	}

	.owl-dot span {
		background: #ebeced;
	}

	.owl-dot.active span {
		background: #FF9F00;
		width: 8px;
		height: 8px;
	}

	.best__c-b-r-count {
		font-size: 12px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.56);
		margin: 0px -20px 0 -25px;
	}

	.best__c-b-r-comments {
		font-size: 12px;
	}
}

.doc-main__akcii {
	background: #fff;
	padding: 30px;
	margin-bottom: 20px;
}

.doc-main__akcii-title {
	margin-bottom: 15px;
	font-size: 24px;
	@include font(ext);
}

.doc-main__akcii-item {
	margin-bottom: 20px;
	display: flex;

	&:last-child {
		margin-bottom: 0;
	}
}

.doc-main__akcii-item-left {
	flex: 0 0 217px;
	margin-right: 20px;
}

.doc-main__akcii-date {
	font-size: 14px;
	color: $black25;
	margin-bottom: 10px;
}

.doc-main__akcii-name{
	font-size: 24px;
	@include font(ext);
	margin-bottom: 10px;
}

.doc-main__akcii-desc {
	line-height: 22px;
	font-size: 14px;
	color: #6e6e6e;
	margin-bottom: 20px;

	.link-def {
		@include states {
			font-size: 14px;
		}
	}
}

.doc-main__akcii-attention {
	padding-left: 15px;
	font-size: 14px;
	line-height: 22px;
	color: #b5b5b5;
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		content: "!";
		color: #f9a01b;
		font-size: 20px;
	}
}

.doc-main__akcii-btn {
	@include states {
		display: block;
		max-width: 214px; 
		padding: 13px 20px 13px 50px;
		position: relative;
		color: #fff;
		margin-bottom: 20px;
		font-size: 16px;

		&:before {
			@extend %icons;
			left: 21px;
			width: 16.6px;
			height: 15px;
			background: image-url("svg-icons/printer_white.svg") no-repeat center;
		}
	}
}

.doc-main__photo {
	background: #fff;
	padding: 30px 30px 65px 30px;
	margin-bottom: 20px;
}

.doc-main__photo-title {
	margin-bottom: 15px;
	font-size: 24px;
	@include font(ext);
}

.owl-main-photo {

	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -35px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}

	.owl-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 35px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left.svg') no-repeat center;
		width: 25px;
		height: 40px;
		background-size: contain;
	}

	.owl-next {
		position: absolute;
		background: image-url('svg-icons/slide-arrow-right.svg') no-repeat center;
		top: 50%;
		transform: translateY(-50%);
		right: 35px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		width: 25px;
		height: 40px;
		background-size: contain;
	}

}

.doc-main__feedbacks-select {
	display: inline-block;
	outline: none;
	margin-right: 20px; 
	color: black;
	border: 1px solid #ebeced;
	height: 25px;
	vertical-align: middle;
}

.doc-main__feedbacks-attention-inner {
	background: #f9f9f9;
	padding: 0 30px;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;

	&.open {
		max-height: 1500px;
	}
}

.doc-main__feedbacks-attention {
	border-bottom: 1px solid transparent;
	
	&.open {
		border-bottom: 1px solid #ebeced;
	}
}

.doc-main__feedbacks-attention-top {
	padding-bottom: 30px;
	border-bottom: 1px solid #ebeced;
}

.doc-main__feedbacks-attention-form {
	padding-top: 30px;
}

.doc-main__feedbacks-attention-top-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-right: 20px;
}

.doc-main__feedbacks-attention-mid {
	padding: 30px 0;
	border-bottom: 1px solid #ebeced;
}

.doc-main__feedbacks-attention-mid-title {
	font-size: 16px;
	margin-bottom: 20px;
	@include font(bold);
}

.doc-main__feedbacks-choose-name {
	max-width: 250px;
	width: 100%;
	vertical-align: middle;
	font-size: 15px;
	line-height: 33px;
	margin-right: 25px;
	display: inline-block;
	text-align: right;
}

.doc-main__feedbacks-choose-item {
	font-size: 0;

	.best__c-b-r-stars-wrap {
		margin-right: 20px;
		display: inline-block;
	}

	.best__c-b-r-stars {
		padding-bottom: 0;
	}

	.best__c-b-r-star {
		cursor: pointer;
		margin: 0 2px;
	}
}

.doc-main__star-input {
	display: none;
}

.doc-main__feedbacks-choose-desc {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #999999;
}

.doc-main__feedbacks-choose-desc-item {
	display: none;
}

.doc-main__star-radio {
	display: none;
}

.doc-main__star-radio-label {
	cursor: pointer;
	margin-right: 25px;
	vertical-align: middle;
}

.doc-main__star-radio-text {
	position: relative;
	font-size: 14px;
	padding-left: 26px;

	&:before {
		@extend %icons;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #c3c3c3;
		background: #fff;
		left: 0;
	}
}

.doc-main__star-radio:checked {
	+ .doc-main__star-radio-text:after {
		@extend %icons;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		left: 0;
		background: #35bd9f;
		margin: 0 4px;
	}
}

.doc-main__feedbacks-attention-bot {
	padding: 30px 0;
}

.doc-main__feedbacks-attention-bot-title {
	font-size: 16px;
	margin-bottom: 20px;
	@include font(bold);
}

.doc-main__feedbacks-textarea {
	width: 100%;
	text-align: left;
	border-radius: 3px;
	border: 1px solid #e3e4e5;
	background: #fff;
	resize: none;
	min-height: 120px;
	font-size: 16px;
	outline: none;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.doc-main__feedbacks-submit {
	text-transform: uppercase;
	width: 100%;
	display: inline-block;
	max-width: 130px;
	height: 42px;
	@include font(bold);
	letter-spacing: 1px;
	margin-right: 30px;
	line-height: 42px;
}

.doc-main__feedback-no {
	display: none;
	position: relative;

	&.open {
		display: inline-block;
	}

	&:before {
		@extend %icons;
		width: 20px;
		height: 21px;
		right: -26px;
		transform: translateY(-50%);
		background: image-url('svg-icons/arrow-up_orange.svg') no-repeat center;
	}
}

.doc-main__feedbacks-attention {
	&.open {
		.doc-main__feedback-yes {
			display: none;
		}

		.doc-main__feedback-no {
			display: inline-block;
		}
	}
}

.doc-main__doctors {
	padding: 35px 30px 30px 30px;
	background: #fff;
	margin-bottom: 20px;
}

.doc-main__doctors-title {
	@extend .doc-main__materials-title;
}

.owl-doc-doctors {
	.owl-dots {
		height: 29px;
		top: -44px;
		right: 0;
		padding-top: 4px;
		bottom: initial;
		left: initial;
	}

	.owl-dot span {
		background: #ebeced;
	}

	.owl-dot.active span {
		background: #FF9F00;
		width: 8px;
		height: 8px;
	}

	.main-doctors__badge {
		top: 30px;
		left: 20px;
		font-size: 10px;
	}

	.main-doctors__bot {
		min-height: 64%;
		height: auto;
		padding: 20px 10px 20px 20px;
	}

	.main-doctors__item-title {
		font-size: 16px;
	}

	.main-doctors__item-desc {
		font-size: 14px;
		margin-bottom: 7px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars {
		padding-bottom: 0;
	}
	
	.best__c-b-r-stars-wrap {
		transform: scale(0.8);
		margin: 0 -9px 0 -10px;
	}

	.best__c-b-r-comments {
		font-size: 10px;
		border-bottom: none;
	}

}

.doc-main__video {
	@extend .doc-main__doctors;
}

.doc-main__video-title {
	@extend .doc-main__doctors-title;
}

.doc-main__video {
	.owl-thumbs-video__img-container {
		overflow: hidden;
	}
}

.slick-video__item {
	height: 355px;
	position: relative;
}

.owl-doc-video-thumbs__item {
	cursor: pointer;
}

.owl-doc-video-thumbs {
	margin-top: 20px;
	padding: 0 25px;

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}
}

.doc-main__works {
	@extend .doc-main__photo;
}

.doc-main__works-title {
	@extend .doc-main__materials-title;
}

.doc-main__works-owl-wrap {
	font-size: 0;
	margin-bottom: 20px;
}

.doc-main__works-owl-title {
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
}

.doc-main__works-owl-img-container {
	display: inline-block;
	width: 50%;
	padding: 0 15px;
}

.doc-main__works-owl {
	padding: 0 25px;

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		left: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		right: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -35px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}
}

.doc-main__works-owl-link {
	display: block;
	@include linksHover();
}

.clinic-p__mid-special-content {
	display: none;
	position: absolute;
	left: 50%;
	top: 100%;
	margin-top: 11px;
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
	padding: 20px 15px;
	width: 320px;
	z-index: 3;
	transform: translateX(-50%);

	&:after {
		position: absolute;
		top: -8px;
		display: block;
		content: "";
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid rgba(0,0,0,0.8);
	}
}

.clinic-p__mid-special__badge {
	font-size: 11px;

	&.badge_green {
		background: #35bd9f;
	}
}

.clinic-p__mid-special {
	@include states {
		position: relative;
		display: inline-block;
		margin: 0 15px;
		vertical-align: middle;
	}
}

.clinic-p__mid-special-content-item {
	color: #fff;
	padding-left: 10px;
	position: relative;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 7px;
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		background: #fff;
		border-radius: 50%;
	}
}

.clinic-p__mid-special-content-title {
	font-size: 12px;
	line-height: 20px;	
}

.clinic-p__mid-special-content-desc {
	font-size: 12px;
	line-height: 20px;
	@include font(semi);
}

.doc-aside__video {
	margin-bottom: 30px;
}

.doc-aside__video-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.doc-aside__video-list {
	padding: 30px 20px;
	background: #fff;
	border: 1px solid #ebeced;
}

.doc-aside__video-item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.doc-aside__video-link {
	display: block;
	@include linksHover();
}

.doc-aside__video-img-container {
	position: relative;
	margin-bottom: 8px;

	&:before {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0,0,0,0.4);
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 48px;
		height: 48px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: image-url('svg-icons/play-button.svg') no-repeat;
		background-size: cover;
		z-index: 1;
		opacity: 1;
		transition: all .3s ease-in-out;
	}
}

.doc-aside__video-name {
	font-size: 14px;
	@include font(semi);
	margin-bottom: 4px;
}

.doc-aside__video-date {
	font-size: 14px;
	color: $black25;
}

.modal-video__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
	padding: 3vh 0;
}

.modal-video__dialog {
	position: relative;
	pointer-events: auto;
	width: 965px;
	max-width: 90%;
	margin: auto 0;
}

.modal-video__container {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.modal-video__close-btn {
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	top: 5px;
	right: -35px;

	@include linksHover();

	&:before,
	&:after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #fff;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

.doc-aside__near {
	padding: 25px 20px 25px 20px;
	background: #fff;
	margin-bottom: 30px;

	.best__card-badge-wrap {
		top: 12px;
		left: 14px;
		font-size: 10px;
		z-index: 1;

		.best__card-badge {
			font-size: 10px;
		}
	}

	.doc-main__materials-item .best__card-bot {
		padding: 20px 0 5px 0;
	}
}

.doc-main__akcii-owl-wrap {
	background: #fff;
	padding: 30px 30px 40px 30px;
	margin-bottom: 20px;
}

.owl-akcii {
	padding: 10px 35px 0;

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 36%;
		transform: translateY(-50%);
		left: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 36%;
		transform: translateY(-50%);
		right: 0;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
	}
}

.owl-akcii__link {
	@include linksHover();
	display: block;
	position: relative;
}

.owl-akcii__item-img-container {
	position: relative;
	margin-bottom: 20px;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 100px;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.owl-akcii__item-top-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	font-size: 13px;
	font-family: 'ProximaNova-Bold';
	letter-spacing: 1.4px;
	color: #fff;
	text-transform: uppercase;
}

.owl-akcii__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 8px;
}

.owl-akcii__item-time {
	font-size: 14px;
	color: #6e6e6e;
	position: relative;
	padding-left: 26px;

	&:before {
		@extend %icons;
		left: 0;
		width: 16px;
		height: 16px;
		background: image-url('svg-icons/alarm.svg') no-repeat;
		background-size: contain;
	}
}

.doc-aside__clinnear {
	padding: 30px 30px 20px 30px;
	background: #fff;
	margin-bottom: 30px;
}

.doc-aside__clinnear__title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 15px;
}

.doc-aside__clinnear-owl-item-img-container {
	margin-bottom: 30px;
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 58%;
		left: 0;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.doc-aside__clinnear-owl-item-title {
	@include linksHover();
	@include font(bold);
	font-size: 18px;
	margin-bottom: 10px;
	display: inline-block;
}

.doc-aside__clinnear-owl {
	.best__c-b-r-comments {
		@include states {
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.best__c-b-r-stars {
		padding-bottom: 0;
	}

	.owl-prev {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 85px;
		left: 15px;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
		transform: scale(1.4);
		transform-origin: left center;
	}

	.owl-next {
		&.disabled {
			display: none;
		}

		position: absolute;
		top: 85px;
		right: 15px;
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-right.svg') no-repeat center;
		width: 15px;
		height: 30px;
		background-size: contain;
		@include linksHover();
		transform: scale(1.4);
		transform-origin: right center;
	}

	.owl-dots {
		left: 0;
		bottom: auto;
		position: relative;
		margin-top: 15px;
		text-align: left;
		margin-left: -6px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}
}