.modal-special__info {
	margin-bottom: 30px;
	padding-top: 10px;

	.best__c-b-r-comments {
		border-bottom: none;
	}

	.best__c-b-r-count {
		font-size: 13px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.74);
		transform-origin: left center;
		margin-right: -20px;
	}

	.best__c-b-r-comments {
		@include states {
			font-size: 11px;
		}
	}
}

.modal-special__info-c {
	display: flex;
}

.modal-special__info-l {
	flex: 0 0 auto;
	margin-right: 11px;
}

.modal-special__info-r {
	flex: 1;
	min-width: 0;
}

.modal-special__info-img-container {
	width: 88px;
}

.modal-special__info-title {
	font-size: 15px;
	line-height: 16px;
	@include font(bold);
	margin-bottom: 5px;
}

.modal-special__info-cup {
	position: relative;
	font-size: 8px;
	padding-left: 22px;
	margin-bottom: 15px;
	max-width: 205px;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 15px;
		height: 15px;
		top: 0;
		left: 0;
		background: image-url('svg-icons/trophy-material-design-icons.svg') no-repeat;
		background-size: contain;
	}
}

.modal-special__info-rating {
	margin-bottom: 7px;
}

.modal-special__subtitle {
	font-size: 15px;
	@include font(ext);
	line-height: 16px;
	margin-bottom: 8px;
}

.modal-special__desc {
	font-size: 13px;
	@include font(semi);
	color: #9b9b9b;
	margin-bottom: 16px;
}

.input-def.modal-special__input {
	margin-bottom: 20px;
	padding: 0 11px;
}

.modal-special__check-wrap {
	margin-bottom: 25px;

	.reg-form-check-label-text {
		&:before {
			top: 0;
			transform: none;
		}

		&:after {
			top: 2px;
			transform: none;
		}
	}
}

.modal-special__sbm-btn {
	height: 42px;
	line-height: 42px;
	width: 100%;
	display: block;
	max-width: 290px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.3px;
	@include font(bold);
	margin-bottom: 15px;
}

.modal-special__attention {
	font-size: 11px;
}

.modal-auth__container.modal-special__container {
	padding-bottom: 12px;
}

.modal-special-thx {
	.modal-auth__dialog {
		width: 320px;
	}

	.modal-auth__container {
		padding: 43px 32px 30px 43px
	}
}

.modal-special-thx__title {
	font-size: 21px;
	@include font(bold);
	margin-bottom: 20px;
}

.modal-special-thx__desc {
	font-size: 14px;
	@include font(bold);
}