/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.clinic-p {
		.doctor-p__title {
			padding-right: 295px;
		}
	}

	.doc-main__feedbacks-choose-name {
		max-width: 100%;
		text-align: left;
	}

	.doc-main__feedbacks-choose-item {
		margin-bottom: 10px;

		.best__c-b-r-stars-wrap {
			margin-left: -2px;
		}
	}

	.slick-video__item {
		height: 305px;

		.owl-video__video {
			height: 300px;
		}
	}

	.clinic-p .doctor-p__title {
		padding-right: 340px;
	}

	.doc-aside__clinnear-owl {
		.owl-prev,
		.owl-next {
			top: 65px;
			transform: scale(1);
		}
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.clinic-p {
		.doctor-p__mid-img-container {
			width: 71%;
		}

		.doctor-p__title {
			margin-left: -30px;
		}

		.best__card-bot-rating {
			margin-left: -30px;
			margin-bottom: 35px;
		}

		.doctor-p__title {
			padding-right: 145px;
		}
	}

	.clinic-p__mid-cup-container {
		position: relative;
		bottom: auto;
		right: auto;
		margin-left: -30px;
	}

	.doc-main__article-img-wrap {
		float: none;
		margin: 0 auto 20px auto;
	}

	.doc-main__materials-item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		.best__card-badge-wrap {
			top: 20px;
			left: 20px;	
		}

		.best__card-bot {
			height: auto;
			padding: 20px 0 30px 0;
		}

		.best__card-bot-desc {
			font-size: 12px;
			margin-bottom: 10px;
		}

		.best__card-bot-rating {
			display: block;
		}
	}

	.doc-main__akcii-item-left {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	.doc-main__akcii-item {
		flex-wrap: wrap;
	}

	.doc-main__akcii-btn {
		margin: 0 auto 20px auto;
	}

	.owl-main-photo {
		.owl-next {
			right: 15px;
		}

		.owl-prev {
			left: 15px;
		}
	}

	.doc-main__feedbacks-attention-top {
		padding: 30px 0 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.doc-main__feedbacks-attention-top-text {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.doc-main__doctors__item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		.main-doctors__badge {
			top: 30px;
			left: 20px;
		}

		.main-doctors__item-title {
			font-size: 21px;
		}

		.main-doctors__item-desc {
			font-size: 13px;
		}

		.best__c-b-r-comments {
			margin-left: 0;
		}

		.main-doctors__img-container {
			max-height: 330px;
			overflow: hidden;
		}
	}

	.slick-video__item {
		height: 185px;

		.owl-video__video {
			height: 180px;
		}

		.owl-video__cover-title {
			font-size: 15px;
			max-width: 78%;
			padding: 0px 0 15px 15px;
		}

		.owl-video__cover-views {
			bottom: 15px;
			right: 15px;
		}

		.owl-video__cover:before {
			top: 50px;
			width: 55px;
			height: 55px;
		}
	}

	.owl-doc-video-thumbs {
		.owl-next {
			right: -10px;
		}

		.owl-prev {
			left: -10px;
		}
	}

	.doc-main__works-owl-wrap {
		margin: 0 -10px 20px -10px;
	}

	.doc-main__works-owl {
		padding: 0;

		.owl-prev,
		.owl-next {
			display: none;
		}
	}

	.doc-main__feedbacks-choose-desc {
		margin-top: 10px;
		width: 100%;
	}

	.doc-main__feedbacks-attention-bot {
		display: flex;
		flex-direction: column;
	}

	.doc-main__feedbacks-attention-bot-title {
		order: 1;
	}

	.doc-main__feedbacks-textarea {
		order: 2;
	}

	.doc-main__feedbacks-submit {
		@include states {
			order: 4;
		}
	}

	.doc-main__feedbacks-attention-bot{
		.reg-form-check-label {
			order: 3;
			margin-bottom: 15px;
		}
	}

	.owl-akcii__item {
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.modal-special__info {
		.best__c-b-r-comments {
			margin-left: 0;
		}
	}

	.doc-aside__clinnear {
		padding: 20px;

		.best__card-bot-rating {
			flex-wrap: wrap;
		}

		.best__c-b-r-comments {
			white-space: nowrap;
			margin-left: 0;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.doctor-p__mid.clinic-p__mid {
		padding-bottom: 20px;
	}

	.clinic-p {
		.doctor-p__mid-img-container {
			width: 67px;
		}

		.doctor-p__title,
		.clinic-p__mid-cup,
		.best__card-bot-rating,
		{
			margin-left: 0;
		}

		.clinic-p__mid-cup-container {
			max-width: 302px;
			margin: 0 auto;
		}

		.clinic-p__mid-cup {
			text-align: center;
			padding-left: 0;
			padding-top: 50px;


			&:before {
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}

		.best__card-bot-rating {
			margin-bottom: 20px;
		}

		.doctor-p__title {
			margin-bottom: 20px;
			padding-right: 0;
		}
	}

	.doc-main__net,
	.doc-main__akcii,
	.doc-main__doctors,
	.doc-main__akcii-owl-wrap {
		margin: 0 -15px 25px -15px;
		padding: 30px 15px;
	}

	.doc-main__photo {
		margin: 0 -15px 25px -15px;
		padding: 30px 15px 55px 15px;
	}

	.doc-main__doctors__item {
		.main-doctors__img {
			width: 100%;
		}

		.main-doctors__img-container {
			max-height: initial;
		}

		.main-doctors__bot .best__c-b-r-count {
			font-size: 14px;
		}

		.main-doctors__bot .best__c-b-r-stars-wrap {
			transform: scale(0.7);
			margin: 0 -15px 0 -17px;
		}

		.main-doctors__bot .best__c-b-r-comments {
			font-size: 10px;
		}
	}

	.doc-main__video {
		.slick-video__item {
			height: auto;

			.owl-video__video {
				height: auto;
			}

			.owl-video__cover:before {
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.doc-main__akcii-img {
		margin: 0 auto;
	}

	.best__card-img {
		width: 100%;
	}

	.doc-main__doctors__item {
		max-width: 350px;
		margin: 0 auto 20px auto;
	}

	.doc-main__feedbacks-attention-inner {
		padding: 0 20px;
	}

	.doc-main__feedbacks-choose-name {
		font-size: 14px;
	}

	.clinic-p {
		margin-bottom: 0;
	}

	.doc-aside__video-img-container {
		position: relative;
	}

	.xsvideo__owl-views {
		position: absolute;
		right: 20px;
		bottom: 12px;
		display: inline-block;
		color: #fff;
		font-size: 11px;
		padding-left: 25px;
		@include font(bold);

		&:before {
			display: block;
			content: "";
			position: absolute;
			transform: translateY(-50%);
			background: image-url('svg-icons/video_eye_white.svg') no-repeat;
			background-size: cover;
			left: 0;
			width: 19px;
			height: 10px;
			top: 45%;
		}
	}

	.doc-main__xsvideo-title {
		font-size: 24px;
		margin-bottom: 15px;
		@include font(ext);
	}

	.doc-main__xsvideo {
		background: #fff;
		padding: 25px 15px 30px 15px;
		margin: 0 -15px 30px -15px;

		.doc-main__xsvideo-owl {
			padding: 0 5px;
		}

		.owl-stage-outer {
			margin-right: -20px;
			margin-left: -20px;
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.doc-main__xsvideo .owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 6px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.doc-main__xsvideo .owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}

	.doc-main__xsvideo .owl-dots {
		top: -40px;
		left: auto;
		right: 0;
		height: 20px;
	}

	.modal-video__close-btn {
		right: 0;
		top: -30px;
	}

	.modal-video__dialog {
		width: 160vh;
	}

	.modal-video__wrap {
		padding-top: 30px;
	}
	
	.owl-near {
		.owl-item > div {
			width: 150px;
		}

		.owl-stage-outer {
			margin-right: -15px;
			margin-left: -15px;
			padding-right: 15px;
			padding-left: 15px;
		}

		.best__card-badge-wrap .best__card-badge {
			font-size: 8px;
		}

		.owl-doc-net .best__card-badge-wrap {
			top: 10px;
			left: 10px;
		}

		.owl-dots {
			display: none;
		}
	}

	.modal-auth__wrap.modal-special__wrap {
		padding: 0;
	}

	.modal-auth__dialog.modal-special__dialog {
		max-width: 100%;
		margin: 0;
	}

	.modal-special.modal {
		background: #fff;
	}

	.modal-auth__container.modal-special__container {
		padding: 45px 15px 10px 15px;
	}

	.modal-special__check-wrap {
		margin-bottom: 35px;
	}

	.modal-special__sbm-btn {
		margin-bottom: 30px;
	}

	.modal-special-thx {
		.modal-auth__wrap {
			padding: 0;
		}

		.modal-auth__dialog {
			max-width: 100%;
		}
	}

	.doc-aside__clinnear {
		padding: 30px 15px 20px 15px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.doc-aside__clinnear-owl {
		.owl-prev,
		.owl-next {
			top: 24.5vw;
			transform: scale(1.4);
		}
	}
}
