.doctor-p__mid.freeclin-p__mid {
	padding-bottom: 75px;
}

.freeclin-p__mid-comments {
	@include states {
		color: rgba(0, 0, 0, 0.3);
		font-size: 14px;
	}
	@include linksHover();
}

.freeclin-p{
	background: #fff;
	margin-bottom: 30px;
}

.doc-main__prices-name {
	.link-def {
		font-size: 12px;
	}
}

.freeclin-aside__zerro {
	width: 100%;
	background: #fff;
	margin-bottom: 30px;
	padding: 34px 60px;
}

.freeclin-p__bot-back-btn {
	@include states {
		margin-right: 45px;
		font-size: 16px;
		padding-left: 30px;
		position: relative;
		display: inline-block;
		color: #35bd9f;
	}
	@include linksHover();

	&:before {
		@extend %icons;
		left: 0;
		width: 20px;
		height: 21px;
		background: image-url('svg-icons/small-zoom_green.svg') no-repeat center;
	}
}

.doctor-p__bot.freeclin-p__bot {
	margin: 0 -5000px 0 -5000px;
}

.freeclin-p__bot_right {
	text-align: right;
}

.freeclin-p__bot_left {
	margin-right: -50px;
}

.doc-aside__say-solo {
	padding: 30px 50px 30px 70px;
	position: relative;
	border: 1px solid #ebeced;
	background: #fff;
	text-align: left;
	margin: 0 0 30px 0;

	&:before {
		@extend %icons;
		left: 15px;
		width: 49px;
		height: 48px;
		background: image-url('logo-smile.png') no-repeat center;
		transform: translateY(-50%) scale(0.75);
	}
	
}

.freeclin-p.freeclin-p_attention {
	background-image: linear-gradient(to left, #285b75, #000000);

	.doctor-p__title {
		color: #fff;
		padding-right: 575px;
		margin-bottom: 0;
	}

	.doctor-p__mid.freeclin-p__mid {
		padding-top: 70px;
		padding-bottom: 35px;
		position: relative;
	}

	.breadcrumbs-item:last-child {
		color: #fff;
	}

	.doctor-p__bot.freeclin-p__bot {
		background: #fff;
	}

	.attention__mid {
		position: absolute;
		max-width: 360px;
		color: #fff;
		right: 5000px;
		bottom: 30px;
		padding: 19px 28px 11px 28px;
		border: 1px solid #dd3737;
	}

	.attention-mid-text {
		font-size: 15px;
		text-align: center;
	}

	.attention-label {
		position: absolute;
		cursor: default;
		font-size: 12px;
		@include font(bold);
		letter-spacing: 1.3px;
		border-radius: 3px;
		background: #dd3737;
		color: #fff;
		text-transform: uppercase;
		padding: 4px 5px 3px 27px;
		left: 50%;
		top: -12px;
		transform: translateX(-50%);

		&:before {
			@extend %icons;
			left: 7px;
			background: image-url('svg-icons/warning_white.svg') no-repeat;
			background-size: cover;
			width: 17px;
			height: 15px;
		}
	}
}

.doc-main__free-doctors {
	padding: 30px;
	background: #fff;
	margin-bottom: 20px;
	padding-bottom: 45px;

	&.attention-border {
		border: 1px solid #dd3737;
		position: relative;

		.attention {
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.doc-main__feedbacks-more {
		@include states {
			margin-top: 45px;
		}
	}
}

.doc-main__free-doctors__title {
	font-size: 24px;
	margin-bottom: 20px;
	@include font(ext);
}

.doc-main__free-doctors-table {
	width: 100%;

	td {
		padding: 12px 0;
		vertical-align: middle;

		&:last-child {
			text-align: right;
		}
	}

	tr {
		border-bottom: 1px solid #ebeced;

		&:last-child {
			border-bottom: none;
		}
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.8);
		margin-right: 0;

		.best__c-b-r-stars:not(.best__c-b-r-stars__orange) {
			opacity: 0;
		}
	}

	.best__c-b-r-stars {
		padding-bottom: 1px;
	}

	.best__card-bot-rating {
		white-space: nowrap;
	}
}

.doc-main__free-doctors-doctor {
	font-size: 16px;
	@include font(semi);
}

.doc-main__free-doctors-prof {
	font-size: 12px;
	color: #6e6e6e;
}

.doc-main__free-doctors-feed {
	@include states {
		color: #6e6e6e;
		border-bottom: solid 1px #6e6e6e;
		display: inline-block;
		white-space: nowrap;
	}
	@include linksHover();
}

.attention-text {
	white-space: nowrap;
}

.freeclin-main__attention {
	margin-bottom: 30px;
	background-image: linear-gradient(to left, #224e64, #000000);
	position: relative;
	padding: 60px 50px 30px;

	&:before {
		position: absolute;
		display: block;
		content: "";
		left: 50%;
		top: 30px;
		width: 18px;
		height: 18px;
		background: url('../images/svg-icons/icon_proverka.svg');
		background-size: contain;
		transform: translate(-50%,0);
	}
}

.freeclin-main__attention-text {
	font-size: 21px;
	@include font(ext);
	text-align: center;
	margin-bottom: 14px;
	color: #fff;
}

.freeclin-main__attention-inputs-c {
	display: flex;
	width: 465px;
	max-width: 100%;
	margin: 0 auto;
}

.freeclin-main__attention-inputs-l {
	flex: 1;
}

.freeclin-main__attention-inputs-r {
	flex: 0 0 auto;
}

.freeclin-main__attention-input {
	background: #fff;
	outline: none;
	border: 1px solid transparent;
	border-radius: 3px 0 0 3px;
	height: 34px;
	width: 100%;
	padding: 0 12px;
	font-size: 13px;
	color: #131313;
	display: block;

	&::placeholder {
		color: rgba(#131313, 0.3);
	}
}

.freeclin-main__attention-submit {
	width: 100%;
	height: 34px;
	outline: none;
	line-height: 34px;
	display: block;
	width: 192px;
	@include states {
		border-radius: 0 3px 3px 0;
	}
	font-size: 12px;
	text-transform: uppercase;
	@include font(bold);
	letter-spacing: 0.5px;
}