/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.freeclin-p__bot_right {
		text-align: center;
	}

	.freeclin-p__bot-back-btn {
		@include states {
			margin-right: 0;
			font-size: 14px;
		}
	}

	.freeclin-p__bot_left {
		margin-right: 0;
	}

	.freeclin-p.freeclin-p_attention .doctor-p__title {
		padding-right: 385px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.freeclin-p.freeclin-p_attention .attention-mid-text {
		font-size: 13px;
	}

	.freeclin-p.freeclin-p_attention .attention__mid {
		max-width: 300px;
		padding: 19px 20px 11px 20px;
	}

	.freeclin-p.freeclin-p_attention .doctor-p__title {
		padding-right: 325px;
	}

	.doc-main__free-doctors-table {
		display: block;

		tbody {
			display: block;
		}

		tr {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 15px;
			padding-top: 15px;

			td {
				padding: 0;
			}

			td:nth-child(1) {
				flex: 100%;
			}

			td:nth-child(2) {
				flex: 100%;
			}

			td:nth-child(3) {
				margin-right: auto;
			}

			td:nth-child(4) {

			}
		}
	}

	.doc-main__free-doctors-doctor {
		margin-bottom: 3px;
	}

	.doc-main__free-doctors-prof {
		font-size: 14px;
		margin-bottom: 8px;
	}

	.doc-main__free-doctors .doc-main__feedbacks-more {
		@include states {
			margin-top: 35px;
		}
	}

	.freeclin-main__attention {
		padding: 60px 30px 30px;
	}

	.freeclin-main__attention-inputs-c {
		flex-wrap: wrap;
	}

	.freeclin-main__attention-inputs-l {
		flex: 0 0 auto;
		width: 100%;
		margin-bottom: 20px;
	}

	.freeclin-main__attention-inputs-r {
		flex: 0 0 auto;
		width: 100%;
	}

	.freeclin-main__attention-submit {
		width: 100%;
		@include states {
			border-radius: 3px;
		}
	}

	.freeclin-main__attention-input {
		border-radius: 3px;
	}

	.freeclin-main__attention-text {
		margin-bottom: 30px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.freeclin-p__mid {
		.doctor-p__title {
			@include font(bold);
		}
	}

	.doctor-p__mid.freeclin-p__mid {
		padding-bottom: 30px;
	}

	.freeclin-p__bot_left {
		margin-right: -15px;
	}

	.freeclin-p__back-container-xs {
		border-bottom: 1px solid #ebeced;
		padding: 0 1000px;
		margin: 0 -1000px;
		background: #fff;
	}

	.freeclin-p__back-btn-xs {
		@include states {
			height: 48px;
			line-height: 48px;
			border-right: 1px solid #ebeced;
			font-size: 16px;
			text-align: center;
			margin-right: -15px;
			display: block;
			
			span {
				position: relative;

				&:before {
					background: image-url('svg-icons/chevron-down_black.svg') no-repeat center;
					position: absolute;
					content: '';
					display: block;
					top: 50%;
					width: 20px;
					height: 21px;
					left: -28px;
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
		@include linksHover();
	}

	.freeclin-p {
		margin-bottom: 0;
	}

	.freeclin-main__attention {
		margin-top: 20px;
	}

	.freeclin-p.freeclin-p_attention .doctor-p__mid.freeclin-p__mid {
		padding-top: 60px;
	}

	.freeclin-p.freeclin-p_attention .doctor-p__title {
		padding-right: 0;
	}

	.freeclin-p.freeclin-p_attention .attention-label {
		white-space: nowrap;
	}

	.freeclin-p.freeclin-p_attention .attention__mid {
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
		top: auto;
		margin: 50px auto 20px auto;
	}

	.doc-aside__info.attention_border {
		margin: 30px 0;
		padding-right: 0;
		padding-left: 0;

		.doc-aside__info-list {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.doc-aside__info.attention_border .doc-aside__info-top {
		padding-top: 0;
	}

	.doc-main__free-doctors.attention-border {
		margin-top: 30px;
	}

	.freeclin-main__attention {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 20px;
		padding: 80px 20px 30px;
		background-image: linear-gradient(to top, #142F3C, #1D4356);

		&:before {
			top: 40px;
		}
	}

	.freeclin-main__attention-input {
		height: 42px;
		font-size: 16px;
	}

	.freeclin-main__attention-submit {
		line-height: 42px;
		height: 42px;
		font-size: 14px;
	}

	.freeclin-main__attention-text {
		br {
			display: none;
		}
	}
}