.p-journal__title {
	font-size: 34px;
	font-family: 'ProximaNova-ExtraBold';
	margin-bottom: 49px;
}

.p-journal__nav-list {
	margin-bottom: 22px;
	margin-right: -8px;
}

.p-journal__nav-item {
	margin-right: 5px;
	margin-bottom: 8px;
	display: inline-block;

	&.active {
		.p-journal__nav-link {
			@include states {
				border-color: #FF9F00;
				background: #FF9F00;
				color: #fff;
			}
		}
	}
}

.p-journal__nav-link {
	@include states {
		display: block;
		padding: 13px 14px;
		border-radius: 4px;
		background: transparent;
		border: solid 1px rgba(151, 151, 151, 0.33);
		color: #FF9F00;
		font-size: 16px;
		@include font(semi);
		text-align: center;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		border-color: #ff845f;
		background: #ff845f;
		color: #fff;
	}

	&:active {
		border-color: #e7653e;
		background: #e7653e;
		color: #fff;
	}
}

.p-journal__block {
	margin-bottom: 40px;
	display: flex;

	&:before,
	&:after {
		display: none;
	}
}

.p-journal__block-right {
	background: #fff;
	padding: 15px;
	border-radius: 4px;
	height: 100%;
}

.p-journal__bl-right-title {
	font-size: 24px;
	@include font(semi);
	padding: 22px 0;
	padding-top: 7px;
	text-align: center;
}

.p-journal__bl-right-desc {
	margin: 0 -15px 60px -15px;
	background: #FF9F00;
	text-align: center;
	font-size: 20px;
	@include font(semi);
	padding: 13px 0;
	color: #fff;
}

.p-journal__bl-right-img-container {
	text-align: center;
	overflow: hidden;
	margin-bottom: 16px;
}

.p-journal__bl-right-img {
	display: inline-block;
	max-width: 100%;

	&.notebook {
		max-width: 98px;
	}

	&.tablet {
		max-width: 50px;
	}
}

.p-journal__bl-right-link {
	@include states {
		display: inline-block;
		font-size: 14px;
		@include font(semi);
		text-align: center;
		padding: 0 25px;
		color: #FF9F00;
		margin-bottom: 45px;
		text-decoration: underline;
	}
	@include linksHover();
}

.p-journal__bl-right-apple {
	@include states {
		background: image-url('journals-img-apple.png') no-repeat;
		background-size: contain;
		width: 155px;
		height: 46px;
		display: block;
		margin: 0 auto;
		text-indent: -999999px;
		font-size: 0;
		color: transparent;
	}
	@include linksHover();
}

.p-journal__article-title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 17px;
}

.p-journal__article-desc {
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
	margin-bottom: 30px;
}

.p-journal__art-info-name {
	font-size: 16px;
	@include font(bold);
	margin-bottom: 3px; 
}

.p-journal__art-info-prof {
	font-size: 14px;
	color: #b5b5b5;
	margin-bottom: 17px;
}

.p-journal__art-info-link {
	@include states {
		font-size: 14px;
		@include font(semi);
		text-decoration: underline;
		color: #FF9F00;
	}
	@include linksHover();
}

.p-journal {
	padding-bottom: 70px;
}

.p-journal__bl-right-img-block {
	text-align: center;
}

.p-journal__block-img-container {
	overflow: hidden;
	position: relative;
}

.p-journal__block-img {
	position: absolute;
	top: 0;
	padding: 52px 45px;
}

.p-journal__block-img-device {
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}