/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.p-journal__block-img {
		padding: 38px 34px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-journal__title {
		font-size: 32px;
		margin-bottom: 20px;
	}

	.p-journal__nav-item {
		margin-right: 2px;
		margin-bottom: 5px;
	}

	.p-journal__nav-link {
		@include states {
			font-size: 12px;
			padding: 10px 13px;
		}
	}

	.p-journal__block {
		flex-wrap: wrap;
	}

	.p-journal__block-left {
		margin-bottom: 30px;
	}

	.p-journal__bl-right-link {
		@include states {
			padding: 0 65px;
		}
	}

	.p-journal__block-right {
		padding-bottom: 55px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-journal__nav-link {
		@include states {
			font-size: 11px;
			padding: 10px 10px;
		}
	}

	.p-journal__block-img {
		padding: 11% 9%;
	}
}