.article-p {
	background: #fff;
	padding: 0 30px 30px 30px;
	margin-bottom: 20px;
}

.doc-main__feedbacks-more.article-feedbacks-more {
	@include states {
		max-width: 380px;
	}
}

.article-feedbacks {
	background: #fff;
	padding: 30px;
	padding-bottom: 80px;
	margin-bottom: 45px;
}

.article-p__top-comments {
	padding-left: 18px;
	position: relative;
	font-size: 13px;
	@include font(bold);
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #35bd9f;

	&:before {
		@extend %icons;
		width: 14px;
		height: 13px;
		left: 0;
		background: image-url("svg-icons/comment_green.svg") no-repeat center;
	}
}

.article-p__full-img-container {
	margin-bottom: 20px;
}

.article-p__desc_semi p a {
	@include linksHover();
	@include states {
		text-decoration: underline;
	}
}

.article-p__article {
	margin-bottom: 40px;

	h1 {
		font-size: 34px;
		@include font(ext);
		margin-bottom: 20px;
	}

	h2 {
		font-size: 24px;
		@include font(ext);
		margin-bottom: 20px;
	}

	h3 {
		font-size: 18px;
		@include font(bold);
		margin-bottom: 20px;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 24px;
		color: #6e6e6e;
	}

	b, strong {
		@include font(bold);
		font-weight: normal;
	}
}

.article-p__content-item {
	margin-bottom: 10px;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__content-link {
	@include states {
		display: inline;
		border-bottom: 1px dashed #6e6e6e;
	}
	@include linksHover();
}

.article-p__content-inner-list {
	padding-left: 28px;
	padding-top: 15px;
}

.article-p__content-inner-item {
	margin-bottom: 10px;
	font-size: 14px;
	color: #b5b5b5;
	line-height: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__content-inner-link {
	@include states {
		display: inline;
		border-bottom: 1px dashed #b5b5b5;
	}
	@include linksHover();
}

.article-p__desc_semi {
	font-size: 18px;
	line-height: 28px;
	@include font(semi);
	margin-bottom: 20px;

	b, strong {
		font-weight: normal;
	}
}

.article-p__advantages {
	margin-bottom: 20px;
}

.article-p__advantages-col {
	width: 100%;
	max-width: 275px;
	margin-right: 25px;
	display: inline-block;
	vertical-align: top;
}

.article-p__article {
	.article-p__pluses-list {
		padding-left: 0;
		margin-bottom: 0;

		.article-p__pluses-item {
			position: relative;
			padding-left: 30px;
			font-size: 16px;
			margin-bottom: 25px;
			line-height: normal;
			color: black;

			&:before {
				position: absolute;
				display: block;
				content: "";
				top: -1px;
				width: 20px;
				height: 20px;
				background: #35bd9f;
				border-radius: 50%;
				left: 0;
				content: "+";
				text-align: center;
				line-height: 20px;
				color: #fff;
				font-size: 18px;
			}
		}
	}

	.article-p__minuses-list {
		padding-left: 0;
		margin-bottom: 0;

		.article-p__minuses-item {
			position: relative;
			padding-left: 30px;
			font-size: 16px;
			margin-bottom: 25px;
			line-height: normal;
			color: black;

			&:before {
				@extend %icons;
				width: 20px;
				height: 20px;
				background: #FF9F00;
				border-radius: 50%;
				left: 0;
				content: "-";
				text-align: center;
				line-height: 16px;
				color: #fff;
				font-size: 28px;
			}
		}
	}
}

.article-p__solo-comment {
	padding: 30px;
	background: #fbfaf9;
}

.article-p__solo-comment-top {
	display: flex;
	margin-bottom: 20px;
}

.article-p__solo-comment-img {
	width: 100%;
}

.article-p__solo-comment-left {
	width: 64px;
	flex: 0 0 64px;
	margin-right: 20px;
}

.article-p__solo-comment-img-container {
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.article-p__solo-comment-right {
	padding-top: 8px;
}

.article-p__solo-comment-name {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 9px;
}

.article-p__solo-comment-desc {
	font-size: 14px;
	color: #6e6e6e;
}

.article-p__solo-comment-desc-link {
	@include states {
		color: #101010;
		text-decoration: underline;
	}
	@include linksHover();
}

.article-p__solo-comment-text {
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.article-p__solo-comment {
	margin-bottom: 40px;
}

.article-p__recommend-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 30px;
}

.article-p__recommend-item {
	display: flex;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__recommend-item-left {
	flex: 0 0 80px;
	width: 80px;
	margin-right: 20px;
}

.article-p__recommend-item-img {
	width: 100%;
}

.article-p__recommend-item-right {
	padding-top: 2px;
}

.article-p__recommend-item-name {
	@include states {
		display: block;
		font-size: 16px;
		@include font(bold);
		text-decoration: underline;
		margin-bottom: 8px; 
	}
	@include linksHover();
}

.article-p__recommend-item-location {
	font-size: 13px;
	margin-bottom: 10px;
	color: $black40;
	position: relative;
	padding-left: 17px;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 0px;
		width: 8px;
		height: 12px;
		opacity: 0.4;
		background: image-url('svg-icons/map-ico.svg') no-repeat center;
		background-size: contain;
	}
}

.article-p__recommend-item {
	.best__c-b-r-comments {
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 14px;
		}
		@include linksHover();
	}
}

.article-p__recommend {
	margin-bottom: 40px;
}

.article-p__recommend-list,
.article-p__noimgrec-list {
	margin-bottom: 20px;
}

.article-p__recommend-search-btn {
	@include linksHover();
	@include states {
		display: inline-block;
		font-size: 16px;
		color: #FF9F00;
		text-decoration: underline;
		position: relative;
		margin-left: 30px;

		&:before {
			@extend %icons;
			left: -30px;
			width: 20px;
			height: 21px;
			background: image-url("svg-icons/small-zoom_red.svg") no-repeat center;
		}
	}
}

.article-p__recommend-btn-wrap {
	text-align: center;
}

.article-p__noimgrec-item {
	display: flex;
	margin-bottom: 15px;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: flex-end;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__noimgrec-item-left {
	width: 445px;
	flex: 0 0 445px;
	margin-right: 25px;
	padding-top: 19px;
}

.article-p__noimgrec-title {
	@include linksHover();
	@include states {
		font-size: 18px;
		display: inline-block;
		text-decoration: underline;
		@include font(bold);
	}
}

.article-p__noimgrec-item-right {
	text-align: right;
}

.article-p__noimgrec-location {
	font-size: 13px;
	display: inline-block;
	margin-bottom: 6px;
	color: rgba(0, 0, 0, 0.4);
	position: relative;
	padding-left: 17px;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 0px;
		width: 8px;
		height: 12px;
		opacity: 0.4;
		background: image-url('svg-icons/map-ico.svg') no-repeat center;
		background-size: contain;
	}
}

.article-p__noimgrec-item {
	.best__c-b-r-count {
		font-size: 16px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.9);
		margin: 0 0px 0 -5px;
	}

	.best__c-b-r-comments {
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 14px;
		}
		@include linksHover();
	}
}

.article-p__noimgrec {
	margin-bottom: 40px;
}

.article-p__desc {
	p {
		a {
			@include states {
				color: #fc5734;
			}
		}
	}
}

.article-p__img-description {
	margin-top: 10px;
	font-size: 13px;
	color: #6e6e6e;
}

.article-p__article {
	.table-block {
		table {
			width: 100%;
			margin-bottom: 20px;
			table-layout: fixed;

			+ table {
				margin-top: -20px;
			}

			th {
				padding: 3px 8px;
				height: 50px;
				font-size: 13px;
				background: #f0f0f0;
				@include font(bold);
				color: rgba(#000000, 0.6);
				text-align: center;
			}

			td {
				font-size: 15px;
				color: #6e6e6e;
				padding: 3px 8px;
				height: 50px;
				text-align: center;
				border-bottom: 1px solid rgba(#000000, 0.1);

				&:first-child {
					border-bottom-color: #FF9F00;
					@include font(bold);
					text-align: left;
					font-size: 16px;
					color: black;
				}
			}

			th,
			td {
				border-right: 1px solid rgba(#000000, 0.1);

				&:first-child {
					width: 200px;
					border-right: none;
				}

				&:last-child {
					border-right: none;
				}
			}
		}
	}

	.article-p__desc_border {
		padding: 18px 25px 18px 35px;
		border-left: 4px solid #FF9F00;
		margin: 25px 0;
		color: #131313;
		font-size: 18px;
		line-height: 27px;
		@include font(semi);

		p {
			color: #131313;
			font-size: 18px;
			line-height: 27px;
			@include font(semi);
		}

		b {
			@include font(ext);
		}
	}

	.article-p__attention_with-ico {
		padding: 27px 30px 27px 40px;
		border: 2px solid #FF9F00;
		margin: 20px 0;
		color: #131313;
		font-size: 18px;
		line-height: 27px;
		@include font(semi);
		position: relative;

		p {
			color: #131313;
			font-size: 18px;
			line-height: 27px;
			@include font(semi);

			&:last-child {
				margin-bottom: 0;
			}
		}

		b {
			@include font(ext);
		}

		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 30px;
			height: 30px;
			background: url('../images/svg-icons/article-attention.svg') no-repeat;
			background-size: contain;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
		}
	}
}

.article-p__table-desc {
	display: flex;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__table-desc-left {
	flex: 0 0 auto;
	width: 15px;
	margin-right: 10px;
	text-align: right;
	font-size: 18px;
}

.article-p__table-desc-right {
	font-size: 13px;
	color: #6e6e6e;
}

.article-p__article.credit {
	padding-right: 137px;

	.article-p__img-container {
		position: absolute;
		top: 0;
		right: -137px;
		width: 123px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}

.article-p__article-credit-wrap {
	position: relative;
}

.article-p__article {
	.article-p__credit-list {
		padding-left: 0;
		margin-bottom: 0;

		.article-p__credit-item {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 16px;
			padding-left: 0;
			color: #FF9F00;

			&:before {
				display: none;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


.article-p__credit-link {
	display: inline-block;
	@include linksHover();
}

.article-p__desc_attention {
	margin-bottom: 20px;
	padding: 30px;
	border: 2px solid #FF9F00;

	p {
		font-size: 18px;
		line-height: 27px;
	}
}

.article-p__article {
	.article-p__list-title {
		margin-bottom: 10px;
	}

	.article-p__content-list {
		padding-left: 0;
		margin-bottom: 0;

		.article-p__content-item {
			position: relative;
			padding-left: 0;
			line-height: normal;
			margin-bottom: 10px;
			font-size: 14px;
			color: #6e6e6e;
			line-height: 20px;

			.article-p__content-inner-list {
				padding-left: 28px;

				.article-p__content-inner-item {
					position: relative;
					padding-left: 0;
					line-height: normal;
					color: #b5b5b5;
					font-size: 14px;
					line-height: 20px;
					
					&:before {
						display: none;
					}
				}
			}

			&:before {
				display: none;
			}
		}
	}
}

.article-p__article {
	ul {
		padding-left: 10px;
		margin-bottom: 20px;

		li {
			position: relative;
			padding-left: 20px;
			font-size: 16px;
			line-height: 24px;
			color: #6e6e6e;

			&:before {
				display: inline-block;
				position: absolute;
				left: 0;
				content: "•";
			}
		}

		ul {
			margin-bottom: 0;

			li {
				&:before {
					content: "⁃";
				}
			}
		}
	}

	ol {
		counter-reset: item;
		padding-left: 10px;
		margin-bottom: 20px;
		list-style: none;

		li {
			position: relative;
			padding-left: 20px;
			font-size: 16px;
			line-height: 24px;
			color: #6e6e6e;

			&:before {
				display: inline-block;
				position: absolute;
				left: 0;
				content: counters(item, ".") "."; 
				counter-increment: item;
			}
		}

		ol {
			margin-bottom: 0;

			li {
				padding-left: 40px;
			}

			ol {
				li {
					padding-left: 60px;
				}
			}
		}
	}
}

.article-p__desc_border-title {
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #FF9F00;
	font-size: 18px;
	line-height: 28px;
	@include font(semi);
}

.article-p__desc_border {
	ol {
		counter-reset: boritem;
		padding-left: 10px;
		list-style: none;

		li {
			position: relative;
			padding-left: 20px;
			@include font(semi);
			font-size: 16px;
			line-height: 24px;

			&:before {
				display: inline-block;
				position: absolute;
				left: 0;
				content: counters(boritem, ".") "."; 
				counter-increment: boritem;
			}
		}

		ol {
			li {
				padding-left: 40px;
			}

			ol {
				li {
					padding-left: 60px;
				}
			}
		}
	}
}

.article-p__interview-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.article-p__interview-link {
	display: block;
	@include linksHover();
	position: relative;
}

.article-p__interview-img-container {
	position: relative;

	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100px;
		top: 0;
		left: 0;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 0;
		left: 0;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
		transform: rotate(-180deg);
	}
}

.article-p__interview-img {
	width: 100%;
}

.article-p__interview-badges {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px;
}

.article-p__interview-badge {
	font-size: 12px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	@include font(bold);
}

.article-p__interview-name {
	position: absolute;
	padding: 30px;
	font-size: 18px;
	@include font(bold);
	width: 100%;
	color: #fff;
	bottom: 0;
	left: 0;
}

.article-p__interview {
	margin-bottom: 40px;
}

.article-p__row {
	display: flex;
	justify-content: space-between;
}

.article-p__column_22p {
	width: 22%;

	img {
		width: 100%;
	}
}

.article-p__article .article-p__article-illu-list {
	padding-left: 0;
	margin-bottom: 0;
}

.article-p__article .article-p__article-illu-item {
	position: relative;
	padding-left: 0;
	font-size: 16px;
	line-height: 24px;
	color: black;

	&:before {
		display: none;
	}
}

.article-p__article-illu-item {
	display: flex;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	img {
		width: 100%;
	}
}

.article-p__article-illu-left {
	flex: 0 0 140px;
	width: 140px;
	margin-right: 20px;
}

.article-p__article-illu-right {
	h3 {
		font-size: 18px;
		line-height: 28px;
		@include font(bold);
		margin-bottom: 0;
	}

	p {
		font-size: 17px;
		line-height: 28px;
	}
}

.article-p__works {
	margin-bottom: 80px;

	.doc-main__works-owl {
		padding: 0;

		.owl-prev {
			left: 20px;
			background: image-url('svg-icons/slide-arrow-left.svg') no-repeat center;
			background-size: contain;
		}

		.owl-next {
			right: 20px;
			background: image-url('svg-icons/slide-arrow-right.svg') no-repeat center;
			background-size: contain;
		}
	}

	.doc-main__works-owl-wrap {
		margin: 0 -15px 20px -15px;
	}
}

.article-p__recdoc-item {
	margin-bottom: 20px;
	display: flex;

	&:last-child {
		margin-bottom: 0;
	}
}

.article-p__recdoc-left {
	width: 55px;
	margin-right: 20px;
	flex: 0 0 55px;
}

.article-p__recdoc-img-container {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.article-p__recdoc-img {
	width: 100%;
}

.article-p__recdoc-right {
	padding-top: 7px;

	.best__card-bot-rating {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 6px;
	}

	.best__c-b-r-count {
		font-size: 16px;
	}

	.best__c-b-r-stars-wrap {
		transform: scale(0.9);
		margin: 0 0px 0 -5px;
	}
}

.article-p__recdoc-name {
	@include states {
		display: inline-block;
		font-size: 16px;
		@include font(bold);
		text-decoration: underline;
		vertical-align: middle;
		margin-right: 20px;
		margin-bottom: 6px;
	}
	@include linksHover();
}

.article-p__recdoc-desc {
	font-size: 13px;
	color: #6e6e6e;
}

.article-p__recdoc-list {
	margin-bottom: 20px;
}

.article-p__recdoc {
	margin-bottom: 40px;
}

.article-p__video {
	height: 375px;
	position: relative;
	margin-bottom: 40px;
}

.article-p__readalso {
	margin-bottom: 40px;

	h2 {
		font-size: 24px;
		@include font(bold);
		margin-bottom: 20px;
	}
}

.article-p__readalso-list {
	.article-p__readalso-item {
		position: relative;
		padding: 5px 10px;
		background: #f8f9fa;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.article-p__readalso-comments {
	display: inline-block;
	position: relative;
	color: #999999;
	font-size: 12px;
	padding-left: 19px;

	&:before {
		@extend %icons;
		left: 0;
		width: 14px;
		height: 14px;
		background: image-url('svg-icons/comment-outline.svg') no-repeat center;
		background-size: contain;
	}
}

.article-p__readalso-link {
	@include linksHover();
	@include states {
		margin-right: 20px;
		display: inline;
		text-decoration: underline;
	}
}

.article-feedbacks__list {
	margin-bottom: 20px;
}

.article-feedbacks__item {
	border-bottom: 1px solid #ebeced;

	&:last-child {
		border: none;
	}
}

.article-feedbacks__question,
.article-feedbacks__answer {
	padding: 20px 0;
	@include clearfix();
}

.article-feedbacks__answer {
	border-top: 1px solid #ebeced;
}

.article-feedbacks__item-top {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.article-feedbacks__item-top-left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.article-feedbacks__item-top-right {
	margin-left: auto;
	min-width: 120px;
	text-align: right;
}

.article-feedbacks__item-title {
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	margin-right: 20px;
}

.article-feedbacks__item-date {
	font-size: 14px;
	color: #b5b5b5;
}

.doc-main__feedbacks__item-text {
	margin-bottom: 10px;
	font-size: 16px;
	color: #6e6e6e;
}

.doc-main__feedbacks__item-reply-btn {
	display: block;
	font-size: 14px;
	position: relative;
	color: rgba(0, 0, 0, 0.4);
	padding-left: 22px;
	float: right;
	text-align: right;
	@include linksHover();
	&:before {
		left: 0;
		width: 16px;
		height: 16px;
		background: image-url('/svg-icons/reply-material-design-icons.svg') no-repeat center;
	}
}

.article-feedbacks-title {
	font-size: 24px;
	line-height: 32px;
	@include font(ext);
	margin-bottom: 20px;
}

.article-feedbacks__auth {
	border: 1px solid #ebeced;
	text-align: center;
	padding: 35px 0;
	font-size: 16px;
	line-height: 27px;
}

.article-feedbacks__auth-link {
	@include linksHover();
	@include states {
		display: inline-block;
		color: #FF9F00;
		@include font(bold);
	}
}

.article-feedbacks__answer {
	display: flex;
}

.article-feedbacks__answer-left {
	width: 65px;
	flex: 0 0 65px;
	margin-right: 20px;
}

.article-feedbacks__answer-img-container {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.article-feedbacks__answer-img {
	width: 100%;
}

.article-feedbacks__answer-clinic {
	@include linksHover();
	@include states {
		display: inline-block;
		font-size: 14px;
		color: #b5b5b5;
		text-decoration: underline;
	}
}

.article-feedbacks__answer-location {
	font-size: 14px;
	display: inline-block;
	color: #b5b5b5;
	position: relative;
	padding-left: 13px;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 0px;
		width: 8px;
		height: 12px;
		opacity: 0.3;
		background: image-url('svg-icons/map-ico.svg') no-repeat center;
		background-size: contain;
	}
}

.article-feedbacks__answer {
	.article-feedbacks__item-title {
		margin-bottom: 5px;
		margin-right: 0;
	}
}

.article-feedbacks__answer-text {
	font-size: 16px;
	line-height: 23px;
	color: #6e6e6e;
	margin-bottom: 10px;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.sidebar-rating {
	width: 100%;
	height: 260px;
}

.sidebar-rating__link {
	@include states {
		display: block;
		height: 100%;
		position: relative;
		background: #35bd9f;
	}
	@include linksHover();
}

.sidebar-rating-top {
	padding: 30px;
	font-size: 13px;
	letter-spacing: 1.4px;
	@include font(bold);
	text-transform: uppercase;
	color: #fff;
}

.sidebar-rating-bot {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 30px;
}

.sidebar-rating-star{
	width: 17px;
	height: 16px;
	background: image-url('svg-icons/star_white.svg') no-repeat center;
	margin-bottom: 12px;
}

.sidebar-rating-desc {
	font-size: 18px;
	color: #fff;
	@include font(ext);
}

.sidebar-rating {
	margin-bottom: 30px;
}

.sidebar-akcii {
	margin-bottom: 30px;
}

.sidebar-akcii__item {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar-akcii__link {
	@include states {
		display: block;
		position: relative;
		overflow: hidden;
	}
	@include linksHover();
}

.sidebar-best__title {
	font-size: 28px;
	@include font(ext);
	margin-bottom: 22px;
}

.best__card-badge {
	font-size: 12px;
}

.sidebar-best {
	.best__card-bot {
		padding: 20px 30px 30px 30px;
	}

	.best__card-bot-title {
		height: auto;
	}

	.best__card-bot-desc {
		margin-bottom: 50px;
	}
}

.sidebar-magazine {
	width: 100%;
	height: 260px;
	margin-bottom: 30px;
}

.sidebar-magazine__link {
	@include states {
		display: block;
		height: 100%;
		position: relative;
		background: #FF9F00;
	}

	@include linksHover();
}

.sidebar-magazine__bot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px;
}

.sidebar-magazine__title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 10px;
	max-width: 230px;
	color: #fff;
}

.sidebar-magazine__desc {
	font-size: 14px;
	max-width: 230px;
	color: #fff;
}

.sidebar-magazine__basket {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	background: image-url('svg-icons/basket_white.svg') no-repeat center;
	background-size: contain;
}

.sidebar-blago__link {
	@include states {
		display: block;
		background: #fff;
		padding: 30px;
		@include font(ext);
		font-size: 24px;
	}
	@include linksHover();
}

.sidebar-blago {
	margin-bottom: 20px;
}

.sidebar-info-bg {
	margin-bottom: 20px;
	width: 100%;
	height: 260px;
}

.sidebar-info-bg__link {
	@include states {
		display: block;
		background: #7c5dcb;
		height: 100%;
		font-size: 24px;
		@include font(ext);
		color: #fff;
		position: relative;
	}
	@include linksHover();
}

.sidebar-info__bot {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	max-width: 295px;
}

.sidebar-imginfo {
	margin-bottom: 20px;
}

.sidebar-imginfo__link {
	@include states {
		position: relative;
		display: block;
		width: 100%;
	}
	@include linksHover();
}

.sidebar-imginfo__img {
	width: 100%;
}

.sidebar-imginfo__bot {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 24px;
	color: #fff;
	@include font(ext);
	padding: 30px;
}

.sidebar-interrogation {
	margin-bottom: 20px;
}

.sidebar-interrogation__title {
	margin-bottom: 22px;
	font-size: 28px;
	@include font(ext);
}

.sidebar-interrogation__form {
	padding: 30px;
	background: #fff;
}

.sidebar-interrogation__form-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 20px;
}

.sidebar-interrogation {
	.doc-main__star-radio-label {
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
		float: left;
		clear: left;
	}

	.doc-main__star-radio-text {
		font-size: 13px;

		&:before {
			width: 12px;
			height: 12px;
		}
	}

	.doc-main__star-radio:checked + .doc-main__star-radio-text:after {
		width: 6px;
		height: 6px;
		margin: 0 3px;
	}
}

.form-radio-group {
	@include clearfix();
}

.sidebar-interrogation__sbm {
	border: none;
	outline: none;
	width: 100%;
	max-width: 175px;
	padding: 13px 0;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	@include font(bold);
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.07);
	border-radius: 3px;
	background: #fff;
	color: $black40;
	transition: all .3s ease-in-out;

	&:hover {
		border-color: #FF9F00;
	}

	&:active {
		color: #fff;
		background: #e7653e;
		border-color: #e7653e;
	}
}

.article-feedbacks__answer {
	.article-feedbacks__item-top {
		margin-bottom: 0;
	}
}

.article-feedbacks__answer-mid {
	margin-bottom: 10px;
}

.doc-aside__enroll-btn.interview-enroll-link {
	@include states {
		max-width: 250px;
		background: #35bd9f;
	}

	&:hover {
		background: #3acead;
	}

	&:active {
		background: #3F8777;
	}
}

.article-p__feedlink {
	margin-bottom: 30px;
}

.article-p__feedlink-text {
	font-size: 16px;
	line-height: 24px;
}

.article-p__feedlink-link {
	@include linksHover();
	@include states {
		text-decoration: underline;
		color: #FF9F00;
	}
}

.article-feedbacks__form-wrap {
	margin-bottom: 40px;
}

.article-p__dc-wrap {
	margin-top: -10px;
	margin-bottom: 25px;
}

.article-p__dc-wrap-date {
	display: inline-block;
	margin-right: 20px;
	color: #999999;
	font-size: 12px;
}

.article-p__dc-wrap-com {
	display: inline-block;
	position: relative;
	color: #999999;
	font-size: 12px;
	padding-left: 19px;

	&:before {
		@extend %icons;
		left: 0;
		width: 14px;
		height: 14px;
		background: image-url('svg-icons/comment-outline.svg') no-repeat center;
		background-size: contain;
	}
}

.art-photos__list {
	padding-top: 20px;
}

.art-photos__desc {
	padding: 17px;
	min-height: 100px;
	background: #fff;
	font-size: 16px;
	@include font(bold);
}

.art-photos {
	margin-bottom: 45px;
}

.main-doc2__list.art-main-doc2__list {
	padding-top: 38px;
}

.art-prices {
	margin-bottom: 30px;
}

.main-doctors.art-main-doctors {
	margin-bottom: 60px;
}

.magazine.art-magazine {
	margin-bottom: 80px;
}

.article-bot-content {
	margin-right: -15px;
	margin-left: -15px;
}

.sidebar-solo-img {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
}

.sidebar-akcii__title,
.sidebar-doctors__title {
	font-size: 28px;
	@include font(ext);
	margin-bottom: 20px;
	padding-bottom: 22px;
	border-bottom: 1px solid #d8d8d8;
}

.sidebar-doctors__item {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar-doctors {
	margin-bottom: 30px;
}

.sidebar-doctors__list {
	background: #fff;
	padding: 40px 45px;
}

.sidebar-docinter {
	margin-bottom: 30px;
}

.sidebar-docinter__item {
	margin-bottom: 30px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar-docinter__link {
	@include states {
		display: block;
	}
	@include linksHover();
}

.sidebar-docinter__item-top {
	position: absolute;
	height: 60px;
	width: 100%;
	top: 0;
	padding: 20px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		opacity: 0.45;
		background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
	}
}

.sidebar-docinter__item-top-title {
	position: relative;
	color: #fff;
	font-size: 13px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
	float: left;
	text-transform: uppercase;
}

.sidebar-docinter__item-top-comments {
	float: right;
	font-size: 13px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
	padding-left: 20px;
	position: relative;
	color: #fff;

	&:before {
		@extend %icons;
		background: image-url('svg-icons/comment_white.svg') no-repeat;
		width: 14px;
		height: 13px;
		left: 0;
	}
}

.sidebar-docinter__item-bot {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	height: 225px;
	width: 100%;
	bottom: 0;
	padding: 0 20px 20px 20px;
}

.sidebar-docinter__item-bot-badge {
	align-self: baseline;
	margin-bottom: 15px;
	position: relative;
	font-size: 12px;
	padding: 1px 5px;
}

.sidebar-docinter__item-bot-name {
	color: #fff;
	font-size: 14px;
	font-family: 'ProximaNova-Semibold';
	margin-bottom: 10px;
	position: relative;
}

.sidebar-docinter__item-bot-desc {
	font-size: 24px;
	color: #fff;
	font-family: 'ProximaNova-ExtraBold';
	position: relative;
}

.article-flex-row {
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none;
	}

	> .col-sm-5.col-md-4 {
		display: flex;
		flex: 1;
		flex-direction: column;

		.doc-content__sidebar.offers-content__sidebar {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}
}

.sidebar-banners .sidebar-solo-img {
	margin-bottom: 0;
}

.sidebar__enroll {
	margin-bottom: 20px;
	border: 12px solid #FF9F00;
	background: #fff;
	padding: 35px 0 50px 0;
}

.sidebar__enroll-title {
	text-align: center;
	font-size: 24px;
	@include font(ext);
}

.sidebar__enroll-subtitle {
	text-align: center;
	font-size: 15px;
	@include font(bold);
	margin-bottom: 15px;
}

.sidebar__enroll-img-container {
	position: relative;
	margin-bottom: 22px;

	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), #4a5354);
		opacity: 0.8;
	}
}

.sidebar__enroll-img-info {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 5px;
}

.sidebar__enroll-img-title {
	font-size: 15px;
	color: #fff;
	@include font(bold);
	text-align: center;
}

.sidebar__enroll-img-subtitle {
	font-size: 10px;
	color: #fff;
	text-align: center;
}

.sidebar__enroll-form {
	padding: 0 45px;
}

.sidebar__enroll-input {
	outline: none;
	border: 1px solid #dddddd;
	height: 42px;
	border-radius: 3px;
	margin-bottom: 9px;
	font-size: 16px;
	padding: 0 25px;
	width: 100%;

	&::-webkit-input-placeholder {
		color: #9b9b9b;
	}
}

.sidebar__enroll-form-info {
	font-size: 7px;
	margin-top: -5px;
	color: rgba(#000000, 0.4);
	margin-bottom: 10px;
}

.sidebar__enroll-label {
	cursor: pointer;
	@include linksHover();
}

.sidebar__enroll-checkbox {
	display: none;
}

.sidebar__enroll-checkbox-text {
	font-size: 10px;
	padding-left: 22px;
	position: relative;
	color: #9b9b9b;
	padding-top: 2px;
}

.sidebar__enroll-checkbox-text:before {
	@extend %icons;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.sidebar__enroll-checkbox-text:after {
	@extend %icons;
	left: 3px;
	display: none;
	background: image-url("svg-icons/check_green.svg") no-repeat center;
	width: 11px;
	height: 12px;
	background-size: contain;
}

.sidebar__enroll-checkbox:checked + .sidebar__enroll-checkbox-text:after {
	display: block;
}

.sidebar__enroll-sbm-btn {
	@include states {
		height: 45px;
		width: 100%;
		line-height: 45px;
		font-size: 15px;
		margin-top: 30px;
		text-transform: uppercase;
		@include font(bold);
	}
}

.modal-thanks__title {
	font-size: 21px;
	@include font(bold);
	margin-bottom: 15px;
}

.modal-thanks__desc {
	font-size: 16px;
}

.doctorwork {
	margin-bottom: 20px;
	border: 12px solid #2097af;
	background: #fff;
}

.doctorwork-title {
	padding: 23px 5px;
	text-align: center;
	font-size: 30px;
	@include font(ext);
}

.doctorwork-item-block {
	.img-container {
		position: relative;
	}

	.search-block__item-right {
		border-top: 1px solid #dfdbdb;
	}
}

.owl-doctorwork {
	.owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: 5px;
	}

	.owl-dot span {
		width: 8px;
		height: 8px;
		margin: 5px 4px;
		background: #ebeced;
		display: block;
		border-radius: 50%;
	}

	.owl-dot.active span {
		width: 8px;
		height: 8px;
		background: #FF9F00;
	}
}

.article-p__author-top {
	margin-bottom: 35px;
	margin-top: 35px;
	display: flex;
}

.article-p__author-top-l {
	flex: 0 0 auto;
	padding-left: 20px;
	margin-right: 20px;
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 18px;
		height: 14px;
		left: 0;
		top: 0;
		background: image-url('svg-icons/quote-gray.svg') no-repeat;
		background-size: contain; 
	}
}

.article-p__author-top-l-img-container {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.article-p__author-top-r {
	padding-top: 5px;
}

.article-p__author-top-r-title {
	font-size: 14px;
	@include font(ext);
	margin-bottom: 4px;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.article-p__author-top-r-title-name {
	margin-right: 12px;
}

.article-p__author-top-r-title-prof {
	font-size: 11px;
	color: #999999;
	position: relative;
	padding-left: 12px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		height: 8px;
		background: #999999;
		width: 1px;
	}
}

.article-p__author-top-r-desc {
	font-size: 12px;
	line-height: 14px;
	color: #999999;
	max-width: 409px;

	b {
		@include font(ext);
		font-weight: normal;
	}
}