/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.article-p__advantages-col {
		max-width: 245px;
	}

	.article-p__noimgrec-item-left {
		width: 325px;
		flex: 0 0 325px;
	}

	.article-p__video {
		height: auto;

		.owl-video__cover {
			position: relative;
		}

		.owl-video__video {
			height: auto;
		}

		.owl-video__item {
			height: 310px;
		}
	}

	.sidebar__enroll-form {
		padding: 0 15px;
	}

	.sidebar__enroll {
		padding: 25px 0 25px 0;
	}

	.sidebar__enroll-title {
		font-size: 22px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.article-p__video .owl-video__item {
		height: 190px;
	}

	.article-p__advantages-col {
		margin-right: 0;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.article-p__recommend-item {
		.best__card-bot-rating {
			flex-wrap: wrap;
		}

		.best__c-b-r-comments {
			width: 100%;
			margin-top: 5px;
		}
	}

	.article-p__noimgrec-item {
		flex-wrap: wrap;

		.best__c-b-r-comments {
			margin-left: 0;
		}
	}

	.article-p__noimgrec-item-left {
		width: 100%;
		flex: 0 0 100%;
		margin-right: 0;
		padding-top: 0;
		margin-bottom: 10px;
	}

	.article-p__noimgrec-item-right {
		text-align: left;
		width: 100%;
	}

	.article-p__img-description {
		margin-bottom: 20px;
	}

	.article-p__article.credit {
		padding-right: 0;

		.article-p__img-container {
			position: relative;
			right: initial;
			margin: 0 auto 20px auto;
			width: 123px;
		}
	}

	.article-p__credit-item {
		margin-bottom: 10px;
	}

	.col_margin-bottom {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.article-p__row-owl-item {
		padding: 0 90px;
	}

	.article-p__row-owl {
		.owl-prev {
			position: absolute;
			top: 40%;
			transform: translateY(-50%);
			left: 0;
			font-size: 0;
			text-indent: -99999px;
			background: image-url('svg-icons/slide-arrow-left_black.svg') no-repeat center;
			width: 15px;
			height: 30px;
			background-size: contain;
			@include linksHover();
		}

		.owl-next {
			position: absolute;
			top: 40%;
			transform: translateY(-50%);
			right: 0;
			font-size: 0;
			text-indent: -99999px;
			background: image-url('svg-icons/slide-arrow-right_black.svg') no-repeat center;
			width: 15px;
			height: 30px;
			background-size: contain;
			@include linksHover();
		}
	}

	.article-p__article-illu-item {
		flex-direction: column;
	}

	.article-p__article-illu-left {
		width: 100%;
		flex: 0 0 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.article-p__video {
		.owl-video__cover-title {
			padding: 0 0 20px 20px;
			font-size: 18px;
			max-width: 205px;
		}

		.owl-video__cover-views {
			right: 20px;
			bottom: 20px;
		}

		.owl-video__cover:before {
			width: 70px;
			height: 70px;
			top: 50%;
			transform: translate(-50%, -50%);
			background-size: contain;
		}
	}

	.article-feedbacks__answer-mid {
		display: flex;
		flex-direction: column;

		.article-feedbacks__answer-location {
			order: 1;
			margin-bottom: 5px;
		}

		.article-feedbacks__answer-clinic {
			order: 2;
		}
	}

	.sidebar-best {
		.best__card-badge-wrap {
			top: 30px;
			left: 30px;
		}

		.best__card-badge {
			float: none;
			margin-right: 10px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}

		.best__card-bot {
			height: auto;
		}

		.best__card-bot-title {
			font-size: 17px;
		}

		.best__card-bot-rating {
			display: block;
		}

		.best__c-b-r-count {
			font-size: 18px;
		}

		.best__c-b-r-stars-wrap {
			transform: none;
			margin: 0 5px 0 0;
		}

		.best__c-b-r-comments {
			font-size: 14px;
		}
	}

	.art-photos {
		.afterbefore__item-badge-after, .afterbefore__item-badge-before {
			left: 10px;
			bottom: 10px;
			font-size: 9px;
		}
	}

	.sidebar__enroll-title {
		font-size: 20px;
	}

	.sidebar__enroll-subtitle {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.sidebar__enroll-img-title {
		font-size: 12.5px;
	}

	.sidebar__enroll-img-subtitle {
		font-size: 8px;
	}

	.sidebar__enroll-img-container {
		margin-bottom: 20px;
	}

	.sidebar__enroll-input {
		font-size: 14px;
	}

	.sidebar__enroll-form-info {
		font-size: 6.6px;
	}

	.sidebar__enroll-checkbox-text {
		font-size: 9px;
	}

	.sidebar__enroll-sbm-btn {
		@include states {
			height: 39px;
			line-height: 39px;
			font-size: 15px;
		}
	}

	.article-p__article {
		.table-block {
			table {
				display: block;

				thead {
					display: none;
				}

				tbody {
					display: block;

					tr {
						display: block;
						width: 100%;

						td {
							display: flex;
							min-height: 50px;
							height: auto;
							align-items: center;
							border-right: none;
							padding: 8px 8px;

							&:first-child {
								width: 100%;
								background: #f0f0f0;
							}

							&:not(:first-child) {
								padding: 0;
								position: relative;

								&:before {
									display: block;
									content: "";
									position: absolute;
									left: 50%;
									transform: translateX(-50%);
									height: 100%;
									width: 1px;
									background: rgba(0, 0, 0, 0.1);
								}

								> span {
									&:first-child {
										flex: 0 0 auto;
										width: 50%;
										font-size: 13px;
										padding: 8px 8px;
										@include font(bold);
										color: rgba(#000000, 0.6);
										text-align: left;
									}

									&:last-child {
										flex: 0 0 auto;
										width: 50%;
										padding: 8px 8px 8px 25px;
										text-align: left;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.article-p__author-top {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.article-p__author-top-l {
		margin-right: 10px;
	}

	.article-p__author-top-r {
		padding-top: 0;
	}

	.article-p__author-top-r-title {
		font-size: 12px;
		margin-bottom: 7px;
		flex-direction: column;
	}

	.article-p__author-top-r-title-name  {
		margin-right: 0;
		margin-bottom: 2px;
	}

	.article-p__author-top-r-title-prof {
		margin-bottom: 0;
		padding-left: 0;

		&:before {
			display: none;
		}
	}

	.article-p__author-top-r-desc {
		font-size: 10px;
		line-height: 13px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.article-p__video .owl-video__item {
		height: auto;
	}

	.article-p {
		margin: 0 -15px 20px -15px;
		padding: 0 15px 30px 15px;
	}

	.article-p__row-owl-item {
		padding: 0 50px;
	}

	.article-p__video .owl-video__cover-views {
		right: 15px;
		bottom: 15px;
	}

	.article-p__video .owl-video__cover-title {
		padding: 0px 0 15px 15px;
		font-size: 13px;
		max-width: 205px;
	}

	.article-p__video .owl-video__cover:before {
		width: 50px;
		height: 50px;
	}

	.article-feedbacks {
		margin: 0 -15px 20px -15px;
		padding: 30px 15px;
	}

	.article-feedbacks__auth {
		padding: 25px 10px;
	}

	.article-feedbacks__item-top-right {
		min-width: 90px;
	}

	.offers-content__sidebar {
		padding-top: 0;
	}

	.sidebar-blago__link {
		@include states {
			font-size: 22px;
		}
	}

	.sidebar-info__bot {
		width: 100%;
		max-width: initial;
	}

	.sidebar-info-bg__link {
		@include states {
			font-size: 22px;
		}
	}

	.sidebar-imginfo__bot {
		font-size: 22px;
	}

	.freeclin-aside__zerro-img {
		margin: 0 auto;
	}

	.article-bot-content {
		background: #fff;
		margin-top: -40px;
		padding-bottom: 1px;
	}

	.art-photos__item {
		margin-bottom: 20px;
	}

	.magazine.art-magazine {
		margin-bottom: 36px;
	}

	.doc-main__feedbacks-more.article-feedbacks-more:hover, 
	.doc-main__feedbacks-more.article-feedbacks-more:active, 
	.doc-main__feedbacks-more.article-feedbacks-more:focus {
		max-width: 250px;
	}

	.article-flex-row {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		> div:nth-child(2) {
			order: 3;
		}
	}

	.sidebar-doctors__list {
		padding: 30px 25px;
	}

	.art-photos {
		.afterbefore__item-badge-after, .afterbefore__item-badge-before {
			left: 18px;
			bottom: 18px;
			font-size: 12px;
		}
	}

	.sidebar__enroll-form {
		padding: 0 20px;
	}

	.sidebar__enroll {
		padding: 35px 0 35px 0;
		border: 10px solid #FF9F00;
	}

	.modal-thanks__title {
		font-size: 20px;
	}

	.modal-thanks__desc {
		font-size: 14px;
	}

	.article-p__article {
		.article-p__attention_with-ico {
			padding: 35px 20px 23px 20px;

			&:before {
				left: 50%;
				top: 0;
			}
		}

		.article-p__desc_border {
			padding: 18px 0 18px 20px;
		}
	}

}