.offers {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.offers__title {
	font-size: 34px;
	@include font(ext);
	margin-bottom: 17px;
}

.offers__desc{
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
	margin-bottom: 40px;
}

.offers__nav-list {
	font-size: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 20px;
}

.offers__nav-item {
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
	@include font(bold);
	margin-bottom: 10px;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		color: #FF9F00;
	}
}

.offers__nav-link {
	@include linksHover();
	display: block;
}

.offers__list {
	&:before,
	&:after {
		display: none;
	}

	display: flex;
	flex-wrap: wrap;
}

.offers__item {
	margin-bottom: 30px;
	background: #fff;
}

.offers__link {
	position: relative;
	display: block;
	@include linksHover();
}

.offers__item-img-container {
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 100px;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.offers__item-img {
	width: 100%;
}

.offers__item-top-title {
	position: absolute;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1.3px;
	@include font(bold);
	text-transform: uppercase;
	top: 0;
	left: 0;
	padding: 20px;
}

.offers__item-bot {
	padding: 20px 0 0 0;
}

.offers__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
}

.offers__item-date {
	position: relative;
	font-size: 14px;
	color: #6e6e6e;
	padding-left: 26px;

	&:before {
		@extend %icons;
		left: 0;
		background: image-url('svg-icons/alarm.svg') no-repeat center;
		width: 16px;
		background-size: contain;
		height: 16px;
	}
}

.offers-content__main,
.offers-content__sidebar {
	padding-top: 35px;
	height: 100%;
}

.seealso {
	margin-bottom: 22px;
}

.seealso__title {
	font-size: 28px;
	@include font(ext);
	margin-bottom: 22px;
}

.seealso__item {
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}
}

.seealso__list {
	margin-bottom: 22px;
}

.seealso__link {
	display: block;
	@include linksHover();
	background: #fff;
	padding: 30px;
}

.seealso__item-tag {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	margin-bottom: 25px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
}

.seealso__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 14px;
}

.seealso__item-comments {
	font-size: 13px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
	padding-left: 20px;
	position: relative;
	color: #35bd9f;

	&:before {
		@extend %icons;
		background: image-url('svg-icons/comment_green.svg') no-repeat;
		width: 14px;
		height: 13px;
		left: 0;
	}
}

.p-video__list {
	.afterbefore__img-container {
		position: relative;

		&:before{
			display: block;
			content: "";
			position: absolute;
			width: 100px;
			height: 100px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: image-url('svg-icons/play-button.svg') no-repeat;
			z-index: 1;
		}
	}
}

.offers2__cards-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -21px -42px;

	&:before,
	&:after {
		display: none;
	}
}

.offers2__cards-item {
	padding: 0 21px;
	margin-bottom: 42px;

	&.offers2__cards-item_free .offers2__cards-link {
		background: image-url('svg-icons/free-bg.svg') no-repeat top right;
		background-size: cover;
	}

	&.offers2__cards-item_percent .offers2__cards-link {
		background: #de4b0d;
	}

	&.offers2__cards-item_newprice .offers2__cards-link {
		background: #ff9f00;
	}

	&.offers2__cards-item_gift .offers2__cards-link {
		background: image-url('svg-icons/gift-bg.svg') no-repeat top left;
		background-size: cover;
	}
}

.offers2__cards-link {
	display: flex;
	@include linksHover();
}

.offers2__cards-item-c {
	display: flex;
	flex-direction: column;
	min-height: 342px;
	padding: 27px 27px 20px;
}

.offers2__cards-item-top {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 38px;
}

.offers2__cards-item-top-r {
	margin-left: auto;
	font-size: 11.7px;
	color: #fff;
	@include font(bold);
	text-transform: uppercase;
}

.offers2__cards-item-mid-bigtext {
	font-size: 135px;
	color: #fff;
	@include font(bold);

	span {
		font-size: 72px;
	}
}

.offers2__cards-item-bot {
	margin-top: auto;
	font-size: 18px;
	line-height: normal;
	color: #fff;
	@include font(bold);
}

.offers2__cards-item-newprice {
	font-size: 55.3px;
	@include font(ext);
	color: #fff;
	margin-top: 15px;
	margin-bottom: -10px;
}

.offers2__cards-item-oldprice {
	font-size: 32.4px;
	@include font(bold);
	color: #fff;
	position: relative;
	display: inline-block;

	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		height: 1.8px;
		background: #000;
	}
}