/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.offers2__cards-item-mid-bigtext {
		font-size: 104px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.offers-content__sidebar {
		.news__big-item-top-title {
			font-size: 13px;
			padding: 30px;
		}

		.news__small-item-bot {
			height: auto;
			padding: 20px 30px 30px 30px;
			padding-top: 15px;
		}

		.news__big-item-date {
			font-size: 13px;
			margin-bottom: 10px;
		}

		.news__big-item-title {
			font-size: 18px;
		}

		.news__big-item-desc {
			font-size: 14px;
		}
	}

	.offers2__cards-item-c {
		min-height: 360px;
	}

	.offers2__cards-item-mid-bigtext {
		font-size: 135px;
	}

	.offers2__cards-list {
		margin-bottom: -2px;
	}

	.offers2__cards-item {
		margin-bottom: 2px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.offers-content__main {
		padding-top: 0;
	}

	.offers {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;

		.breadcrumbs-block {
			padding-bottom: 0px;
		}
	}

	.offers2__cards-list {
		justify-content: center;
	}

	.offers2__cards-item {
		max-width: 355px;
	}

	.offers2__cards-item-c {
		min-height: 340px;
	}
}

@media screen and (max-width: 480px) {
	.offers2__cards-item {
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		max-width: calc(100% + 30px);
	}

	.offers2__cards-item-c {
		min-height: 107vw;
	}
}