* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

label {
	margin-bottom: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	color: #131313;
	display: table;
	line-height: normal;
	background-color: #f8f9fa;
	@include font(reg);
}

.img-container {
	max-width: 100%;
}

.img-responsive {
	max-width: inherit;
	width: 100%;
}

.main {
	height: auto;
	overflow: hidden;
}

.footer {
	height: 1px;
	display: table-row;
}

.col-centered {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.btn-def,
.btn-def:focus {
	outline: none;
	border: none;
	cursor: pointer;
	background: #FF9F00;
	color: #fff;
	transition: all .3s ease-in-out;
	border-radius: 3px;
}

.btn-def {
	@include linksHover();
}


.btn_trans,
.btn_trans:focus {
	outline: none;
	border: solid 1px #FF9F00;
	cursor: pointer;
	background: #fff;
	color: #FF9F00;
	transition: all .3s ease-in-out;
	border-radius: 3px;
}

.btn_trans:hover {
	border-color: #FF9F00;
	color: #fff;
	background: #FF9F00;
}

.link-def {
	@include states {
		font-size: 14px;
		color: #FF9F00;
		@include font(semi);
		border-bottom: solid 1px #FF9F00;
		cursor: pointer;
	}

	@include linksHover();
}

article p a {
	@include linksHover();
	@include states {
		text-decoration: underline;
	}
}

%badge {
	padding: 5px 6px 4px 6px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	@include font(bold);
	letter-spacing: 1.3px;
	display: inline-block;

	b {
		font-weight: normal;
	}
}

.badge_orange {
	@extend %badge;
	background: #FF9F00;
}

.badge_green {
	@extend %badge;
	background: #35bd9f;
}

.badge_green_real {
	@extend %badge;
	background: #35bd9f;
}

.badge_pink {
	@extend %badge;
	background: #e14f69;
}

.badge_fiol {
	@extend %badge;
	background: #713d9e;
}

.badge_kid {
	@extend %badge;
	background: #e36c82;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
	margin-bottom: 30px;
}

.sticky:before,
.sticky:after {
	content: '';
	display: table;
}

.main-sticky {
	overflow: visible;
}

.input-def {
	outline: none;
	background: #ebeced;
	width: 100%;
	display: block;
	border-radius: 3px;
	height: 42px;
	padding: 11px 25px;
	font-size: 16px;
	margin-bottom: 25px;
	border: 1px solid transparent;
}

.visibility_hidden {
	visibility: hidden;
}

.fixed {
	position: fixed;
}

.body-overflow {
	overflow: hidden;
	position: relative;

	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
	}
}

.table-responsive {
	border: none;
}

.doctor-p__bot.fixed-nav-panel {
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;	
	margin: 0 !important;
	background: #fff;
	padding: 20px 0 0 0;

	.doctor-p__bot__container {
		margin: 0 auto;
	}
}

.owl-carousel .owl-item img {
	-webkit-transform-style: initial;
}

@media screen and (max-width: 767px) {
	.owl-carousel {
		-ms-touch-action: pan-y;
		touch-action: pan-y;
	}
}

span[data-toggle="modal"] {
	cursor: pointer;
}

.f-ext {
	@include font(ext);
}