$black15 : rgba(0,0,0,0.15);
$black20 : rgba(0,0,0,0.20);
$black25 : rgba(0,0,0,0.25);
$black30 : rgba(0,0,0,0.30);
$black35 : rgba(0,0,0,0.35);
$black40 : rgba(0,0,0,0.40);
$black50 : rgba(0,0,0,0.50);
$black90 : rgba(0,0,0,0.90);

$color-new-orange : #ff9f00;
$color-new-green  : #2C737A;

// transition: all .3s ease-in-out;

%icons { 		
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

%pseudo {
	position: absolute;
	display: block;
	content: "";
}

%center {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

// @include get-sprite($cabinet-spr, arrow);
// $header-spr : sprite-map('icons-header/*.png' , $spacing: 70px);
