.search-block {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.search-block__container-wrap {
	width: 100%;
	overflow-y: auto;
	padding: 20px;
}

.search-block__map-container-lg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.search-block__map-lg {
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
}

.search-block__container {
	position: relative;
	background: #f8f9fa;
	width: 100%;
	max-width: 780px;
	padding: 20px;
	z-index: 1;
}

.search-block__title {
	font-size: 28px;
	@include font(bold);
	margin-bottom: 22px;
}

.search-block__top {
	display: flex;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	padding: 20px;
}

.search-block__nav-list {
	font-size: 0;
}

.search-block__nav-item {
	display: inline-block;
	font-size: 14px;
	margin-right: 20px;
	@include font(semi);
	position: relative;

	&.active {
		color: #FF9F00;

		&:before {
			position: absolute;
			display: block;
			content: "";
			bottom: -5px;
			height: 22px;
			width: 100%;
			top: 100%;
			border-bottom: 3px solid #FF9F00;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.search-block__nav-link {
	display: block;
	@include linksHover();
}

.search-block__add-new-btn {
	@include states {
		@include font(semi);
		margin-left: auto;
		font-size: 14px;
		color: #FF9F00;
		border-bottom: 1px dashed #FF9F00;
		position: relative;

		&:before {
			content: "+ ";
			position: absolute;
			left: -10px;
		}
	}

	@include linksHover();
}

.search-block__mid {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	position: relative;

	&:before {
		@extend %icons;
		left: 20px;
		height: 15px;
		width: 15px;
		background: image-url('svg-icons/big-zoom.png') no-repeat;
		background-size: contain;
		opacity: 0.4;
	}
}

.search-block__form {
	position: relative;	
}

.search-block__search-input {
	width: 100%;
	height: 56px;
	line-height: 55px;
	outline: none;
	border: none;
	background: #fff;
	font-size: 16px;
	padding: 0 46px;
}

.search-block__bot {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.search-block__bot-more-btn {
	@include states {
		flex: 1;
		display: block;
		padding: 20px;
		color: #35bd9f;
		font-size: 14px;
		@include font(semi);
		background: #fff;
		position: relative;

		&:before{
			@extend %icons;
			right: 20px;
			background: image-url('svg-icons/arrow-down_green.svg') no-repeat center;
			background-size: contain;
			width: 11px;
			height: 7px;
		}

		&.open {
			&:before{
				background: image-url('svg-icons/arrow-up_green.svg') no-repeat center;
			}
		}
	}
	@include linksHover();
}

.search-block__filters-wrap {
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;

	&.open {
		max-height: 1000px;
	}
}

.search-block__filters {
	background: #fff;
	padding: 20px 20px 30px 20px;
}

.search-block__filters-list {
	display: flex;
}

.search-block__filters-item {
	margin-right: 40px;
}

.search-block__filters-title {
	font-size: 14px;
	@include font(semi);
	margin-bottom: 12px;
}

.search-block__filters-inner-item {
	margin-bottom: 11px;

	&:last-child {
		margin-bottom: 0;
	}
}

.search-block__filters-label {
	cursor: pointer;
	@include linksHover();
}

.search-block__filters-checkbox {
	display: none;
}

.search-block__filters-label-text {
	font-size: 14px;
	padding-left: 26px;
	position: relative;
}

.search-block__filters-label-text:before {
	@extend %icons;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.search-block__filters-label-text:after {
	@extend %icons;
	left: 3px;
	display: none;
	background: image-url("svg-icons/check_green.svg") no-repeat center;
	width: 11px;
	height: 12px;
	background-size: contain;
}

.search-block__filters-checkbox:checked + .search-block__filters-label-text:after {
	display: block;
}

.search-block__filters-inner-list{
	margin-bottom: 20px;
}

.search-block__filters-servic-title {
	font-size: 14px;
	@include font(semi);
	margin-bottom: 8px;
	width: 100%;
}

.search-block__filters-servic-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.search-block__filters-servic-list {
	margin-right: 60px;
}

.search-block__filters-servic-item {
	font-size: 14px;
	color: #35bd9f;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.search-block__filters-servic-link {
	@include linksHover();
	display: inline-block;
	border-bottom: 1px dashed #35bd9f;
}

.search-block__sort {
	padding: 21px 0;
}

.search-block__sort-title {
	font-size: 14px;
	margin-right: 13px;
}

.search-block__sort-list {
	font-size: 0;
}

.search-block__sort-item {
	font-size: 14px;
	margin-right: 11px;
	display: inline-block;
	color: #FF9F00;

	&.active {
		color: $black30;
	}

	&:last-child {
		margin-right: 0;
	}
}

.search-block__sort-link {
	@include linksHover();
}

.search-block__count {
	margin-left: auto;
	color: $black30;
	@include font(semi);
	font-size: 14px;
}

.search-block__sort {
	display: flex;
	flex-wrap: wrap;
}

.search-block__item {
	background: #fff;
	display: flex;
	margin-bottom: 20px;
	min-height: 304px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	} 

	.best__card-bot-rating {
		margin-bottom: 10px;
	}

	&.border_red {
		background: #FFFCFB;

		.search-block__item-right {
			border: 1px solid #FF9F00;
			border-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
		}
	}

	&.search-block__item_attention {
		.search-block__item-left {
			overflow: visible;
		}

		.search-block__item-right {
			border: 1px solid #E05051;
			border-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
		}

		.img-container {
			background-image: linear-gradient(to left, #285b75, #000000);
			height: 100%;
			overflow: visible;
		}

		.attention {
			bottom: 30px;
			left: 25px;

			.attention-modal {
				transform: none;
				left: 0;

				&:after {
					left: 25%;
				}
			}
		}
	}

	&:not(.border_red):not(.search-block__item_attention) {
		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px solid #ff9f00;
			transition: .3s;
			opacity: 0;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
}

.search-block__item-left {
	flex: 0 0 280px;
	width: 280px;
	position: relative;
	// overflow: hidden;
}

.owl-search__badges {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 30px 20px 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.owl-search__badge {
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 6px 6px 5px 6px;

	&:last-child {
		margin-bottom: 0;
	}

	&.badge_smallfont {
		font-size: 9.6px;
		padding: 6.5px 6px 5.5px 6px;
	}
}

.badge_green {
	background: #713d9e;
}

.search-block__item-newbadges {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.search-block__item-newbadge {
	font-size: 10px;
	letter-spacing: 1px;
	@include font(bold);
	color: #fff;
	margin-bottom: 10px;
	border-radius: 12px;
	padding: 6px 9px 5px 10px;
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		right: 100%;
		margin-right: 13px;
		width: 30px;
		height: 30px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.search-block__item-newbadge_star {
		background: #459123; 

		&:before {
			background: image-url('svg-icons/ico-badge-star.svg') no-repeat;
			background-size: contain;
		}
	}

	&.search-block__item-newbadge_plus {
		background: #d8636c; 

		&:before {
			background: image-url('svg-icons/ico-badge-plus.svg') no-repeat;
			background-size: contain;
		}
	}

	&.search-block__item-newbadge_percent {
		background: #55b0ff; 

		&:before {
			background: image-url('svg-icons/ico-badge-percent.svg') no-repeat;
			background-size: contain;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.owl-search {
	.owl-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left.svg') no-repeat center;
		width: 25px;
		height: 40px;
		background-size: contain;
	}

	.owl-next {
		position: absolute;
		background: image-url('svg-icons/slide-arrow-right.svg') no-repeat center;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		width: 25px;
		height: 40px;
		background-size: contain;
	}
}

.search-block__item-left-heart {
	position: absolute;
	top: 20px;
	display: block;
	left: 30px;
	width: 28px;
	height: 25px;
	background: image-url('svg-icons/heart.svg') no-repeat;
	background-size: contain;
	z-index: 1;
	transition: .3s;

	&:hover,
	&.active {
		background-image: image-url('svg-icons/heart-with-border.svg');
	}
}

.search-block__map-container {
	display: none;
	width: 100%;
	background-size: contain;
	height: 655px;
}

.search-block__map-img {
	width: 100%;
}

.search-block__item-right {
	flex: 1;
	padding: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.search-block__item-tag-list {
	font-size: 0;
	margin-bottom: 10px;
}

.search-block__item-tag-item {
	display: inline-block;
	color: $black25;
	@include font(bold);
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1.4px;
	margin-right: 12px;
}

.search-block__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
	@include linksHover();
	display: inline-block;
}

.search-block__item-adress {
	color: $black40;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 3px;
		width: 8px;
		height: 12px;
		opacity: 0.4;
		background: image-url('svg-icons/map-ico.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-metrovar {
	display: inline-block;
	position: relative;
	color: $black40;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;

	&:before {
		top: 5px;
		position: absolute;
		content: "";
		display: block;
		left: 3px;
		width: 8px;
		height: 8px;
		background: black;
		border-radius: 50%;
	}

	&.red:before {
		background: red;
	}

	&.blue:before {
		background: #239CDC;
	}

	&.yellow:before {
		background: yellow;
	}
}

.search-block__item-metro {
	color: $black40;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 2px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 14px;
		height: 10px;
		background: image-url('svg-icons/logo_mos_metro.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-clock {
	color: #78c150;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 1px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 14px;
		height: 14px;
		background: image-url('svg-icons/clock_green.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-clock-close {
	color: #d0021b;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 1px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 14px;
		height: 14px;
		background: image-url('svg-icons/clock_red.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-free {
	color: #78c150;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 3px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 14px;
		height: 10px;
		background: image-url('svg-icons/check_greenus.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-akcii {
	color: #FF9F00;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 3px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 10px;
		height: 10px;
		opacity: 0.4;
		background: image-url('svg-icons/procent_orange.svg') no-repeat center;
		background-size: contain;
	}
}

.search-block__item-right-bot {
	margin-bottom: -9px;
}

.search-block__item-reklama {
	font-size: 13px;
	letter-spacing: 1.4px;
	@include font(semi);
	text-transform: uppercase;
	color: #FF9F00;
	margin-bottom: 10px;
}

.search-block__more-item-btn {
	@include states {
		font-size: 14px;
		font-family: 'ProximaNova-Bold';
		padding: 17px 24px;
		max-width: 250px;
		width: 100%;
		display: block;
		text-transform: uppercase;
		margin: 0 auto;
		text-align: center;
	}
}

.search-block__list {
	margin-bottom: 30px;
}

.search-interview {
	margin-bottom: 36px;
}

.search-interview__list {
	padding-top: 22px;
}

.search-interview__link {
	display: block;
	@include linksHover();
	position: relative;
}

.search-interview__img {
	width: 100%;
}

.search-interview__item-top {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 30px;
}

.search-interview__item-top-title {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNova-Bold';
	float: left;
	text-transform: uppercase;
}

.search-interview__item-bot {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	min-height: 71%;
	width: 100%;
	bottom: 0;
	padding: 30px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
	}
}

.search-interview__item-bot-badge {
	align-self: baseline;
	margin-bottom: 15px;
	font-size: 12px;
	position: relative;
}

.search-interview__item-bot-name {
	min-height: 66px;
	font-size: 18px;
	position: relative;
	@include font(bold);
	color: #fff;
}

.search-feedbacks__list {
	padding-top: 22px;
}

.search-feedbacks__item-wrap {
	background: #fff;
	padding: 30px 30px 0 30px;
}

.search-feedbacks__item-title {
	font-size: 18px;
	@include font(bold);
	margin-bottom: 10px;
}

.search-feedbacks__item-date {
	color: $black25;
	font-size: 13px;
	margin-bottom: 10px;
}

.search-feedbacks__item-desc {
	font-size: 14px;
	color: $black40;
	height: 68px;
	overflow: hidden;
	margin-bottom: 30px;
}

.search-feedbacks__item-bot {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	margin: 0 -30px;
	padding: 20px 30px;
}

.search-feedbacks__item-all-btn {
	font-size: 14px;
}

.search-feedbacks {
	margin-bottom: 22px;
}

.search-block__item {
	.best__c-b-r-comments {
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 14px;
		}
		@include linksHover();
	}
}

.search-block__sort-list-xs {
	display: none;
}

.map-sticky {
	position: fixed;
}

.map-stop {
	position: absolute;
}

.search-block__item-left > .img-container {
	position: relative;

	width: 100%;
	height: 100%;
	overflow: hidden;

	.owl-search__img {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center top;
	}

	.owl-search__img-in {
		display: none;
	}
}

.search-block__doctors-list {
	.search-block__item-title {
		font-size: 24px;
	}

	.search-block__item-left {
		flex: 0 0 212px;
	}

	.owl-search__badges {
		position: absolute;
		bottom: 0;
		left:0;
		// padding: 0 24px 30px 24px;
	}

	.search-block__item-exp {
		color: $black40;
		margin-bottom: 9px;
		padding-left: 20px;
		font-size: 14px;
		position: relative;

		&:before {
			top: 1px;
			position: absolute;
			content: "";
			display: block;
			left: -3px;
			width: 20px;
			height: 14px;
			background: image-url('svg-icons/medical-bag.svg') no-repeat center;
			background-size: contain;
		}
	}
}

.header__dropdown-content_width {
	width: 292px;
}

.map-modal-solo {
	width: 270px;
	position: absolute;
	z-index: 1;
	margin-top: -12px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

	&:before {
		display: block;
		position: absolute;
		content: '';
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 15px solid #FFF;
	}

	.best__card-bot-rating {
		margin-bottom: 6px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars-wrap {
		margin: 0 -5px 0 -10px;
		transform: scale(0.8);

		.best__c-b-r-stars {
			padding: 0;
		}
	}

	.best__c-b-r-comments {
		@include linksHover();
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 12px;
		}
	}

	.owl-carousel .owl-item {
		-webkit-backface-visibility: visible;
	}
}

.map-modal-info > div {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.map-modal-info {
	.search-block__item-akcii:before {
		top: 2px;
	}

	.search-block__item-akcii {
		padding-left: 17px;
	}
}

.map-modal-solo__bot {
	background: #fff;
	overflow: hidden;
	padding: 11px;

	.search-block__item-clock-close,
	.search-block__item-clock {
		font-size: 12px;
		margin-bottom: 0;
	}

	.search-block__item-clock-close:before,
	.search-block__item-clock:before {
		top: 0;
	}
}

.map-modal-solo__title {
	@include states {
		display: block;
		font-size: 14px;
		margin-bottom: 8px;
		@include font(bold);
	}
	@include linksHover();
}

.owl-map-modal-solo__badges {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 12px;
	margin-bottom: -10px;
}

.owl-map-modal-solo__badge {
	padding: 5px 6px 4px 6px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	font-family: 'ProximaNova-Bold';
	letter-spacing: 1.3px;
	display: block;
	font-size: 8px;
	margin-bottom: 10px;
	float: left;
	clear: both;
}

.map-modal-solo__heart {
	position: absolute;
	top: 15px;
	display: block;
	left: 12px;
	width: 18px;
	height: 16.5px;
	background: image-url('svg-icons/heart.svg') no-repeat;
	background-size: contain;
	@include linksHover();
	z-index: 2;
}

.owl-map-modal-solo {
	.owl-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		background: image-url('svg-icons/slide-arrow-left.svg') no-repeat center;
		width: 18px;
		height: 30px;
		background-size: contain;
	}

	.owl-next {
		position: absolute;
		background: image-url('svg-icons/slide-arrow-right.svg') no-repeat center;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		@include linksHover();
		font-size: 0;
		text-indent: -99999px;
		width: 18px;
		height: 30px;
		background-size: contain;
	}
}

.map-modal-solo__close {
	position: absolute;
	top: 15px;
	right: 12px;
	display: block;
	overflow: hidden;
	width: 18px;
	height: 18px;
	z-index: 2;
	@include linksHover();
}

.map-modal-solo__close::before, 
.map-modal-solo__close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
}

.map-modal-solo__close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.map-modal-solo__close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.map-modal-list {
	width: 447px;
	position: absolute;
	z-index: 1;
	margin-top: -12px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	background: #fff;
	padding-bottom: 20px;

	&:before {
		display: block;
		position: absolute;
		content: '';
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 15px solid #FFF;
	}

	.best__card-bot-rating {
		margin-bottom: 6px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars-wrap {
		margin: 0 -5px 0 -10px;
		transform: scale(0.8);

		.best__c-b-r-stars {
			padding: 0;
		}
	}

	.best__c-b-r-comments {
		@include linksHover();
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 12px;
		}
	}
}

.map-modal-list__top {
	padding: 20px;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 18px;
}

.map-modal-title {
	font-size: 14px;
	color: $black40;
}

.map-modal-list__close {
	position: absolute;
	top: 19px;
	right: 13px;
	display: block;
	overflow: hidden;
	width: 20px;
	height: 20px;
	z-index: 2;
	@include linksHover();
}

.map-modal-list__close::before, 
.map-modal-list__close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: black;
}

.map-modal-list__close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.map-modal-list__close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.map-modal-list__bot {
	padding: 0 13px 0 0px;
}

.map-modal-list__bot-wrap {
	max-height: 370px;
	overflow: auto;	
}

.map-modal-list__item {
	margin-bottom: 15px;
	display: flex;
	border-bottom: 1px solid #ebeced;
	padding-bottom: 15px;
	padding-left: 19px;

	&.map-modal-list__item_attention {
		position: relative;
		border-bottom: 1px solid #d0021b;
		border-top: 1px solid #d0021b;
		padding-top: 15px;
		margin-top: -15px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			background: image-url('svg-icons/warning_orange.svg') no-repeat;
			background-size: cover;
			width: 17px;
			height: 15px;
			bottom: 10px;
			right: 10px;
		}
	}
}

.map-modal-list__left {
	flex: 0 0 50px;
	margin-right: 13px;
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ background-color: #FF9F00; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #FF9F00; }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: red; }

.mCSB_scrollTools .mCSB_draggerRail { background: #f6f6f6 }

.map-modal-xs {
	position: absolute;
	z-index: 1;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	background: #fff;
	padding-bottom: 20px;
	bottom: 15px;
	right: 10px;
	left: 10px;
	margin: 0 auto;

	.best__card-bot-rating {
		margin-bottom: 6px;
	}

	.best__c-b-r-count {
		font-size: 14px;
	}

	.best__c-b-r-stars-wrap {
		margin: 0 -5px 0 -13px;
		transform: scale(0.8);

		.best__c-b-r-stars {
			padding: 0;
		}
	}

	.best__c-b-r-comments {
		@include linksHover();
		@include states {
			color: rgba(0, 0, 0, 0.3);
			font-size: 12px;
		}
	}
}

.map-modal-xs__wrap {
	padding: 0 15px 15px 15px;
}

.map-modal-xs__left {
	flex: 0 0 70px;
	margin-right: 10px;
}

.owl-map-modal-xs__item {
	display: flex;
}

.map-modal-list__right {
	.search-block__item-clock-close,
	.search-block__item-clock {
		font-size: 12px;
		margin-bottom: 0;
	}

	.search-block__item-clock-close:before,
	.search-block__item-clock:before {
		top: 0;
	}
}


.owl-map-modal-xs {
	.map-modal-list__right {
		.search-block__item-free {
			display: block;
		}
	}	

	.search-block__item-free {
		font-size: 12px;
		margin-bottom: 6px;
	}

	.search-block__item-clock-close:before,
	.search-block__item-clock:before {
		top: 0;
	}

	.owl-dots {
		left: 0;
		right: 0;
		display: flex;
		bottom: -25px;
		overflow: hidden;

		.owl-dot {
			background: #d8d8d8;
			flex: 100%;
			margin-right: 15px;
			height: 3px;
			border-radius: 1px;

			span {
				display: none;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background:#FF9F00; 
			}
		}
	}
}

.attention {
	position: absolute;
	cursor: default;
	font-size: 10px;
	@include font(bold);
	letter-spacing: 1.3px;
	border-radius: 3px;
	background: #dd3737;
	color: #fff;
	text-transform: uppercase;
	padding: 4px 5px 3px 27px;

	&:before {
		@extend %icons;
		left: 7px;
		background: image-url('svg-icons/warning_white.svg') no-repeat;
		background-size: contain;
		width: 15px;
		height: 15px;
	}
}

.attention-modal {
	position: absolute;
	display: none;
	width: 320px;
	left: 50%;
	top: 100%;
	margin-top: 11px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px 25px;
	width: 320px;
	z-index: 3;
	transform: translateX(-50%);

	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-transform: none;
	@include font(reg);
	letter-spacing: normal;

	&:after {
		position: absolute;
		top: -8px;
		display: block;
		content: "";
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid rgba(0,0,0,0.8);
	}
}

.map-modal-solo__attention-noimgbg {
	width: 270px;
	height: 185px;
	position: relative;
	background-image: linear-gradient(to left, #285b75, #000000);

	.attention {
		bottom: 20px;
		left: 12px;
	}
}

.map-modal-list__bot-wrap .mCSB_inside > .mCSB_container {
	margin-right: 15px;
}

.search-block__item-right__label-checked {
	padding: 7px 7px;
	background: #FF9F00;
	border-radius: 3px 0 0 3px;
	position: absolute;
	right: -9px;
	top: 10px;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 9px 9px;
		border-color: transparent transparent transparent #a6a6a6;
		right: 0;
		top: 100%;
	}

	.search-block__item-right__label-checked-top {
		font-size: 10px;
		letter-spacing: 1.3px;
		color: #fff;
		text-transform: uppercase;
	}

	.search-block__item-right__label-checked-bot {
		font-size: 10px;
		letter-spacing: 2px;
		color: #fff;
		text-transform: uppercase;
		@include font(ext);
	}
}

.search-block__item-seti-item {
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	@include font(semi);
	margin-bottom: 10px;
	text-decoration: underline;
}

.search-block__item-seti-list {
	margin-bottom: 5px;
}

.search-block__item-seti-link {
	@include linksHover();
}

.search-block__i-money-list {
	color: #000000;
	margin-bottom: 9px;
	padding-left: 20px;
	font-size: 14px;
	position: relative;

	&:before {
		top: 3px;
		position: absolute;
		content: "";
		display: block;
		left: 0;
		width: 10px;
		height: 10px;
		background: image-url('search-page-v2/rub.png') no-repeat;
		background-size: contain;
	}
}

.search-block__i-money-item {
	margin-bottom: 7px;
	display: flex;
	flex-wrap: wrap;
	max-width: 270px;
	align-items: flex-end;

	&:last-child {
		margin-bottom: 0;
	}
}

.search-block__i-money-item-l {
	width: 190px;
	flex: 0 0 auto;

	overflow: hidden;
	margin-right: 2px;
	position: relative;

	span:after {
		content: "...............................................................................................................................";
		white-space: nowrap;
		position: absolute;
		margin-left: 2px;
		pointer-events: none;
	}
}

.search-block__i-money-item-r {
	flex: 0 0 auto;
	white-space: nowrap;
	min-width: 75px;
}