/* select */

.search-block__bot-select {
	&.town + .select2-container {
		width: 194px !important;
		flex: 0 0 194px;
	}

	&.metro + .select2-container {
		width: 166px !important;
		flex: 0 0 166px;
	}

	&.okrug + .select2-container {
		width: 90px !important;
		flex: 0 0 90px;
	}

	&.destrict + .select2-container {
		width: 115px !important;
		flex: 0 0 115px;
	}
}

.search-block__bot-select + .select2-container {
	outline: none;
	display: inline-block;
	@include linksHover();
	
	.select2-selection {
		outline: 1px solid transparent;
		width: 100%;
		height: 56px;
		border-radius: 0;
		border: none;
		border-right: 1px solid rgba(0, 0, 0, 0.07);
		padding: 0 20px;
		line-height: 58px;
		font-size: 14px;
		color: black;
		background: #fff;
		text-align: left;
	}

	.select2-selection__rendered {
		color: black !important;
		width: 100%;
		line-height: inherit !important;
		padding-left: 0 !important;
		padding-right: 0;
	}

	.selection {
		display: block;
		width: 100%;
	}

	.select2-container--focus {
		.select2-selection {
			
		}
	}

	.select2-selection__arrow {
		top: 50% !important;
		right: 20px;
		position: absolute;
		display: block;
		transform: translateY(-50%);
		width: 0px;
		height: 0px;
	}
}

.search-block-dropdown-town,
.search-block-dropdown-metro,
.search-block-dropdown-okrug,
.search-block-dropdown-destrict {
	border: none;
	font-size: 12px;
	@include font(reg);
	width: auto !important;

	.select2-results__option {
		padding: 5px 20px;
	}

	.select2-results__option[aria-selected=true] {
		background-color: #FF9F00;
		color: #fff;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: #656565;
		color: #fff;
	}

	.select2-results__option:first-child {
		display: none;
	}

	.select2-results__option:last-child {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.search-block-dropdown-town {
	min-width: 194px;
}

.search-block-dropdown-metro {
	min-width: 166px;
}

.search-block-dropdown-okrug {
	min-width: 90px;
}

.search-block-dropdown-destrict {
	min-width: 115px;
}


/* select ... end */