/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.search-feedbacks__item-title {
		font-size: 16px;
	}

	.search-feedbacks__item-desc {
		height: 92px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.search-block {
		padding: 0;
		overflow: initial;
		min-height: initial;
	}

	.search-block__container-wrap {
		padding: 0;
		overflow: initial;
	}

	.search-block  {
		background: none !important;
		display: block;
		height: auto;
	}

	.search-block__map-container {
		max-width: 100%;
		position: relative;
		margin: 0;
	}

	.search-block__item {
		.best__c-b-r-stars {
			padding-bottom: 2px;
		}

		.best__c-b-r-comments {
			margin-left: 0;
		}
	}

	.search-interview__item-top {
		padding: 20px;
	}

	.search-interview__item-top-title {
		font-size: 11px;
	}

	.search-interview__item-bot {
		padding: 20px;
	}

	.search-interview__item-bot-name {
		font-size: 17px;
		min-height: 44px;
	}

	.search-interview__item-bot-badge {
		margin-bottom: 10px;
	}

	.search-feedbacks__item-desc {
		height: 102px;
	}

	.search-block__container {
		padding: 20px 15px;
		max-width: 100%;
		width: 750px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}

	.search-block__controls {
		margin: -20px -1500px 0 -1500px;
		padding: 20px 1500px 0 1500px;
		background: #fff;
	}

	.search-block__bot {
		padding: 0 1500px;
		margin: 0 -1500px;
	}

	.search-block__mid {
		padding: 0 1500px;
		margin: 0 -1500px;
	}	

	.search-block__top {
		padding-right: 1500px;
		padding-left: 1500px;
		margin-left: -1500px;
		margin-right: -1500px;
	}

	.search-block__mid:before {
		left: 1500px;
	}

	.search-block__search-input {
		padding-left: 30px;
	}

	.search-block__filters {
		padding-left: 0;
		padding-right: 0;
	}

	.search-block__bot-select.town + .select2-container {
		width: 204px !important;
		flex: 0 0 204px;
		margin-left: -20px;
	}

	.search-block__bot-select.metro + .select2-container {
		width: 176px !important;
		flex: 0 0 176px;
	}

	.search-block__bot-select.okrug + .select2-container {
		width: 100px !important;
		flex: 0 0 100px;
	}

	.search-block__bot-more-btn:before,
	.search-block__bot-more-btn:hover:before, .search-block__bot-more-btn:active:before, .search-block__bot-more-btn:focus:before {
		right: 0;
	}

	.search-block__mobile-controls {
		padding-right: 1500px;
		padding-left: 1500px;
		margin-left: -1500px;
		margin-right: -1500px;
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex !important;
		background: #fff;
		border-bottom: 1px solid #EDEDED;
	}

	.search-block__m-c-list,
	.search-block__m-c-map,
	.search-block__m-c-gps {
		@include states {
			display: block;
			width: 44px;
			height: 44px;
			border-radius: 3px;
			border: 1px solid #eaeaea;
			margin-right: 15px;
			transition: all 0.3s;
			position: relative;
			
			&.active {
				border: 1px solid #FF9F00;
			}

			&:before {
				position: absolute;
				content: "";
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-size: contain;
				transition: all 0.3s;
			}
		}

		&:hover, &:active {
			border: 1px solid #FF9F00;
		}
	}

	.search-block__m-c-list {
		@include states {
			&:before {
				background: image-url('svg-icons/list-gray.svg') no-repeat;
				background-size: contain;
				width: 16px;
				height: 13px;
			}
		}

		&:hover:before, &:active:before, &.active:before {
			background: image-url('svg-icons/list-orange.svg') no-repeat;
			background-size: contain;
		}
	}

	.search-block__m-c-map {
		@include states {
			&:before {
				background: image-url('svg-icons/pipetka-gray.svg') no-repeat;
				background-size: contain;
				width: 13px;
				height: 16px;
			}
		}

		&:hover:before, &:active:before, &.active:before {
			background: image-url('svg-icons/pipetka-orange.svg') no-repeat;
			background-size: contain;
		}
	}

	.search-block__m-c-gps {
		@include states {
			&:before {
				background: image-url('svg-icons/gps-gray.svg') no-repeat;
				background-size: contain;	
				width: 16px;
				height: 16px;
			}
		}

		&:hover:before, &:active:before, &.active:before {
			background: image-url('svg-icons/gps-orange.svg') no-repeat;
			background-size: contain;
		}
	}	

	.search-block__m-c-filters {
		@include states {
			display: block;
			width: 132px;
			height: 44px;
			line-height: 42px;
			border-radius: 3px;
			border: 1px solid #eaeaea;
			margin-left: auto;
			transition: all 0.3s;
			position: relative;
			padding-left: 20px;
			overflow: hidden;
			font-size: 14px;
			@include font(semi);
			color: #b5b5b5;

			&:before {
				position: absolute;
				content: "";
				display: block;
				top: 50%;
				right: 18px;
				transform: translateY(-50%);
				transition: all 0.3s;
				background: image-url('svg-icons/filters-gray.svg') no-repeat;
				background-size: contain;	
				width: 22px;
				height: 15px;
			}
		}

		&:hover, &:active, &.active {
			border: 1px solid #FF9F00;
			color: #FF9F00;
		}

		&:hover:before, &:active:before, &.active:before {
			background: image-url('svg-icons/filters-orange.svg') no-repeat;
			background-size: contain;	
		}
	}	

	.search-block__m-c-gps {
		display: none;
	}		

	.search-block__form {
		display: none;
		padding: 0 1500px;
		margin: 0 -1500px;
		background: rgb(255, 255, 255);
	}

	.search-block__map-container {
		overflow: hidden;
		max-width: none;
		width: initial;
		height: initial;
		max-height: 100%;
		flex: 1;
		z-index: 0;
	}

	body.map-active {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}

	.main.map-active {
		height: initial;
		overflow: initial;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.search-block.map-active {
		flex: 1;
		width: 100%;
		margin-bottom: 0;
	}

	.search-block__container-wrap {
		&.map-active {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	.search-block__container.map-active {
		padding-bottom: 0;
	}

	.search-block__form.map-active {
		position: absolute;
		background: white;
		z-index: 1;
		padding: 0;
		margin: 0;
		left: -1000px;
		right: -1000px;
		padding-left: 1015px;
		padding-right: 1022px;
	}

	html.map-active {
		overflow-x: hidden;
	}


	.search-block__controls.map-active {
		padding-top: 0;
	}

	
	.doctorwork-title {
		font-size: 20px;
		padding: 16px 5px;
	}

	.doctorwork {
		.search-block__item-left {
			flex: 0 0 auto;
			width: 31%;
		}

		.search-block__item-right {
			padding: 7px 12px 15px 12px;
		}

		.owl-search__badges {
			position: relative;
			padding: 0;
		}

		.owl-search__badge {
			font-size: 7px;
			margin-bottom: 8px;
			letter-spacing: 0.9px;
			padding: 3px 4px;
		}

		.search-block__item-left {
			.owl-search__badges {
				display: none;
			}
		}

		.search-block__item-tag-item {
			font-size: 10px;
			margin-bottom: 4px;
			letter-spacing: 0;
			margin-right: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.search-block__item-tag-list {
			margin-bottom: 2px;
		}

		.search-block__item-title {
			font-size: 13px;
			line-height: 17px;
			margin-bottom: 3px;
		}

		.search-block__item-right-bot,
		.search-block__item-adress,
		.search-block__item-metro,
		.search-block__item-metrovar,
		.search-block__item-clock,
		.search-block__item-clock-close {
			display: none;
		}

		.search-block__item {
			min-height: initial;
		}
	}

	.owl-doctorwork .owl-dots {
		display: none;
	}

	.doctorwork-item-block.search-block__item {
		.search-block__item-right {
			padding: 7px 12px 15px 12px;
		}

		.best__c-b-r-count {
			font-size: 12px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.6);
			margin: 0 -24px 0 -25px;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.search-block__doctors-list {
		.search-block__item-left {
			flex: 0 0 96px;
			width: 96px;
		}

		.owl-search__badges {
			position: relative;
			padding: 0;
			bottom: initial;
			width: auto;
		}
	}

	.search-block__container-wrap {
		overflow: initial;
	}

	.search-block  {
		display: block;
		height: auto;
	}

	.search-block__container {
		padding: 20px 15px;
	}

	.search-block__title {
		font-size: 19px;
		margin-bottom: 0;
	}

	.search-block__controls {
		margin: -20px -15px 0 -15px;
		padding: 20px 15px 0 15px;
		background: #fff;
	}

	.search-block__top {
		padding: 20px 15px;
		margin: 0 -15px;
	}

	.search-block__nav-item {
		margin-right: 10px;
		font-size: 13px;
	}

	.search-block__add-new-btn {
		@include states {
			font-size: 13px;
		}
	}

	.search-block__mid,
	.search-block__bot {
		padding: 0 15px;
		margin: 0 -15px;
	}

	.search-block__bot {
		flex-wrap: wrap;
	}

	.search-block__bot-select.town + .select2-container,
	.search-block__bot-select.metro + .select2-container,
	.search-block__bot-select.okrug + .select2-container,
	.search-block__bot-select.destrict + .select2-container {
		width: 100% !important;
		flex: 0 0 100%;
		display: block;
		margin-bottom: 0;
		margin-left: 0;

		.select2-selection {
			border-right: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.07);
		}
	}

	.search-block__bot-select.town + .select2-container .select2-selection, .search-block__bot-select.metro + .select2-container .select2-selection, .search-block__bot-select.okrug + .select2-container .select2-selection, .search-block__bot-select.destrict + .select2-container .select2-selection {
		margin: 0 -15px;
		padding: 0 15px;
		width: auto;
		padding-right: 25px;
	}

	.search-block__bot-select + .select2-container .select2-selection__arrow {
		right: 5px;
	}

	.search-block__bot-more-btn {
		@include states {
			padding: 20px 0;

			&:before {
				right: 0;
			}
		}
	}

	.search-block__form:before {
		left: 0;
	}

	.search-block__search-input {
		padding: 0 25px;
	}

	.search-block-dropdown-town, .search-block-dropdown-metro, .search-block-dropdown-okrug, .search-block-dropdown-destrict {
		width: inherit !important;
		margin-left: -15px;
	}

	.search-block__map-img {
		width: 120%;
		margin: 0 -15px;
	}

	.search-block__filters {
		padding: 20px 0;
	}

	.search-block__filters-list {
		flex-wrap: wrap;
	}
	
	.search-block__filters-item {
		margin-right: 0;
		width: 100%;
		flex: auto;
	}

	.search-block__filters-servic-list {
		margin-right: 0;
		margin-bottom: 8px;
		flex: 100%;
	}

	.search-block__mid-filters-btn {
		width: 23px;
		height: 22px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		background: image-url('svg-icons/filter-outline.svg') no-repeat center;
		background-size: contain;
		@include linksHover();
	}

	.search-block__mid {
		position: relative;
	}

	.search-block__sort-title {
		display: none;
	}
	
	.search-block__sort-title-xs {
		@include linksHover();
		font-size: 13px;
		position: relative;
		padding-right: 15px;

		&:before {
			display: block;
			content: "";
			border-color: black transparent transparent transparent;
			border-style: solid;
			border-width: 6px 3px 0 3px;
			height: 0;
			position: absolute;
			width: 0;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}

		&.open:before {
			border-width: 0px 3px 6px 3px;
			border-color: transparent transparent black transparent;
		}
	}

	.search-block__count {
		font-size: 13px;
	}

	.search-block__sort-list-xs {
		display: none;
		position: absolute;
		z-index: 2;
		top: 45px;
		background: #fff;
		border-radius: 3px;
		padding: 10px;
		box-shadow: 0 0 20px -10px black;
	}

	.search-block__sort-item {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.search-block__sort {
		position: relative;
	}

	.search-block__item-left {
		flex: 0 0 31%;
		width: 31%;
	}

	.search-block__item-right {
		padding: 7px 15px 0px 15px;
	}

	.owl-search__badges {
		position: relative;
		padding: 0;
	}

	.owl-search__badge {
		font-size: 7px;
		margin-bottom: 8px;
		letter-spacing: 0.9px;
		padding: 4px;
	}

	.search-block__item-left {
		.owl-search__badges {
			display: none;
		}

		.owl-prev,
		.owl-next {
			display: none;
		}
	}

	.search-block__item-left-heart {
		top: 15px;
		right: 10%;
	}

	.search-block__item-tag-item {
		font-size: 10px;
		margin-bottom: 2px;
		letter-spacing: 0;
		margin-right: 6px;
	}

	.search-block__item-tag-list {
		margin-bottom: 4px;
	}

	.search-block__item-title {
		font-size: 13px;
		line-height: 17px;
		margin-bottom: 3px;
	}

	.search-block__doctors-list {
		.search-block__item-title {
			font-size: 13px;
		}
	}

	.search-block__item {
		.best__card-bot-rating {
			margin-bottom: 0;
		}

		.best__c-b-r-count {
			font-size: 13px;
		}

		.best__c-b-r-stars-wrap {
			transform: scale(0.65);
			margin: 0 -17px 0 -20px;
		}

		.best__c-b-r-comments {
			@include states {
				font-size: 10px;
			}
		}
	}

	.search-block__item-right-bot,
	.search-block__item-adress,
	.search-block__item-metro,
	.search-block__item-metrovar,
	.search-block__item-clock,
	.search-block__item-clock-close {
		display: none;
	}

	.search-block__item {
		min-height: initial;

		&.border_red {
			border: 1px solid #FF9F00;
			overflow: hidden;

			.search-block__item-right {
				border: none;
				border-radius: 0;
			}
		}
	}

	.search-block__item-reklama {
		font-size: 10px;
		letter-spacing: 0;
		margin-bottom: 4px;
	}

	.search-interview__item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.search-interview__item-top {
		padding: 30px;
	}

	.search-interview__item-bot {
		padding: 30px;
	}

	.search-interview__item-bot-badge {
		margin-bottom: 15px;
	}

	.search-interview__item-bot-name {
		font-size: 18px;
		min-height: initial;
	}

	.search-feedbacks__item-title {
		font-size: 18px;
	}

	.search-feedbacks__item-desc {
		height: 92px;
	}

	.search-feedbacks__item {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.search-block__mid:before {
		left: 15px;
	}

	.search-block__m-c-filters {
		@include states {
			width: 113px;
			font-size: 13px;
			padding-left: 15px;

			&:before {
				width: 22px;
				height: 12px;
				right: 10px;
			}
		}
	}

	.search-block__form {
		// padding-right: 1515px;
	}

	.search-block__item-right-top .owl-search__badge {
		margin-bottom: 1px;

		&:last-child {
			margin-bottom: 8px;
		}
	}

	.search-block__item.search-block__item_attention .search-block__item-right-top .attention {
		position: relative;
		bottom: auto;
		left: auto;
		font-size: 7px;
		margin-bottom: 8px;
		letter-spacing: 0.9px;
		padding: 3px 4px;
		display: inline-block !important;
		padding-left: 18px;

		&:before {
			left: 3px;
			background-size: contain;
			width: 11px;
			height: 11px;
		}
	}

	.search-block__item-seti-list { 
		padding-top: 15px;
	}

	.search-block__item-seti-item {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.search-block__item {
		&:not(.border_red):not(.search-block__item_attention) {
			&:before {
				display: none;
			}
		}
	}
}