.p-afterbefore__content {
	padding: 0 30px 80px 30px;
	margin-bottom: 40px;
	background: #fff;
	overflow: hidden;

	.breadcrumbs-block {
		text-align: center;
		padding-bottom: 15px;
	}
}

.p-afterbefore {
	margin-top: 23px;
}

.p-afterbefore,
.p-aftbeffull,
.article-bot-content {
	.afterbefore__title {
		font-size: 32px;
		@include font(ext);
		margin-bottom: 30px;
		text-align: center;
	}

	.afterbefore__list {
		margin-left: -45px;
		margin-right: -45px;
		margin-bottom: 35px;
	}

	.afterbefore__item {
		margin-bottom: 35px;
		padding: 0 45px;
	}

	.afterbefore__link {
		@include states {
			display: block;
		}
		@include linksHover();
	}

	.afterbefore__img-container {
		margin-bottom: 2px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.afterbefore__date {
		margin-bottom: 5px;
	}

	.afterbefore__item-title {
		font-size: 18px;
		@include font(bold);
		margin-bottom: 7px;
	}

	.afterbefore__item-desc {
		font-size: 14px;
		color: $black40;
		margin-bottom: 13px;
	}

	.afterbefore__img-container_before,
	.afterbefore__img-container_after {
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			height: 100px;
			top: 0;
			width: 100%;
			opacity: 0.65;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
		}
	}
}

.afterbefore__item-badge-after,
.afterbefore__item-badge-before {
	position: absolute;
	left: 18px;
	bottom: 18px;
	background: #FF9F00;
	padding: 6px 10px 5px 10px;
	@include font(bold);
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.3px;
}

.p-afterbefore__nav-container {
	padding-left: 30px;
}

.p-inprice-top__nav.p-afterbefore__nav {
	margin: 0 -30px 35px -30px;
	border-bottom: 1px solid #ebeced;

	.owl-stage {
		margin: 0;
	}

	.p-inprice__nav-item > .dropdown {
		padding-right: 60px;
	}
}
