/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {

}

/* xs */
@media screen and (max-width: 767px) {
	.p-afterbefore {
		margin-top: 0;

		.afterbefore__title {
			text-align: left;
		}
	}

	.p-afterbefore__content .breadcrumbs-block {
		text-align: left;
	}

	.p-afterbefore__content {
		margin-right: -15px;
		margin-left: -15px;
		padding: 0 15px 80px 15px;
	}

	.p-inprice-top__nav.p-afterbefore__nav {
		margin-left: -15px;
		margin-right: -15px;
	}

	.p-afterbefore__nav-container {
		padding-left: 15px;
	}
}