.p-aftbeffull {
	padding: 0 30px 30px 30px;
	background: #fff;
}

.p-aftbeffull__title {
	font-size: 32px;
	@include font(ext);
	margin-bottom: 20px;
}

.p-aftbeffull__doc-list {
	margin-bottom: 30px;
}

.p-aftbeffull__doc-item {
	display: flex;
}

.p-aftbeffull__doc-item-left {
	flex: 0 0 64px;
	margin-right: 15px;
}

.p-aftbeffull__doc-item-img-container {
	overflow: hidden;
	border-radius: 50%;
}

.p-aftbeffull__doc-item-title {
	@include states {
		display: block;
		font-size: 18px;
		@include font(semi);
		margin-bottom: 6px;
		text-decoration: underline;
	}
	@include linksHover();
}

.p-aftbeffull__doc-item-prof {
	font-size: 14px;
	color: #6e6e6e;
	margin-bottom: 6px;
}

.p-aftbeffull__doc-item-desc {
	@include states {
		font-size: 14px;
		color: #b5b5b5;
		text-decoration: underline;
	}
	@include linksHover();
}

.p-aftbeffull__blockquote {
	padding: 35px 60px 30px 95px;
	margin: 0 -30px 40px -30px;
	position: relative;
	border-top: 1px solid #ebeced;
	border-bottom: 1px solid #ebeced;
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;

	&:before {
		content: "‘‘";
		display: block;
		position: absolute;
		top: 33px;
		left: 63px;
		font-size: 48px;
		letter-spacing: -2px;
		@include font(bold);
		color: #FF9F00;
	}
}

.p-aftbeffull__list-title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 20px;
}

.p-aftbeffull__list {
	margin-bottom: 60px;
}

.p-aftbeffull__item {
	margin-bottom: 30px;	
}

.p-aftbeffull__item-title {
	margin-top: 10px;
	font-size: 16px;
	line-height: 24px;
	color: #6e6e6e;
}

.p-aftbeffull__another-title {
	font-size: 24px;
	@include font(bold);
	margin-bottom: 30px;
}

.p-aftbeffull__another-item {
	margin-bottom: 30px;
}

.p-aftbeffull__another-item-item {
	margin-bottom: 30px;
}

.p-aftbeffull__another-item-link {
	@include linksHover();
	font-size: 18px;
	color: #878787;
}

.p-aftbeffull__comments {
	margin-bottom: 90px;
}

.side-another__img-link {
	display: block;
	@include linksHover();
}

.side-another__title {
	font-size: 24px;
	@include font(ext);
	margin-bottom: 23px;
}

.side-another__container {
	background: #fff;
	padding: 25px 30px 60px 30px;
}

.side-another__list {
	margin-bottom: 25px;
}

.side-another__item {
	margin-bottom: 12px;

	> .row {
		margin-right: -7px;
		margin-left: -7px;		
	}
}

.side-another__item-left,
.side-another__item-right {
	padding: 0 7px;
}

.side-another__item-title {
	font-size: 16px;
	@include font(bold);
	margin-bottom: 11px;
}

.side-another__img-container {
	position: relative;

	&:before {
		position: absolute;
		display: block;
		content: "";
		height: 65%;
		top: 0;
		width: 100%;
		opacity: 0.65;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	}
}

.side-another__item-badge-before,
.side-another__item-badge-after {
	position: absolute;
	left: 6px;
	bottom: 6px;
	background: #FF9F00;
	color: #fff;
	text-transform: uppercase;
	@include font(bold);
	font-size: 8px;
	letter-spacing: 0.9px;
	padding: 3px 5px;
	border-radius: 3px;
}

.side-another__bot-title {
	font-size: 14px;
	@include font(bold);
}

.side-another__bot-link {
	@include states {
		text-decoration: underline;
		font-size: 14px;
		color: #FF9F00;
	}
	@include linksHover();
}

.side-another__bot {
	margin-bottom: 55px;
}