/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-aftbeffull__item-title {
		margin-bottom: 15px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-aftbeffull {
		margin: 0 -15px 22px -15px;
		padding: 0 15px 30px 15px;
	}

	.p-aftbeffull__doc-item {
		margin-bottom: 30px;
	}

	.p-aftbeffull__blockquote {
		padding: 35px 15px 30px 35px;
		margin: 0 -15px 40px -15px;

		&:before {
			left: 10px;
		}
	}

	.p-aftbeffull__item-title {
		display: none;
	}

	.p-aftbeffull__another-item {
		margin-bottom: 0;
	}

	.p-aftbeffull__another-item-item {
		margin-bottom: 15px;
	}

	.side-another {
		background: #fff;
		margin-top: -40px;
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px 60px;
	}

	.side-another__container {
		padding: 0;
	}
}